﻿<div class="content row">
    <div class="col-md-12">
        <div class="panel">
            <div class="row">
                <div class="col-md-12 margin-25px">
                    <div class="store-info">User Details</div>
                </div>

                <div class="margin-25px">
                   
                <div class="col-md-6">
                    <div class="form-group">
                        <p>First Name</p>
                        <p type="text" class="form-control">John</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>User Name</p>
                        <p type="text" class="form-control">JSmith</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Last Name</p>
                        <p type="text" class="form-control">Smith</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <p>Roles</p>
                        <div ng-dropdown-required ng-dropdown-multiselect="" name="roles" options="roles" selected-model="updateUser.roles" extra-settings="rolesUpdateDropDownSetting" translation-texts="rolesUpdateButtonText"></div>
                        <p class="required required-red"
                           ng-show="updateUserForm.roles.$invalid && submitted">
                            * At least one role required
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Email Address</p>
                    <div class="form-group">
                        <p type="text" class="form-control">j@smith.com</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="padding-28">
                        <input type="checkbox" name="vehicle" value="Bike" ng-model="updateUser.isActive" disabled> Active User
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Contact #</p>
                        <p type="text" class="form-control">746284636</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Notes</p>
                    <textarea name="notes" ng-model="updateUser.notes" style="min-width: 100%" rows="3" disabled></textarea>
                </div>
                </div>
            </div>
        </div>   
        
    </div>
</div>

