﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Offers Categories</div>
                </div>
                <div class="panel-body">
                    <div class="row mbm" ng-switch="dataLoader">
                        <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                            </div>
                        </div>
                        <div class="text-right form-group">
                            <button ng-click="addCategories()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Add Categories</button>
                        </div>
                        <div class="col-md-12" ng-switch-when=1>

                            <div>
                                <table datatable="" dt-options="dtOptionsOffersCategories" dt-column-defs="dtColumnDefsOfferCategories" class="table table-advanced table-hover table-striped table-responsive table-bordered width-100-percent">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Categories Name</th>
                                            <th>Is Currency</th>
                                            <th>Type</th>
                                            <th>Active On (Offers)</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="category in categories">
                                            <td>{{$index + 1}}</td>
                                            <td>{{category.name}}</td>
                                            <td>
                                                <span>{{category.CategoryUnit == 'CURRENCY'? 'Yes':'No'}}</span>
                                            </td>
                                            <td>
                                                {{category.CategoryType}}
                                            </td>
                                            <td class="alignCenter">
                                                <span>{{category.activeOn > 1 ? category.activeOn + ' offers': category.activeOn > 0 ? category.activeOn + ' offer': '-'}}</span>
                                            </td>
                                            <td class="alignCenter">
                                                <button type="button" class="btn btn-default btn-xs" ng-click="viewCategory(category)">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="editCategory(category)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="deleteCategory($index)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addCategoryDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully added category to the list.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Add Categories</h4>
    </div>
    <form name="addCategory" novalidate>

        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Category Name" ng-model="newCategory.name" name="name" required>
                <p class="required required-red"
                   ng-show="addCategory.name.$invalid && submitted">
                    * Name required
                </p>
            </div>
            <div class="form-group">
                <input type="checkbox" placeholder="isCurrency" ng-model="newCategory.is_currency" name="isCurrency">Is Currency?
            </div>
            <div class="form-group">
                <select class="form-control" name="type" ng-model="newCategory.type" required>
                    <option selected value="">Select type of category</option>
                    <option value="1">Number</option>
                    <option value="2">Text</option>
                </select>
                <p class="required required-red"
                   ng-show="addCategory.type.$invalid && submitted">
                    * Type required
                </p>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="saveNewCategory(addCategory.$valid)" ng-disabled="saveButtonName=='Adding'">
                {{saveButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="saveButtonName=='Adding'"></i>
            </button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="viewCategoryDialog">

    <div class="modal-header">
        <h4 class="modal-title text-center">Category</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3 view-category-label">
                <p><strong>Name</strong></p>
            </div>
            <div class="col-md-7 view-category-value">
                : {{categoryToView.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 view-category-label">
                <p><strong>Is Currency</strong></p>
            </div>
            <div class="col-md-7 view-category-value">
                <span ng-if="categoryToView.is_currency == 1">: Yes</span>
                <span ng-if="categoryToView.is_currency == 2">: No</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 view-category-label">
                <p><strong>Type</strong></p>
            </div>
            <div class="col-md-7 view-category-value">
                <span ng-if="categoryToView.type == 1">: Number</span>
                <span ng-if="categoryToView.type == 2">: Text</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 view-category-label">
                <p><strong>Active On</strong></p>
            </div>
            <div class="col-md-7 view-category-value">
                <span ng-if="categoryToView.activeOn == 1">: {{categoryToView.activeOn}} Offer</span>
                <span ng-if="categoryToView.activeOn > 1">: {{categoryToView.activeOn}} Offers</span>
                <span ng-if="categoryToView.activeOn == 0">: -</span>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editCategoryDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully edited category.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Edit Category</h4>
    </div>
    <form name="editCategory" novalidate>

        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Category Name" ng-model="categoryToEdit.name" name="name" required>
                <p class="required required-red"
                   ng-show="editCategory.name.$invalid && submitted">
                    * Name required
                </p>
            </div>
            <div class="form-group">
                <input type="checkbox" placeholder="isCurrency" ng-model="categoryToEdit.is_currency" name="isCurrency">Is Currency?
            </div>
            <div class="form-group">
                <select class="form-control" name="type" ng-model="categoryToEdit.type" required>
                    <option selected value="">Select type of category</option>
                    <option value="1">Number</option>
                    <option value="2">Text</option>
                </select>
                <p class="required required-red"
                   ng-show="editCategory.type.$invalid && submitted">
                    * Type required
                </p>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="saveEditedCategory(editCategory.$valid)" ng-disabled="editButtonName=='Updating'">
                {{editButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="editButtonName=='Updating'"></i>
            </button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="deleteNotAllowed">

    <div class="modal-header">
        <h4 class="modal-title text-center">Request can not be processed.</h4>
    </div>

    <div class="modal-body">
        You are not allowed to delete the category that has been assigned to offer.
    </div>

</script> 

<script type="text/ng-template" id="deleteCategoryDialog">

    <div ng-show="notDeleted">
        <div class="modal-header">
            <h4 class="modal-title text-center">Are you sure?</h4>
        </div>

        <div class="modal-body">
            Are you sure you want to delete the category? This action is irreversible.
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary orange" ng-click="confirmDelete()">Yes</button>
            <button class="btn btn-primary purple" ng-click="closeConfirmModal()">Cancel</button>
        </div>
    </div>

    <div ng-hide="notDeleted">
        <div class="alert alert-success" ng-show="deleteSuccess">
            <strong>Success!</strong> Successfully deleted category.
        </div>
        <div class="alert alert-danger" ng-hide="deleteSuccess">
            <strong>Failure!</strong> Failed to deleted category.
        </div>
    </div>

</script>
