<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Beacon List</div>
                </div>
                <div class="panel-body">
                    <div class="row mbm" ng-switch="dataLoader">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                <div id="loader">
                                    <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                                </div>
                            </div>
                            <div class="col-md12" ng-switch-when=1>
                                <div class="text-right form-group">
                                    <button ng-click="addBeacon()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Beacon</button>
                                </div>
                                <div>
                                    <!--<div class="table-responsive">-->
                                    <table datatable="" dt-options="dtOptionsBeacons" dt-column-defs="dtColumnDefsBeacons" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                        <thead>
                                            <tr>
                                                <!--<th style="width: 3%; padding: 5px 10px;">
                                                    <input type="checkbox" class="checkall" />
                                                </th>-->
                                                <th>Beacon Number</th>
                                                <th>Beacon Name</th>
                                                <th>Store</th>
                                                <th>Registered Users Today</th>
                                                <th>Registered Users This Week</th>
                                                <th>Registered Users This Month</th>
                                                <th>Total Registered Users</th>
                                                <!--<th>Set Offers</th>-->
                                                <th width="10%">Actions</th>
                                            </tr>
                                        <tbody>

                                            <tr ng-repeat="beacon in beacons">
                                                <!-- <td>
                                                  <input type="checkbox"/>
                                                </td> -->
                                                <td ng-class="beacon.is_workable?'':'row-highlight-color'">
                                                    <a ui-sref="master.viewBeacon({beaconId: beacon.id})">{{beacon.number}}</a>
                                                <td ng-class="beacon.is_workable?'':'row-highlight-color'">{{beacon.name}}</td>
                                                <td ng-class="beacon.is_workable?'':'row-highlight-color'"><a ui-sref="master.storeDetails({storeId: beacon.store.id})">{{beacon.store.name}}</a></td>
                                                <td ng-class="beacon.is_workable?'':'row-highlight-color'">{{beacon.registredUsersToday}}</td>
                                                <td ng-class="beacon.is_workable?'':'row-highlight-color'">{{beacon.registredUsersThisWeek}}</td>
                                                <td ng-class="beacon.is_workable?'':'row-highlight-color'">{{beacon.registredUsersThisMonth}}</td>
                                                <td ng-class="beacon.is_workable?'':'row-highlight-color'">{{beacon.totalRegistredUsers}}</td>
                                                <!--<td><a ng-click="goBeaconDetails(beacon.id)" href="javascript:;">Set Offers</a></td>-->
                                                <td ng-class="beacon.is_workable?'':'row-highlight-color'" class="alignCenter">
                                                    <button type="button" ng-click="beaconDetails(beacon.id)" class="btn btn-default btn-xs">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                    <button type="button" ng-disabled="!beacon.is_workable" class="btn btn-default btn-xs" ng-click="updateBeacon(beacon)">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" ng-disabled="!beacon.is_workable" class="btn btn-default btn-xs" ng-click="deleteBeacon(beacon)">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div ng-switch-when=2>
                                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadBeaconList()" class="highlight text-underline">Try again</a></p>
                            </div>
                            <div ng-switch-default>
                                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadBeaconList()" class="highlight text-underline">Try again</a></p>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addBeaconDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Beacon Added Successfully!
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Add New Beacon</h4>
    </div>
    <form name="addBeacon">
        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Beacon Name" name="BeaconName" ng-model="newBeacon.name" required>
                <p class="required required-red"
                   ng-show="addBeacon.BeaconName.$invalid && submitted">
                    * Beacon Name Required
                </p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Beacon Number" name="BeaconNumber" ng-model="newBeacon.number" required>
                <p class="required required-red"
                   ng-show="addBeacon.BeaconNumber.$invalid && submitted">
                    * Beacon Number Required
                </p>
            </div>
            <div class="form-group">
                <input type="text" maxlength="36" class="form-control" placeholder="Beacon UUID(Optional)" name="BeaconUuid" ng-model="newBeacon.beacon_uuid" ng-pattern="/^[0-9, a-f, A-F]{8}[-][0-9, a-f, A-F]{4}[-][0-9, a-f, A-F]{4}[-][0-9, a-f, A-F]{4}[-][0-9, a-f, A-F]{12}/">
                <p class="required-red" ng-show="addBeacon.BeaconUuid.$error.pattern && submitted">
                    * UUID needs to follow the 8-4-4-4-12 format.
                </p>
            </div>
            <div class="form-group">
                <select class="form-control" ng-options="store.id as store.name for store in stores" name="BeaconStore" ng-model="newBeacon.store.id" required>
                    <option value="">Store</option>
                </select>
                <p class="required required-red"
                   ng-show="addBeacon.BeaconStore.$invalid && submitted">
                    * Please Select Store
                </p>
            </div>
            <div class="text-right form-group">
                <button ng-click="findAddress()" type="button" class="btn btn-primary purple">Find Address</button>
            </div>
            <div class="form-group">
                <input id ="BAddress" type="text" class="form-control" readonly placeholder="Address" name="BAddress" ng-model="newBeacon.address">                
            </div>
            <div class="form-group">
                <input id="notification" type="text" class="form-control" placeholder="Notification to display" name="notification" ng-model="newBeacon.notification">
                <p class="required required-red"
                  ng-show="submitted && (((newBeacon.address.length>0) || (newBeacon.beacon_uuid.length>0))&&((newBeacon.notification=='')||(newBeacon.notification==invalid)))">
                    * Please add notification message
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="saveNewBeacon()" ng-disabled="saveButtonName=='Saving'">
                {{saveButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="saveButtonName=='Saving'"></i>
            </button>
        </div>
    </form>
</script>

<!-- map modal-->
<script type="text/ng-template" id="mapDialog">
    <div class="modal-header">
        <h4 class="modal-title text-center">Find Address</h4>
    </div>
    <form name="mapAddress">
        <div class="row">
            <div class="modal-body">
                <div class="form-group col-md-10">
                    <input id="address" type="text" class="form-control" placeholder="Address" name="address" ng-model="mapModel.address">
                </div>
                <div class="form-group text-right col-md-2">
                    <button id="go" type="button" class="btn btn-primary purple" ng-click="goSearch()">Go</button>
                </div>
            </div>                       
        </div>
    </form>

    <div class="modal-body" style="align-items:center">
        <div id="map" style="height:350px;">           
        </div>        
    </div>   
      
    <form name="mapLatLng">
        <div class="modal-footer">                
            <div id="lat" class="ng-hide" ng-model="mapModel.lat" required></div>
            <div id="lng" class="ng-hide" ng-model="mapModel.lng" required></div>
            <p class="required required-red"
               ng-show="mapModel.lat.$invalid && submitted">
                * Please Select the location
            </p>
            <div id="loc" class="ng-hide" ng-model="mapModel.loc"></div>          
            <button id="useLocation" type="submit" class="btn btn-primary purple" ng-click="geocodeLatLng()">Use Location</button>
        </div>
    </form>
</script>


<!-- Update beacon modal-->
<script type="text/ng-template" id="updateBeaconDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Beacon updated Successfully!
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Update Beacon</h4>
    </div>
    <form name="updateBeacon" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Beacon Name" name="BeaconName" ng-model="editBeaconModel.name" required>
                <p class="required required-red"
                   ng-show="updateBeacon.BeaconName.$invalid && submitted">
                    * Beacon Name Required
                </p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Beacon Number" name="BeaconNumber" ng-model="editBeaconModel.number" required>
                <p class="required required-red"
                   ng-show="updateBeacon.BeaconNumber.$invalid && submitted">
                    * Beacon Number Required
                </p>
            </div>
            <div class="form-group">
                <select class="form-control" ng-options="store.id as store.name for store in stores" name="BeaconStore" ng-model="editBeaconModel.store.id" required>
                    <option value="">Store</option>
                </select>
                <p class="required required-red"
                   ng-show="updateBeacon.BeaconStore.$invalid && submitted">
                    * Please Select Store
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="updateBeaconAPI()" ng-disabled="updateButtonName=='Updating'">
                {{updateButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="updateButtonName=='Updating'"></i>
            </button>
        </div>
    </form>
</script>

<!-- Delete beacon modal-->
<script type="text/ng-template" id="deleteBeaconDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully deleted beacon.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Delete Beacon</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to delete the beacon "{{deleteBeaconModel.name}}"? This action is irreversible.
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="deleteBeaconAPI()" ng-disabled="deleteButtonName=='Deleting'">
                {{deleteButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="deleteButtonName=='Deleting'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeDeleteModal()">Cancel</button>
        </div>
    </div>
</script>


