<div style="background: #EFF9FD;padding: 3%;">
	<div style="padding-bottom: 2%;border-bottom: 1px solid #ddd;">
		<h4 style="color: #3261AD;font-size: 2.4em;margin: 18px 0px;font-family: 'Lato';">An error has occurred.</h4>

		<p style="font-size: 20px;font-family: 'Lato';font-weight: 300;margin: 0px;">Message: </p>{exception.Message}.
		<p style="font-size: 20px;font-family: 'Lato';font-weight: 300;margin: 0px;">ExceptionMessage: </p>{exception.ExceptionMessage}.
		<p style="font-size: 20px;font-family: 'Lato';font-weight: 300;margin: 0px;">ExceptionType: </p>{exception.ExceptionType}.
		<p style="font-size: 20px;font-family: 'Lato';font-weight: 300;margin: 0px;">StackTrace: </p>{exception.StackTrace}.
		<p style="font-size: 20px;font-family: 'Lato';font-weight: 300;margin: 0px;">System: </p>{exception.System}.
		<p style="font-size: 20px;font-family: 'Lato';font-weight: 300;margin: 0px;">IP Address: </p>{exception.IPAddress}.
		<p style="font-size: 20px;font-family: 'Lato';font-weight: 300;margin: 0px;">HelpLink: </p> {exception.HelpLink}.
	</div>
</div>