
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row mbm">
            <div class="col-md-2">
              <img class="img-responsive" ng-src="{{getLuckyItemPic(luckyItemInfo.luckyItems[0].icon)}}">
            </div>
            <div class="col-md-10">
              <h3>{{luckyItemInfo.luckyItems[0].name}} Offer List</h3>
              <p>{{luckyItemInfo.name}}, {{luckyItemInfo.store.name}}, {{luckyItemInfo.store.country.name}}</p>
            </div>
          </div>
          <div class="row mbm">
            <div class="col-md-12">
              <!--<button type="button" class="btn btn-default">Default Offer</button>-->
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a data-target="#activeOffers" data-toggle="tab">Default Offer</a></li>
                </ul>
              <div class="pull-right">
                <button type="button" class="btn btn-primary purple">Change</button>
              </div>            
            </div>
          </div>
          <div class="row mbm form-group">
            <div class="col-md-12">
              <table class="table table-responsive table-advanced">
                <thead>
                  <tr>
                    <th>Offer ID</th>
                    <th>Offer Description</th>
                    <th>Category</th>
                    <th>Registered Users Today</th>
                    <th>Registered Users This Week</th>
                    <th>Registered Users This Month</th>
                    <th>Total Registered Users</th>
                    <th>Created By</th>
                    <th>Created On</th>
                  </tr>
                </thead>
                <tbody>
                  <!--<tr ng-repeat="singleOffer in offer[0]">-->
                    <tr ng-repeat="singleOffer in offer">
                        <td>{{singleOffer.id}}</td>
                        <td>{{singleOffer.description}}</td>
                        <td>{{singleOffer.categories[0].name}}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Joseph Cook</td>
                        <td>{{offer.date | date:'MM/dd/yyyy'}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mbm">
            <div class="col-md-12">
              <!--<div class="btn-group">
                <a role="button" class="btn btn-default">Active Offers</a>
                <a role="button" class="btn btn-default">Offer History</a>
              </div>-->
                <div class="pull-right">
                    <button ng-click="setOffer()" type="button" class="btn btn-primary purple">Activate an offer</button>
                </div>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a data-target="#activeOffers" data-toggle="tab">Active Offers</a></li>
                    <li class=""><a data-target="#offerHistory" data-toggle="tab">Offer History</a></li>
                </ul>
              
                <div id="myTabContent" class="tab-content">
                    <div id="activeOffers" class="tab-pane fade active in">
                        <div class="row mbm">
                            <div class="col-md-12">
                                <table id="table_id" class="table table-responsive table-advanced table-hover table-striped table-advanced">
                                    <thead>
                                        <tr>
                                            <th>Offer ID</th>
                                            <th>Offer Description</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Registered Users Today</th>
                                            <th>Registered Users This Week</th>
                                            <th>Registered Users This Month</th>
                                            <th>Total Registered Users</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="activeOffer in activeOffers">
                                            <td>{{activeOffer.id}}</td>
                                            <td>{{activeOffer.description}}</td>
                                            <td>{{activeOffer.categories[0].name}}</td>
                                            <!--<td class="text-success">Active</td>-->
                                            <td>-</td>
                                            <td>{{activeOffer.startTime}}</td>
                                            <td>{{activeOffer.endTime}}</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="offerHistory" class="tab-pane fade">
                        <div class="row mbm">
                            <div class="col-md-12">
                                <table id="table_id" class="table table-responsive table-advanced table-hover table-striped table-advanced">
                                    <thead>
                                        <tr>
                                            <th>Offer ID</th>
                                            <th>Offer Description</th>
                                            <th>Category</th>
                                            <th>Title</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Registered Users Today</th>
                                            <th>Registered Users This Week</th>
                                            <th>Registered Users This Month</th>
                                            <th>Total Registered Users</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="offerHistory in offersHistory">
                                            <td>{{offerHistory.id}}</td>
                                            <td>{{offerHistory.description}}</td>
                                            <td>{{offerHistory.categories[0].name}}</td>
                                            <td>{{offerHistory.title}}</td>
                                            <td>{{offerHistory.startTime}}</td>
                                            <td>{{offerHistory.endTime}}</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
          </div>
          <!--<div class="row mbm">
            <div class="col-md-12">
              <table id="table_id" class="table table-responsive table-advanced table-hover table-striped table-advanced">
                <thead>
                  <tr>
                    <th>Offer ID</th>
                    <th>Offer Description</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Registered Users Today</th>
                    <th>Registered Users This Week</th>
                    <th>Registered Users This Month</th>
                    <th>Total Registered Users</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C984</td>
                    <td>1000 Points Offer</td>
                    <td>Points</td>
                    <td class="text-success">Active</td>
                    <td>12:00 pm 04/05/2017</td>
                    <td>3:00 pm 04/05/2017</td>
                    <td>56</td>
                    <td>321</td>
                    <td>980</td>
                    <td>1650</td>
                  </tr>
                  <tr>
                    <td>C985</td>
                    <td>1000 Points Offer</td>
                    <td>Points</td>
                    <td>Not Active</td>
                    <td>12:00 pm 04/05/2017</td>
                    <td>3:00 pm 04/05/2017</td>
                    <td>56</td>
                    <td>321</td>
                    <td>980</td>
                    <td>1650</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/ng-template" id="setOfferDialog">
  <div class="modal-header">
      <div class="alert alert-success" ng-show="successAlert">
          <strong>Success!</strong> Successfully activated the offer.
      </div>
      <div class="alert alert-danger" ng-show="faliureAlert">
          <strong>Failure!</strong> Failed to active the offer. Please try again.
      </div>
    <div class="row mbm">
      <div class="col-md-2">
        <img class="img-responsive" ng-src="{{getLuckyItemPic(luckyItemInfo.luckyItems[0].icon)}}">
      </div>
      <div class="col-md-10">
        <h3>{{luckyItemInfo.luckyItems[0].name}} Offer List</h3>
        <p>{{luckyItemInfo.name}}, {{luckyItemInfo.store.name}}, {{luckyItemInfo.store.country.name}}</p>
      </div>
    </div>
  </div>
    <div class="modal-body">              
    <table class="table id="table_id" table-responsive table-advanced table-hover table-striped table-advanced">
        <thead>
          <tr>
            <th>Offer ID</th>
            <th>Offer Description</th>
            <th>Category</th>            
            <th>Start Time</th>
            <th>End Time</th>
            <th>Registered Users Today</th>
            <th>Registered Users This Week</th>
            <th>Registered Users This Month</th>
            <th>Total Registered Users</th>
            <th>Activate</th>
          </tr>
        </thead>
        <tbody>
          <!--<tr ng-repeat="inactiveOffer in inactiveOffers">-->
            <tr>
            <td>{{inactiveOffer.id}}</td>
            <td>{{inactiveOffer.description}}</td>
            <td>{{inactiveOffer.categories[0].name}}</td>            
            <td>{{inactiveOffer.startTime}}</td>
            <td>{{inactiveOffer.endTime}}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td width="15%"><a ng-click="setActive(inactiveOffer.id)" href="javascript:;">Set Active</a></td>
          </tr>
        </tbody>
      </table>   
    </div>
</script> 