﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Anonymous User</div>
                </div>
                <div class="panel-body">
                    <div class="row" ng-switch="tableDataLoader">
                        <div class="text-center loader-fullscreen" id="overlay" ng-switch-when=0>
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                            </div>
                        </div>
                        <div class="col-md-12" ng-switch-when=1>
                            <h4>Activities</h4>
                            <table datatable="" dt-options="dtOptionsNonMemberDetails" dt-column-defs="dtColumnDefsNonMemberUserList" class="table table-advanced table-striped table-responsive table-bordered width-100-percent">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Kiosk</th>
                                        <th>Beacon</th>
                                        <th>Offer Seen</th>
                                        <th>Availed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="userActivity in userActivities">
                                        <td>{{$index + 1}}</td>
                                        <td>{{userActivity.userDate}}</td>
                                        <td>
                                            <div ng-hide="userActivity.device.DeviceType=='KIOSK'">-</div>
                                            <div ng-show="userActivity.device.DeviceType=='KIOSK'"><a ui-sref="master.kioskDetails({kioskId: userActivity.device.id})">{{userActivity.device.name}}</a></div>
                                        </td>
                                        <td>
                                            <div ng-show="userActivity.device.DeviceType=='BEACON'"><a ui-sref="master.viewBeacon({beaconId:userActivity.device.id})">{{userActivity.device.name}}</a></div>
                                            <div ng-hide="userActivity.device.DeviceType=='BEACON'">-</div>
                                        </td>
                                        <td width="25%"><a class="offerTitleElipses" ui-sref="master.offerDetails({ offerId: userActivity.offer.id })">{{userActivity.offer.title}}</a></td>
                                        <td>
                                            <div ng-show="userActivity.is_availed" class="alignCenter"><i class="glyphicon glyphicon-ok" style="color:darkseagreen"></i></div>
                                            <div ng-hide="userActivity.is_availed" class="alignCenter"><i class="glyphicon glyphicon-remove" style="color:red"></i></div>
                                            <span hidden>{{userActivity.is_availed?'Yes':'No'}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                               
                            </table>
                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUserActivities()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUserActivities()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
