
<div class="sidebar-collapse sidebar-scroll">
  <ul id="sidebar-main" ng-menu="" class="nav">
    <li ui-sref-active="" ng-class="sideBarLinkActive('dashboard')"><a ui-sref="master.dashboard" ><i class="icon-speedometer"></i><span class="menu-title">Dashboard</span></a></li>
    <li ui-sref-active="" ng-class="sideBarLinkActive('stores')"><a ui-sref="master.stores"><i class="icon-home"></i><span class="menu-title">My Stores</span></a></li>
    <li ui-sref-active="" ng-class="sideBarLinkActive('kiosks')"><a ui-sref="master.kiosks"><i class="icon-screen-tablet"></i><span class="menu-title">Kiosks</span></a></li>
    <li ui-sref-active="" ng-class="sideBarLinkActive('beacons')"><a ui-sref="master.beacons"><i class="icon-feed"></i><span class="menu-title">Beacons</span></a></li>
    <li ui-sref-active="" ng-class="sideBarLinkActive('offers')"><a ui-sref="master.offers"><i class="icon-star"></i><span class="menu-title">Offers</span></a></li>
    <li ui-sref-active="" ng-class="sideBarLinkActive('users')"><a ui-sref="master.users"><i class="icon-user"></i><span class="menu-title">Users</span></a></li> 
    <li ui-sref-active="" ng-class="sideBarLinkActive('terms')"><a ui-sref="master.terms"><i class="icon-list"></i><span class="menu-title">Terms And Conditions</span></a></li> 
    <li ui-sref-active="" ng-class="sideBarLinkActive('offerCategories')"><a ui-sref="master.offersCategories"><i class="icon-briefcase"></i><span class="menu-title">Offers Categories</span></a></li>
    <li ui-sref-active="" ng-class="sideBarLinkActive('socialLogin')"><a ui-sref="master.socialLogin"><i class="icon-globe"></i><span class="menu-title">Social Login</span></a></li>
    <li ui-sref-active="" ng-class="sideBarLinkActive('offerChecklist')"><a ui-sref="master.offerChecklist"><i class="icon-book-open"></i><span class="menu-title">Coupon Checklist</span></a></li>
    <!-- <li ui-sref-active="" ng-class="sideBarLinkActive('administration')"><a ui-sref="master.administration"><i class="icon-wrench"></i><span class="menu-title">Administration</span></a></li> -->
    <li ui-sref-active="" ng-class="sideBarLinkActive('notifications')"><a ui-sref="master.notifications"><i class="icon-bell"></i><span class="menu-title">Notifications</span></a></li>
    <li ui-sref-active="" ng-class="sideBarLinkActive('pass')"><a ui-sref="master.pass"><i class="glyphicon-th-large"></i><span class="menu-title">Pass</span></a></li>
  </ul>
</div>