<div class="col-md-12 p-0">
    <div class="offerDetail-container">
        <div class="pull-right close-button">
            <a ui-sref="mobile.landing"><i class="fa fa-times"></i></a>
        </div>
        <div class="offer-detail">
            <h4>Congratulations!</h4>
            <p>You just got <span>$500</span></p>
            <p class="redeem-text">Redeem your offer</p>
            <div class="coupon-panel">
                <p>CODE43634E3HC</p>
            </div>
            <div class="bottom-logo">
                <img src="{{accountImg}}" />
            </div>
        </div>
    </div>
</div>