<div class="content">
    <div class="row panel" ng-switch="dataLoader">
        <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay" >
            <div id="loader">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
            </div>
        </div>
        <div class="col-md-12" ng-switch-when=1>
            <div class="col-md-8">
                <h3>{{offerDetails.title}}</h3>
                <div class="store-info"><label class="control-label">Offer Description: </label> {{offerDetails.description}}</div>
            </div>
            <div class="col-md-4 text-right">
                <button data-target="#updateOfferDialog" data-toggle="modal" data-backdrop="static" type="button" class="btn btn-primary purple ng-binding workabble-button-margin" ng-click="setEditOfferModel(offerDetails)" ng-disabled="workableButtonName=='Updating...'">{{updateButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="workableButtonName=='Updating...'"></i></button>
            </div>
            <div>
                <div class="panel panel-defaut col-md-12">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="javascript:;" data-target="#stats" data-toggle="tab">Stats</a></li>
                            <li><a href="javascript:;" data-target="#details" data-toggle="tab">Details</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="stats" class="tab-pane fade active in" ng-switch="offerDashboardDataLoader">
                                <div class="text-center loader-fullscreen" id="overlay" ng-switch-when=0>
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                    </div>
                                </div>                               
                                <div ng-show="offerDashboardDataLoader==1">
                                    <div class="row display-flex">
                                        <div class="col-md-3 flex-column">
                                            <div class="panel panel-success text-align-center panel-bordered full-height">
                                                <div class="panel-body margin-14-0">
                                                    <p title="{{offerDashboardData.registeredUsers}}" class="dashboard-count dashboard-best-beacon">{{offerDashboardData.registeredUsers}}</p>
                                                    <p>Registered Users</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 flex-column">
                                            <div class="panel panel-success text-align-center panel-bordered full-height">
                                                <div class="panel-body margin-14-0">
                                                    <p title="{{offerDashboardData.offerSeenCount}}" class="dashboard-count dashboard-best-beacon">{{offerDashboardData.offerSeenCount}}</p>
                                                    <p>Times the offer has been seen</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 flex-column">
                                            <div class="panel panel-success text-align-center panel-bordered full-height">
                                                <div class="panel-body">
                                                    <p>Currently active on</p>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p title="{{offerDashboardData.kioskCount}}" class="dashboard-count dashboard-best-beacon">{{offerDashboardData.kioskCount}}</p>
                                                            <p>Kiosks</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p title="{{offerDashboardData.beaconCount}}" class="dashboard-count dashboard-best-beacon">{{offerDashboardData.beaconCount}}</p>
                                                            <p>Beacons</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 flex-column">
                                            <div class="panel panel-success text-align-center panel-bordered full-height">
                                                <div class="panel-body margin-14-0">
                                                    <p title="{{offerDashboardData.offerAvailedCount}}" class="dashboard-count dashboard-best-beacon">{{offerDashboardData.offerAvailedCount}}</p>
                                                    <p>People availed the offer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div id="TimeVsRegUsersOfferDetails"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div id="OffersSeenAvailedOfferDetails"></div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                                <div ng-switch-when=1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Availed By</h4>
                                            <div>
                                                <table datatable="" dt-options="dtOptionsWithoutButtons" class="table table-hover table-striped table-advanced table-bordered table-responsive width-100-percent">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Member ID</th>
                                                            <th>Email ID</th>
                                                            <th>Contact #</th>
                                                            <th>Availed At</th>
                                                            <th>Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="user in offerDashboardData.availedBy">
                                                            <td>{{$index+1}}</td>
                                                            <td><a ui-sref="master.userDetails({userId: user.id})">{{user.memberId}}</a></td>
                                                            <td><span ng-repeat="contact in user.contacts"><p ng-show="contact.ContactType=='EMAIL'">{{contact.value}}</p></span></td>
                                                            <td><span ng-repeat="contact in user.contacts"><p ng-show="contact.ContactType=='PHONE'">{{contact.value}}</p></span></td>
                                                            <td><a ui-sref="master.storeDetails({storeId: user.device.store.id})">{{user.device.store.name}}</a></td>
                                                            <td>{{user.userDate}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when=2>
                                    <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferDashboardData()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default>
                                    <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferDashboardData()" class="highlight text-underline">Try again</a></p>
                                </div>                             
                            </div>
                            <div id="details" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="offerPreview" style="background-image: url({{offerImg}});background-size:cover;background-position: 50% 50%;">
                                            <div class="pull-right close-button">
                                                <a><i class="fa fa-times"></i></a>
                                            </div>
                                            <div class="offer-detail-preview">
                                                <p class="fontsize-26-700 marginBottom-10">{{offerDetails.title}}</p>
                                                <!--<p> I will give you <span>$500</span> to play</p>-->
                                                <p class="marginBottom-10">{{offerDetails.description}}</p>
                                                <button class="btn btn-primary orange no-effect-btn" disabled>Accept</button>
                                                <a href="javascript:;" class="no-effect">Not now</a>
                                                <div class="panel-time">
                                                    <p class="CountDownTimer">You offer expires in {{offerDetails.duration}} minute(s)</p>
                                                </div>
                                                <div class="bottom-logo">
                                                    <img src="{{accountImg}}" />
                                                </div>
                                                <div class="termsAndConditionsPreview" data-toggle="modal" data-target="#termsAndConditions" ng-show="offerDetails.termsAndConditions.length>0">
                                                    <span class="tandc no-effect">Terms & Conditions</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<img ng-src="{{offerImg}}" class="img-responsive">-->
                                        <span class="offerPreviewTitle">Offer Preview</span>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row form-group">
                                            <div class="col-md-3">
                                                <label class="control-label">Offer #</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{offerDetails.number}}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-3">
                                                <label class="control-label">Type:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{offerDetails.OfferType}}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label class="control-label">From Date:</label> {{offerDetails.startTime}}
                                                <span class="gap"></span>
                                                <label class="control-label">To Date:</label> {{offerDetails.endTime}}
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-3">
                                                <label class="control-label">Countries:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p ng-repeat="country in offerDetails.countries">{{country.name}}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-3">
                                                <label class="control-label">Duration:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{offerDetails.duration}} mins</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-3">
                                                <label class="control-label">Categories:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p ng-repeat="category in offerDetails.categories">{{category.name}}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-3">
                                                <label class="control-label">Offer Availed:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{offerDashboardData.offerAvailedCount}}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-3">
                                                <label class="control-label">Offer Ignored:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{offerDashboardData.offerIgnoredCountForChart}}</p>
                                            </div>
                                        </div>
                                        <div class="row form-group" ng-show="offerDetails.termsAndConditions.length>0">
                                            <div class="col-md-3">
                                                <label class="control-label">Terms & Conditions:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p ng-repeat="term in offerDetails.termsAndConditions">{{term.title}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
        <div ng-switch-when=2>
            <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferData()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferData()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</div>


<!-- Update offer modal-->
<div id="updateOfferDialog" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade draggable offer-modal">

    <!--top line comment-->
    <!--<div class="alert alert-success" ng-show="successalert">
        <strong>success!</strong> successfully added offer to the list.
    </div>
    <div class="alert alert-danger" ng-show="faliurealert">
        <strong>failure!</strong> {{errormessage}}.
    </div>-->

    <div class="modal-dialog">
        <div class="ngdialog-close modalCloseBtn" ng-click="clearUpdateModal()" data-dismiss="modal"></div>
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-success" ng-show="successAlert">
                    <strong>Success!</strong> Successfully updated offer.
                </div>
                <div class="alert alert-danger" ng-show="faliureAlert">
                    <strong>Failure!</strong> {{errorMessage}}.
                </div>
                <h4 class="modal-title text-center">Update Offer</h4>
            </div>
            <form name="updateOfferForm" ng-submit="submitUpdatedOffer(updateOfferForm)" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <!--<select class="form-control" ng-options="country.id as country.name for country in countries" name="country" ng-model="newOffer.country.id" multiple required>
                                    <option value="">Country</option>
                                </select>-->

                                <select disabled data-actions-box="true" ng-options="offerType.value as offerType.type for offerType in offerTypes" name="offerType" ng-model="editOfferModel.OfferType.value" class="form-control" required>
                                    <option selected value="">Choose offer type</option>
                                </select>
                                <p class="required required-red"
                                   ng-show="updateOfferForm.offerType.$error.required && submitted">
                                    * Offer type required
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <!--<select class="form-control" ng-options="country.id as country.name for country in countries" name="country" ng-model="newOffer.country.id" multiple required>
                                    <option value="">Country</option>
                                </select>-->
                                <div ng-dropdown-required ng-dropdown-multiselect="" name="countries" options="countries" selected-model="editOfferModel.countries" extra-settings="countriesDropDownSetting" translation-texts="countriesButtonText" disabled="true"></div>

                                <!--<select disabled id="countryDropdown" data-actions-box="true" multiple="multiple" ng-options="country as country.name for country in countries" name="country" ng-model="test.countries" title="Choose country..." class="selectpicker form-control" ng-change="changeSelectedCountryCurrency()">
                                    <option value="">All</option>
                                </select>-->
                                <!--<p class="field-info-label">Please select atleast 1 category before selecting country.</p>
                                <p class="field-info-label">Select countries with same currency.</p>
                                <p class="required required-red"
                                   ng-show="updateOfferForm.country.$invalid && submitted">
                                    * Country required
                                </p>
                                <p class="required required-red"
                                   ng-show="InvalidCountryGroupSelected && submitted">
                                    Please select countries of same currency
                                </p>-->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div ng-dropdown-required ng-dropdown-multiselect="" name="countries" options="categories" selected-model="editOfferModel.categories" extra-settings="countriesDropDownSetting" translation-texts="countriesButtonText" disabled="true"></div>

                                <!--<select disabled data-actions-box="true" multiple="multiple" ng-options="category.id as category.name for category in categories" name="category" ng-checked="onSelectListChange()" ng-model="selectedUpdateCategories" title="Choose category..." class="selectpicker form-control">
                                    <option value="">All</option>
                                </select>-->
                                <p class="required required-red"
                                   ng-show="updateOfferForm.category.$invalid && submitted">
                                    * Category required
                                </p>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input disabled type="text" ng-pattern="/^[a-zA-Z0-9_]*$/" class="form-control" placeholder="Offer Number" name="offerNumber" ng-model="editOfferModel.number" required>
                                <p class="required required-red"
                                   ng-show="updateOfferForm.offerNumber.$invalid && submitted">
                                    * Offer number required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 pull-right">
                            <div ng-repeat="category in offer.categories" ng-if="category.is_selected">
                                <!--{{category}}-->
                                <ng-form name="categoryForm">
                                    <div class="width-100-percent" ng-class="{'input-group':category.name == 'Cash'}">

                                        <div class="form-group min-height-34">
                                            <span ng-if="category.name == 'Cash'" class="input-group-addon currency-span">{{selectedCountryCurrency}}</span>
                                            <input ng-if="category.name == 'Cash'" type="text" currency class="width-90-percent form-control " placeholder="{{category.name}}" name="value" ng-model="category.value" required ng-show="category.is_selected" />

                                            <input ng-if="category.name != 'Cash'" type="text" class="form-control " placeholder="{{category.name}}" name="value" ng-model="category.value" required ng-show="category.is_selected" />


                                            <p class="required required-red"
                                               ng-show="categoryForm.value.$invalid && submitted">
                                                * {{category.name}} required
                                            </p>

                                            
                                        </div>
                                    </div>
                                    <div>

                                    </div>
                                </ng-form>
                            </div>
                        </div>

                        <!--<div class="col-md-6 pull-right">

                            <input type="number" class="form-control" placeholder="Value" ng-model="newOffer.value" name="value" required />
                            <p class="required required-red"
                               ng-show="newOfferForm.value.$invalid && submitted">
                                * Value required
                            </p>
                        </div>-->

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Title" name="title" ng-model="editOfferModel.title" required>
                                <p class="required required-red"
                                   ng-show="updateOfferForm.title.$invalid && submitted">
                                    * Title required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description" name="description" ng-model="editOfferModel.description" required>
                                <p class="required required-red"
                                   ng-show="updateOfferForm.description.$invalid && submitted">
                                    * Description required
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input id="offerDatetime" type="text" name="daterangepicker-date-time date" class="form-control" ng-model="date" placeholder="Time & Date" ng-blur="checkDate()" autocomplete="off">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                                <p class="required required-red"
                                   ng-show="dateError && submitted">
                                    * Date required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input id="offerDuration" type="number" name="duration" placeholder="Offer Duration (Minutes)" class="form-control" ng-model="editOfferModel.duration" required>
                                <p class="field-info-label">Offer Duration is the time duration for which user can accept the offer</p>
                                <p class="required required-red"
                                   ng-show="updateOfferForm.duration.$invalid && submitted">
                                    * Offer duration required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!--<select id="countryDropdown" data-actions-box="true" multiple="multiple" ng-options="term.id as term.title for term in termsAndConditions track by term.id"  ng-model="editOfferModel.termsAndConditions" title="Choose terms and conditions..." class="selectpicker form-control" required>
                                    <option value="">All</option>
                                </select>-->
                                <div ng-dropdown-required  ng-dropdown-multiselect="" name="terms" options="termsAndConditions" selected-model="editOfferModel.termsAndConditions"  extra-settings="termsAndConditionDropDownSetting" disable="true" translation-texts="termsAndConditionsButtonText"></div>
                                    <p class="required required-red"
                                       ng-show="updateOfferForm.terms.$invalid && submitted">
                                        * At least one term/condition required
                                    </p>
                                </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="file" id="fileInput" class="form-control" ngf-select file-input="image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearUpdateModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary purple" ng-click="updateNewOffer(updateOfferForm)" ng-disabled="saveButtonName=='Saving'">
                        {{saveButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="saveButtonName=='Saving'"></i>
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>