<div class="content page-profile" >   
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body .profile-page-margin" ng-switch="dataLoading">
            <div ng-switch-when=0 id="overlay">
                <div id="loader">
                    <p class="text-center font-16"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class=""> Loading</span></p>
                </div>
            </div>
          <div class="row" ng-switch-when=1>
            <div class="profile-left-side col-md-3">
              <div class="user-img text-center"><img src={{imgSrc}} class="img-responsive" style="margin: 0 auto;" height="100"/></div>
              <!--<div class="social-icon-group">
                <ul class="social-icons list-unstyled list-inline text-center mbl mtl">
                  <li><a href="javascript:void(0)" data-hover="tooltip" data-original-title="facebook" class="facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="javascript:void(0)" data-hover="tooltip" data-original-title="google Plus" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="javascript:void(0)" data-hover="tooltip" data-original-title="twitter" class="twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>
              </div>
              <div class="text-center"><a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-envelope"></i>&nbsp;
                  Send an email</a></div>-->
            </div>
            <div class="profile-right-side col-md-9">
              <div class="row">
                <div ng-generaltab="" class="col-xs-12">
                  <h3 style="color: #222" class="mbs mlx plm">{{accountDetails.name}}</h3>
                  <div class="row">
                            <div class="col-lg-12">
                              <div class="article article-danger">
                                <div class="article-head">
                                  <h4 class="article-title">Basic Information</h4>
                                </div>
                                <div class="article-body">
                                  <div class="st-section">
                                    <table>
                                      <tbody>
                                          <tr>
                                              <td class="tr-head">Email</td>
                                              <td>{{accountDetails.contact.value}}</td>
                                          </tr>
                                        <tr ng-repeat="accountContact in accountDetails.accountContacts">
                                            <td ng-show="accountContact.ContactType=='WEBSITE'" class="tr-head">Website</td>
                                            <td ng-show="accountContact.ContactType=='TWITTER'" class="tr-head">Twitter</td>
                                            <td ng-show="accountContact.ContactType=='FACEBOOK'" class="tr-head">Facebook</td>
                                            <td>{{accountContact.value}}</td>
                                        </tr> 
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <div class="article-footer">
                                    <button class="btn btn-info btn-sm" ng-click="goToEditProfile()">Edit</button>
                                  </div>
                              </div>
                            </div>                            
                          </div>
                </div>
              </div>
            </div>
          </div>

            <div ng-switch-when=2>
                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
            </div>
            <div ng-switch-default>
                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Work in progress for edit store details modal -->
<script type="text/ng-template" id="updatePorfileDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully updated profile.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Edit Profile</h4>
    </div>
    <form name="editProfileForm" class="form" ng-submit="submitForm(editProfileForm.$valid,editProfileForm)" novalidate>

        <div class="modal-body">
            <div class="form-group">
                <label class="control-label">Company Name</label>
                <input type="text" class="form-control" placeholder="Company Name" name="CompanyName" ng-model="editProfileModel.name" required>
                <p class="required required-red"
                   ng-show="editProfileForm.CompanyName.$invalid && submitted">
                    * Company Name required
                </p>
            </div>
            <div class="form-group">
                <label class="control-label">Website</label>
                <input type="text" class="form-control" placeholder="Website" name="Website" ng-model="editProfileModel.website" required>
                <p class="required required-red"
                   ng-show="editProfileForm.Website.$invalid && submitted">
                    * Website required
                </p>
            </div>
            <div class="form-group">
                <label class="control-label">Company Logo</label>
                <input ng-model="editProfileModel.file" type="file" class="form-control" ngf-select file-input="image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" />
                <!--<p class="required required-red" ng-show="editProfileForm.file.$error.required && submitted">
                    Please upload company logo
                </p>-->
            </div>
            
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeUpdatePorfileModal()">Cancel</button>

            <button type="submit" class="btn btn-primary purple" ng-disabled="editButtonName=='Saving'">
                {{editButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="editButtonName=='Saving'"></i>
            </button>
        </div>
    </form>
</script>