<div class="content" ng-switch="dataLoader">
    <div class="panel content">
        <div class="row">
            <div class="col-md-12 dashboard-name">
                <h1 class="mt-0">Dashboard</h1>
            </div>
         </div>
            <div class="row" ng-switch-when=0>
                <div class="col-md-12 text-center loader-fullscreen" id="overlay">
                    <div id="loader">
                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                    </div>
                </div>
            </div>
            <div ng-switch-when=1>

            </div>
            <div ng-show="dataLoader === 1">
                <div class="row">
                    <!--<div class="col-md-12 dashboard-name">
                        <h1 class="mt-0">Dashboard</h1>
                    </div>-->
                    <div class="col-md-3">
                        <div class="panel panel-success text-align-center panel-bordered">
                            <div class="panel-body cursor-pointer" ng-click="goToUserList()">
                                <p title="{{dashboardData.totalMembers}}" class="dashboard-count dashboard-best-beacon">{{dashboardData.totalMembers}}</p>
                                <p class="dashboard-count-subtitle">{{dashboardData.activeMembers}} Active (last month)</p>
                                <p>Total Members</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-success text-align-center cursor-pointer panel-bordered" ng-click="goToPopularOffer((dashboardData.popularOffer.hasOwnProperty('id'))? dashboardData.popularOffer.id: '')">
                            <div class="panel-body">
                                <p title="{{(dashboardData.popularOffer.hasOwnProperty('number'))? dashboardData.popularOffer.number: 'NA'}}" class="dashboard-count dashboard-best-beacon">{{(dashboardData.popularOffer.hasOwnProperty('number'))? dashboardData.popularOffer.number: "NA"}}</p>
                                <p class="dashboard-count-subtitle">{{(dashboardData.popularOffer.hasOwnProperty('number'))?dashboardData.popularOfferHits: '-'}} Hits</p>
                                <p>Most Popular Offer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-success text-align-center cursor-pointer panel-bordered" ng-click="goToPopularBeacon((dashboardData.popularBeacon.hasOwnProperty('id'))? dashboardData.popularBeacon.id: '')">
                            <div class="panel-body">
                                <p title="{{(dashboardData.popularBeacon.hasOwnProperty('name'))? dashboardData.popularBeacon.name: 'NA'}}" class="dashboard-count dashboard-best-beacon">{{(dashboardData.popularBeacon.hasOwnProperty('name'))? dashboardData.popularBeacon.name: "NA"}}</p>
                                <p class="dashboard-count-subtitle">{{(dashboardData.popularBeacon.hasOwnProperty('name'))?  dashboardData.popularBeacon.store.name + "," : "-"}} {{dashboardData.popularBeacon.store.country.name}}</p>
                                <p>Most Popular Beacon</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-success text-align-center cursor-pointer panel-bordered" ng-click="goToPopularKiosk((dashboardData.popularKiosk.hasOwnProperty('id'))?dashboardData.popularKiosk.id : '')">
                            <div class="panel-body">
                                <p title ="{{(dashboardData.popularKiosk.hasOwnProperty('name'))?dashboardData.popularKiosk.name : 'NA'}}" class="dashboard-count dashboard-best-beacon">{{(dashboardData.popularKiosk.hasOwnProperty('name'))?dashboardData.popularKiosk.name : "NA"}}</p>
                                <p class="dashboard-count-subtitle">{{(dashboardData.popularKiosk.hasOwnProperty('name'))? dashboardData.popularKiosk.store.name + "," : "-" }} {{dashboardData.popularKiosk.store.country.name}}</p>
                                <p>Most Popular Kiosk</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default panel-bordered">
                            <div id="TimeVsRegUsers"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default panel-bordered">
                            <div id="CategoriesVsRegUsers"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default panel-bordered">
                            <div id="AnonymousAndMembers"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default panel-bordered">
                            <div id="OffersSeenAvailed"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch-when=2>
                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
            </div>

            <div ng-switch-default>
                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
            </div>

        </div>

</div>