﻿/*.page-content > .box-content {
    margin: 0 25px;
    padding: 25px 0;
}

.page-content > .box-content > .content {
    display: block;
}*/
#topbar {
    background-color: #533073;
}
#topbar #topbar-menu ul.navbar-nav > li > a:hover, #topbar #topbar-menu ul.navbar-nav > li > a:focus {
    color: #fff;
    background-color: #533073;
}
#topbar #topbar-menu ul.navbar-nav > li.open > a:hover, #topbar #topbar-menu ul.navbar-nav > li.open > a:focus {
    color: #533073;
}
#topbar #topbar-menu ul.navbar-nav.logo-wrapper {
    width: 255px;
}
#page-wrapper {
    background: #F4F4F4;
}
.sidebar-main {
    float: left;
    background-color: #F4F4F4;
}
.page-title-breadcrumb {
    padding: 10px 20px;
    background: #ECEAEA;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 0px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 0px 0 rgba(0, 0, 0, 0.05);
    height: 70px;
}
.page-title-breadcrumb {
    background: #ECEAEA;
    height: 50px;
    margin: 0 25px;
}
.page-title-breadcrumb .breadcrumb {
    float: left;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    padding-top: 8px;
    background: transparent;
    margin-left: 10px;
}
#footer {
    padding-left: 0;
}
#footer .copyright {
    background-color: #fff;
    color: #C1C1C1;
    padding: 15px 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.sidebar-main ul#sidebar-main > li > a {
    padding: 15px 25px;
    color: #757575;
    font-size: 14px;
}
.sidebar-main ul#sidebar-main > li > a:hover, .sidebar-main ul#sidebar-main > li > a:focus {
    color: #777;
}
.powered-by{
    margin: 0 25px;
    padding: 8px 0px;
}
button.btn.purple {
    background-color: #533073;
    border-color: #533073;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: #fff;
    border-radius: 0px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .modal-footer {
    padding: 15px;
    text-align: right;
    padding-top: 0px;
    border-top: none;
}
@media (min-width: 992px){
    .col-5 {
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
}
.sidebar-main ul#sidebar-main > li > a:hover, .sidebar-main ul#sidebar-main > li > a:focus {
    color: #fff;
    background-color: #533073;
}
.sidebar-main ul#sidebar-main > li.active > a {
    background-color: #533073;
    color: #fff;
}
.ngdialog-theme-default.modal-large .ngdialog-content{
    width: 900px;
    padding: 0px;
}
.ngdialog-theme-default.modal-large .ngdialog-content .modal-header {
    background: #f5f5f5;
}
.layout-sidebar-collapsed #wrapper #page-wrapper .sidebar-main ul#sidebar-main > li > a > .menu-title {
    background-color: #F4F4F4;
    color: #757575;
}
.required-red{
     color:red;
     font-size: 11px;
 }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #777777;
    background-color: #fff;
    border: 0px solid #533073;
    border-bottom-color: transparent;
    cursor: default;
    border-top: 3px solid #533073;
}
