﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-9 padding-bottom-12">
                        <div>
                            <h3>Edit Pass</h3>
                        </div>
                        <div>
                            <label class="control-label">Pass ID: </label>  {{passID}}
                        </div>
                        <div>
                            <label class="control-label">Pass Name: </label>  Carnival Cruise Pass
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-right form-group">
                            <button ng-click="goBack()" type="button" class="btn btn-primary purple workabble-button-margin">Cancel</button>
                            <button ng-click="saveSystemPass()" type="button" class="btn btn-primary purple">Save</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="javascript:;" data-target="#basicSetting" data-toggle="tab">Basic Setting</a></li>
                            <li><a href="javascript:;" data-target="#frontContent" data-toggle="tab">Front Content</a></li>
                            <li><a href="javascript:;" data-target="#backContent" data-toggle="tab">Back Content</a></li>
                            <li><a href="javascript:;" data-target="#distribution" data-toggle="tab">Distribution</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="basicSetting" class="tab-pane fade active in">
                                <h1>Basic Setting Tab</h1>
                            </div>
                            <div id="frontContent" class="tab-pane fade">
                                <h1>Front content Tab</h1>
                            </div>
                            <div id="backContent" class="tab-pane fade">
                                <h1>Back contetnt Tab</h1>
                            </div>
                            <div id="distribution" class="tab-pane fade">
                                <h1>Distribution Tab</h1>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
