<div ng-switch="dataLoader" >
    <div ng-switch-when=0 class="text-center loader-fullscreen" id="overlay">
        <div id="loader" class="center-vertically">
            <i style="color:white" class="fa fa-spinner fa-spin fa-4x fa-fw"></i><p style="color:white" class="large-text font-21">Fetching the offers for you...</p>
        </div>
    </div>
    <div ng-switch-when=1>
        <div  class="col-xs-12 p-0 mb-8" ng-repeat="offer in offers">
            <div ng-click="gotoViewOffer(offer.id,offer.categories, offer.imagePath)" class="offer-panel">
                <div class="panel-image">
                    <img class="img-responsive" ng-src='{{getBackgroundPic(offer)}}' />
                </div>
                <div class="panel-text">
                    <p class="bold-title">{{offer.title}}</p>
                    <p class="sub-text">{{offer.description}}</p>
                </div>
                <!--<div class="panel-time">
                    <p>Expires {{getTimeLeft(offer.endTime)}}</p>
                </div>-->
            </div>
        </div>
    </div>
    <div ng-switch-when=2 style="height:100vh">
        <p style="color:white; top:50%" class="col-md-12 font-16 text-center">Looks like there is no offer for you at the moment!!!</p><p style="color:white; top:50%" class="col-md-12 font-16 text-center"> Please try again in some time.</p>
    </div>
    <div ng-switch-default style="height:100vh">
        <p style="color:white; top:50%" class="col-md-12 font-16 text-center">Something went wrong!!!</p><p style="color:white; top:50%" class="col-md-12 font-16 text-center"> Please <a href="javascript:;" ng-click="reloadOfferList()" class="highlight text-underline">Try again</a></p>
    </div>
</div>
<!--<div class="col-xs-12 p-0 mb-8">
    <div ui-sref="mobile.viewOffer" class="offer-panel">
        <div class="panel-image">
            <img class="img-responsive" src="/libs/assets/images/bg2.jpg" />
        </div>
        <div class="panel-text">
            <p class="sub-text">Get 1 ticket FREE</p>
            <p>New Year Concert</p>
        </div>
        <div class="panel-time">
            <p>Valid till 31st Dec</p>
        </div>
    </div>
</div>
<div class="col-xs-12 p-0 mb-8">
    <div ui-sref="mobile.viewOffer" class="offer-panel">
        <div class="panel-image">
            <img class="img-responsive" src="/libs/assets/images/casino.jpg" />
        </div>
        <div class="panel-text">
            <p class="sub-text">Get 1000 points FREE</p>
            <p>Online Gaming</p>
        </div>
        <div class="panel-time">
            <p>4 Hrs Left</p>
        </div>
    </div>
</div>-->