<div class="col-md-12 p-0">
    <div class="offerDetail-container" id="background" style="background: url({{imgsrc}}) no-repeat;background-size:cover; background-repeat:no-repeat; background-position: 50% 50%;">
        <div class="pull-right close-button">
            <a ui-sref="mobile.landing"><i class="fa fa-times"></i></a>
        </div>
        <form name="registrationForm" ng-submit="submitForm(registrationForm.$valid)" novalidate>
            <div class="offer-detail">
                <p>Enter Email</p>
                <p>&</p>
                <span ng-repeat="category in userOffer.categories track by category.id"><p><span ng-show="category.name=='Cash'" class="marginRightNull">{{category.currencySymbol}}</span><span class="marginLefttNull">{{category.value}}</span> {{category.name}}</p></span>
                <p><span class="textWhite marginRightNull" ng-show="userOffer.categories.length>1">are</span><span class="textWhite marginRightNull" ng-show="userOffer.categories.length < 2">is</span> on your way</p>
                <div class="row marginTop-10">
                    <div class="form-group">
                        <input type="email" ng-pattern="/^([\w-\.]+)@((?:[\w]+\.)+)([a-zA-Z]{2,4})/" ng-model="userdetail.email_id" class="form-control" placeholder="Please Enter Email ID" name="email" required ng-required="true" />
                        <p class="warning" ng-show="submitted && registrationForm.email.$invalid">*Please enter valid email address</p>
                    </div>
                </div>

                <!--<div class="row">
                    <div class="form-group">
                        <select class="form-control" name="testList" ng-model="data.selector" ng-options="item.id as item.flagPath for item in countryCodes" required>
                            <option value="">select a value
                            <option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="testList" ng-model="data.selector" ng-options="item.id as item.countryCode for item in countryCodes" required>
                            <option value="">select a value
                            <option>
                        </select>
                    </div>
                </div>-->

                <div class="row">

                    <div class="form-group intlPhone">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <ui-select ng-model="data.selector" theme="select2" ng-disabled="disabled" style="min-width: 75px;" >
                                    <ui-select-match placeholder="Country Code">
                                        <img ng-src="{{flagBasePath + data.selector.flagPath}}" /> {{data.selector.countryCode}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in countryCodes | propsFilter: {name: $select.search, age: $select.search}">
                                        <img ng-src="{{flagBasePath + item.flagPath}}" />
                                        <span>{{item.countryCode}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </span>

                            <input type="tel" id="phone" class="form-control" ng-model="userdetail.phone" placeholder="Please Enter Phone Number" name="contact" required ng-required="true" />
                        </div>
                        <p class="warning" ng-show="submitted && registrationForm.contact.$invalid">*Please enter valid contact number</p>
                        <p class="warning" ng-show="errorMessage">*{{errorResponse}}</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary orange">Avail this offer now!</button>
                <div class="panel-time marginTop-15">
                    <p class="CountDownTimer"></p>
                </div>                
            </div>
        </form>
    </div>
</div>
<script>
    //$("#phone").intlTelInput({
    //    onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    //});
</script>