﻿<script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                    {{heading}}
                </span>
            </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
</script>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <!--<div class="panel-heading">
                    <div class="caption">Administration</div>
                </div>-->
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="javascript:;" data-target="#adminUsers" data-toggle="tab">Users</a></li>
                        <li><a href="javascript:;" data-target="#rolesAndPermissions" data-toggle="tab">Roles & Permissions</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="adminUsers" class="tab-pane fade active in">
                            <!-- Here will be code for list of users-->
                            <div class="row mbm" ng-switch="dataLoader">
                                <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                    </div>
                                </div>
                                <div ng-switch-when=1>
                                    <div class="col-md-8">
                                        <h3>List of users</h3>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <button type="button" class="btn btn-primary purple ng-binding workabble-button-margin" ng-click="openAddUserModal()" ng-disabled="workableButtonName=='Wait...'">+ User<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw ng-hide" ng-show="workableButtonName=='Wait...'"></i></button>
                                    </div>
                                    <div class="col-md-12">
                                        <table datatable="" dt-options="dtOptionsAdministration" dt-column-defs="dtColumnDefsAdministrationUserList" class="table table-advanced table-striped table-hover table-striped table-bordered width-100-percent">
                                            <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Username</th>
                                                    <th>Contact</th>
                                                    <th>Email</th>
                                                    <th>IsActive</th>
                                                    <th width="12%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>John</td>
                                                    <td>Smith</td>
                                                    <td>JSmith</td>
                                                    <td>4038472647</td>
                                                    <td>j@smiths.com</td>
                                                    <td>yes</td>
                                                    <td class="alignCenter">
                                                        <button type="button" class="btn btn-default btn-xs" ui-sref="master.administrationUserDetails">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-xs" ng-click="openUpdateUserModal()">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-xs" ng-click="openDeleteUserModal()">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ng-switch-when=2>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferList()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferList()" class="highlight text-underline">Try again</a></p>
                                </div>
                            </div>
                        </div>
                        <div id="rolesAndPermissions" class="tab-pane fade">
                            <div class="col-md-3">
                                <div class="border-box">
                                    <ul id="rolesTab" class="nav nav-tabs">
                                        <li class="active"><a href="javascript:;" data-target="#adminRoles" data-toggle="tab">Roles</a></li>
                                    </ul>
                                    <div class="tab-content">{{"roleId : " + roleId}}
                                        <p><input type="radio" name="roles" ng-model="roleId" value=1 checked="checked" ng-change="selectRole()"/> Administrator</p>
                                        <p><input type="radio" name="roles" ng-model="roleId" value=2 ng-change="selectRole()"/> Store Admin</p>
                                        <p><input type="radio" name="roles" ng-model="roleId" value=3 ng-change="selectRole()"/> Store Manager</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-9">
                                    <h3>Administrator</h3>
                                    <p>The user type details</p>
                                </div>
                                <div class="col-md-3 text-right">
                                    <button  type="button" class="btn btn-primary purple ng-binding" ng-click="addRole()" ng-disabled="addRoleButtonName=='Updating...'">{{addRoleButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw ng-hide" ng-show="addRoleButtonName=='Proccessing...'"></i></button>
                                    <button class="btn btn-primary purple ng-binding" ng-click="updatePermissions()" ng-disabled="updatePermissionsButtonName=='Updating...'">{{updatePermissionsButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw ng-hide" ng-show="updatePermissionsButtonName=='Updating...'"></i></button>

                                </div>
                                <div class="col-md-12">
                                    <div class="border-box">
                                        <ul id="permissionsTab" class="nav nav-tabs">
                                            <li class="active"><a href="javascript:;" data-target="#adminRoles" data-toggle="tab">Permissions</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="accordionPermissions" class="panel-group accordion accordion-inline">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordionPermissions" data-target="#collapseLogin" class="accordion-toggle collapsed">
                                                                <i class="icon-arrow"></i>Login
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseLogin" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <input type="checkbox" name="loginPermission" ng-value="rolePermissions.login.loginPermission" ng-checked="rolePermissions.login.loginPermission" ng-model="rolePermissions.login.loginPermission">  Login Permission<br>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordionPermissions" data-target="#collapseDashboard" class="accordion-toggle collapsed">
                                                                <i class="icon-arrow"></i>
                                                                Dashboard
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseDashboard" style="height: 0px;" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <input type="checkbox" name="viewDashboard" ng-model="rolePermissions.dashboard.viewDashboard">  View Dasboard<br>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h5 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordionPermissions" data-target="#collapseStore" class="accordion-toggle collapsed">
                                                                <i class="icon-arrow"></i>Store
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseStore" style="height: 0px;" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <input type="checkbox" name="viewStoreList" ng-model="rolePermissions.store.viewStoreList">  View Store List<br>
                                                            <input type="checkbox" name="viewStoreDetails" ng-model="rolePermissions.store.viewStoreDetails">  View Store Details<br>
                                                            <input type="checkbox" name="AddStore" ng-model="rolePermissions.store.addStore">  Add Store<br>
                                                            <input type="checkbox" name="editOrUpdateStore" ng-model="rolePermissions.store.editOrUpdateStore">  Edit/Update Store<br>
                                                            <input type="checkbox" name="deleteStore" ng-model="rolePermissions.store.deleteStore">  Delete Store<br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
<!-- Add User dialog -->
<script type="text/ng-template" id="addUserDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully added user to the list.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Add New User</h4>
    </div>
    <form name="addUserForm" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <p>First Name</p>
                        <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="newUser.firstName" required>
                        <p class="required required-red"
                           ng-show="addUserForm.firstName.$invalid && submitted">
                            * First Name required
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>User Name</p>
                        <input type="text" class="form-control" placeholder="User Name" name="userName" ng-model="newUser.userName" required>
                        <p class="required required-red"
                           ng-show="addUserForm.userName.$invalid && submitted">
                            * User Name required
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Last Name</p>
                        <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-model="newUser.lastName" required>
                        <p class="required required-red"
                           ng-show="addUserForm.lastName.$invalid && submitted">
                            * Last Name required
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <p>Roles</p>
                        <div ng-dropdown-required ng-dropdown-multiselect="" name="roles" options="roles" selected-model="newUser.roles" extra-settings="rolesDropDownSetting" translation-texts="rolesButtonText"></div>
                        <p class="required required-red"
                           ng-show="addUserForm.roles.$invalid && submitted">
                            * At least one role required
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Email Address</p>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email Address" name="email" ng-model="newUser.email" required>
                        <p class="required required-red"
                           ng-show="addUserForm.email.$invalid && submitted">
                            * Email Address required
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="padding-28">
                        <input type="checkbox" name="vehicle" value="Bike" ng-model="newUser.isActive"> Active User
                    </div>
                </div>                
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Contact #</p>
                        <input type="tel" class="form-control" placeholder="Contact" name="contact" ng-model="newUser.contact" required>
                        <p class="required required-red"
                           ng-show="addUserForm.contact.$invalid && submitted">
                            * Contact number required
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Notes</p>
                    <textarea name="notes" ng-model="newUser.notes" style="min-width: 100%" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeAddUserModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="saveNewUser()" ng-disabled="saveButtonName=='Saving'">
                {{saveButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="saveButtonName=='Saving'"></i>
            </button>
        </div>
    </form>
</script>
<!-- update User dialog-->
<script type="text/ng-template" id="updateUserDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully updated user.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Update User</h4>
    </div>
    <form name="updateUserForm" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <p>First Name</p>
                        <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="updateUser.firstName" required>
                        <p class="required required-red"
                           ng-show="updateUserForm.firstName.$invalid && submitted">
                            * First Name required
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>User Name</p>
                        <input type="text" class="form-control" placeholder="User Name" name="userName" ng-model="updateUser.userName" required>
                        <p class="required required-red"
                           ng-show="updateUserForm.userName.$invalid && submitted">
                            * User Name required
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Last Name</p>
                        <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-model="updateUser.lastName" required>
                        <p class="required required-red"
                           ng-show="updateUserForm.lastName.$invalid && submitted">
                            * Last Name required
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <p>Roles</p>
                        <div ng-dropdown-required ng-dropdown-multiselect="" name="roles" options="roles" selected-model="updateUser.roles" extra-settings="rolesUpdateDropDownSetting" translation-texts="rolesUpdateButtonText"></div>
                        <p class="required required-red"
                           ng-show="updateUserForm.roles.$invalid && submitted">
                            * At least one role required
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Email Address</p>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email Address" name="email" ng-model="updateUser.email" required>
                        <p class="required required-red"
                           ng-show="updateUserForm.email.$invalid && submitted">
                            * Email Address required
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="padding-28">
                        <input type="checkbox" name="vehicle" value="Bike" ng-model="updateUser.isActive"> Active User
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Contact #</p>
                        <input type="tel" class="form-control" placeholder="Contact" name="contact" ng-model="updateUser.contact" required>
                        <p class="required required-red"
                           ng-show="updateUserForm.contact.$invalid && submitted">
                            * Contact number required
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>Notes</p>
                    <textarea name="notes" ng-model="updateUser.notes" style="min-width: 100%" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeUpdateUserModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="updateUserAPI()" ng-disabled="updateButtonName=='Saving'">
                {{updateButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="updateButtonName=='Saving'"></i>
            </button>
        </div>
    </form>
</script>
<!-- View User dialog -->

<!-- Delete User dialog-->
<script type="text/ng-template" id="deleteUserDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully deleted user.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Delete User</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to delete the user with username{{deleteUserModel.userName}}? This action is irreversible.
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="deleteUserAPI()" ng-disabled="deleteButtonName=='Deleting'">
                {{deleteButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="deleteButtonName=='Deleting'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeDeleteModal()">Cancel</button>
        </div>
    </div>
</script>

