<div class="col-md-12 p-0">
	<div class="offerDetail-container" style="background: url({{imgsrc}}) no-repeat;background-size:cover; background-repeat:no-repeat; background-position: 50% 50%;">
        <div class="pull-right close-button">
            <a ui-sref="mobile.landing"><i class="fa fa-times"></i></a>
        </div> 
        <div class="offer-detail">
            <p class="fontsize-26-700 marginBottom-10">{{offerToDisplay.title}}</p>
            <!--<p> I will give you <span>$500</span> to play</p>-->
            <p class="marginBottom-10">{{offerToDisplay.description}}</p>
            <button ng-click="gotoUserDetails()" class="btn btn-primary orange">Accept</button>
            <a href="javascript:;" ui-sref="mobile.landing">Not now</a>
            <div class="panel-time">
                <p class="CountDownTimer"></p>
            </div>
        </div> 
              
    </div>
</div>