﻿<div class="content">
    <div ng-switch="dataLoading">
        <div class="col-md-12 panel" >
            <div  ng-switch-when=0>
                <div class="text-center loader-fullscreen" id="overlay">
                    <div id="loader">
                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                    </div>
                </div>
            </div>
            <div ng-switch-when=1>
            </div>         
            <div ng-show="dataLoading===1">
                <div>
                    <p ng-show="!beaconWorkable" class="not-workable-header alert alert-danger">Beacon is not workable</p>
                </div>
                <div class="col-md-9">
                    <div class="col-md-8">
                        <h3 class="col-md-12">{{beaconDetail.name}}</h3>
                        <div class="store-info col-md-12">
                            <label class="control-label">Store: </label> <a ui-sref="master.storeDetails({storeId : beaconDetail.store.id})">{{beaconDetail.store.name}}</a> <label class="control-label">Country: </label> {{beaconDetail.store.country.name}}
                        </div>
                        <!--<div class="store-info col-md-12">
                            <label class="control-label">Beacon Unique ID: </label>{{beaconDetail.beacon_unique_id}}
                        </div>-->
                        <div>
                            <div class="col-md-8 padding-top-10">
                                <span class="displayInlineBlock">Beacon URL <a class="beacon-url" href={{beaconDetail.shortUrl}}>{{beaconDetail.shortUrl}}</a>  </span>
                            </div>
                            <div class="col-md-4 padding-top-10" >
                                <a ng-click="copyUrlToClipboard(beaconDetail.shortUrl, 1)" class="copy button primary cursorPointer" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Copied!">{{copyButtonText}}</a>
                            </div>           
                        </div>
                        <div ng-show="beaconDetail.passUrl.length>0" >
                            <div class="col-md-8 padding-top-10" >
                                <span class="displayInlineBlock">Pass URL <a class="beacon-url" href={{beaconDetail.passUrl}}>{{beaconDetail.passUrl}}</a>  </span>
                            </div>
                            <div class="col-md-4 padding-top-10">
                                <a ng-click="copyUrlToClipboard(beaconDetail.passUrl, 2)" class="copy button primary cursorPointer" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Copied!">{{copyPassUrlButtonText}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 qr-block" ng-show="beaconDetail.shortUrl.length>0">                            
                            <qrcode size="90" error-correction-level="M" data="{{beaconDetail.shortUrl}}" download-size="500" download-name="URLQR {{beaconDetail.name}}" download></qrcode>
                            <h5>Click URL QR Code<br>to download.</h5>                    
                    </div> 
                    <div class="col-md-2 qr-block" ng-show="beaconDetail.passUrl.length>0">
                        <qrcode size="90" error-correction-level="M" data="{{beaconDetail.passUrl}}" download-size="500" download-name="PASSQR {{beaconDetail.name}}" download></qrcode>
                        <h5>Click Pass QR Code<br>to download.</h5>
                    </div>                        
                </div>               
                <div class="col-md-3 text-right">
                    <button type="button" class="btn btn-primary purple ng-binding workabble-button-margin" ng-click="setWorkable()" ng-disabled="workableButtonName=='Wait...'">{{workableButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="workableButtonName=='Wait...'"></i></button>
                </div>
                <div class="col-md-12 panel panel-defaut">
                    <div class="panel-body kioskDetails">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="javascript:;" data-target="#stats" data-toggle="tab">Stats</a></li>
                            <li ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#details" data-toggle="tab" ng-click="showOffers()">Offers</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="stats" class="tab-pane fade active in" ng-switch="beaconDashbordData">
                                <div class="row col-md-12 panel text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12">{{loadingMessage}}</span>
                                    </div>
                                </div>
                                <div ng-switch-when=1>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="panel panel-success text-align-center panel-bordered">
                                                <div class="panel-body">
                                                    <p title="{{beaconDashboardData.totalUsers}}" class="dashboard-count dashboard-best-beacon">{{beaconDashboardData.totalUsers}}</p>
                                                    <p>Total Users</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="panel panel-success text-align-center panel-bordered">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p title="{{beaconDashboardData.members}}" class="dashboard-count dashboard-best-beacon">{{beaconDashboardData.members}}</p>
                                                            <p>Members</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p title="{{beaconDashboardData.nonMembers}}" class="dashboard-count dashboard-best-beacon">{{beaconDashboardData.nonMembers}}</p>
                                                            <p>Non-Members</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="panel panel-success text-align-center panel-bordered cursor-pointer" ng-click="goToPopularOffer(beaconDashboardData.popularOffer.hasOwnProperty('id')?beaconDashboardData.popularOffer.id:'')">
                                                <div class="panel-body">
                                                    <p title="{{beaconDashboardData.popularOffer.hasOwnProperty('number')?beaconDashboardData.popularOffer.number:'-'}}" class="dashboard-count dashboard-best-beacon">{{beaconDashboardData.popularOffer.hasOwnProperty('number')?beaconDashboardData.popularOffer.number:'-'}}</p>
                                                    <p>Most Popular Offer</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div id="TimeVsRegUsers"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div id="CategoriesVsRegUsers"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when=2 class="row col-md-12 panel text-center loader-fullscreen">
                                    <p class="col-md-12 font-16 loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadBeaconDashboardData()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default class="row col-md-12 panel text-center loader-fullscreen">
                                    <p class="col-md-12 font-16 loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadBeaconDashboardData()" class="highlight text-underline">Try again</a></p>
                                </div>
                            </div>
                            <div id="details" class="tab-pane fade">
                                <div ui-view="beaconDetail"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-when=2>
                <p class="font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadBeaconData()" class="highlight text-underline">Try again</a></p>
            </div>
            <div ng-switch-default>
                <p class="font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadBeaconData()" class="highlight text-underline">Try again</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Becon set workable permission modal-->
<script type="text/ng-template" id="setBeaconNonWorkableDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully beacon is set as non workable.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Set Beacon as non workable</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to set the beacon "{{beaconDetail.name}}" as non workable?
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="setWorkableAPI()" ng-disabled="setNonWorkableButtonName=='Processing'">
                {{setNonWorkableButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="setNonWorkableButtonName=='Processing'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeNotWorkableModal()">Cancel</button>
        </div>
    </div>
</script>