
<div class="page-signup">
    <div class="page-form mt-5p">
        <form name="signUpForm" class="form" ng-submit="submitForm(signUpForm.$valid,signUpForm)" novalidate>
            <div class="header-content text-center">
                <div class="alert alert-success" ng-show="successAlert">
                    <strong>Success!</strong> Successfully added new Account.
                </div>
                <div class="alert alert-danger" ng-show="faliureAlert">
                    <strong>Failure!</strong> {{errorMessage}}.
                </div>
                <h1>Create Your Account</h1>
            </div>
            <div class="body-content">
                <div role="alert" class="alert alert-danger alert-dismissible alert-custom hide">
                    <button type="button" data-dismiss="alert" class="close"><span>&times;</span></button>Enter any username and password.
                </div>
                <p class="text-muted">Enter the details below:</p>
                <div class="list-group">
                    <div class="list-group-item">
                        <input type="text" name="companyName" placeholder="Company Name" class="form-control" ng-model="newAccount.name" required />
                        <p class="required required-red"
                           ng-show="signUpForm.companyName.$error.required && submitted">
                            Please enter company name
                        </p>
                    </div>
                    <div class="list-group-item">
                        <input type="text" placeholder="Website" name="website" class="form-control" ng-model="newAccount.website" required />
                        <p class="required required-red"
                           ng-show="signUpForm.website.$error.required && submitted">
                            Please enter company website
                        </p>
                    </div>
                    <div class="list-group-item">
                        <input name="username" type="text" placeholder="Username" class="form-control" ng-model="newAccount.username" required />
                        <p class="required required-red"
                           ng-show="signUpForm.username.$error.required && submitted">
                            Please enter username
                        </p>
                    </div>
                    <div class="list-group-item">
                        <input name="password" type="password" placeholder="Password" class="form-control" ng-model="newAccount.password" required />
                        <p class="required required-red"
                           ng-show="signUpForm.password.$error.required && submitted">
                            Please enter password
                        </p>
                    </div>
                    <div class="list-group-item">
                        <label class="control-label">Company Logo</label>
                        <input ng-model="newAccount.file" type="file" class="form-control" ngf-select file-input="image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" required /> 
                        <p class="required required-red" ng-show="signUpForm.file.$error.required && submitted">
                            Please upload company logo
                        </p>
                    </div>
                </div>
                <!--<div class="form-group">
                  <label>
                    <input required="required" type="checkbox" class="form-control-shadow" />&nbsp;
                    I agree to the <a href='#' class='btn-link'>Terms of Service</a> and <a href='#' class='btn-link'>Privacy Policy</a>
                  </label>
                </div>-->
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button type="submit" class="text-center btn btn-success purple btn-circle btn-block btn-shadow" ng-disabled="registerButtonName=='Registering'">
                            {{registerButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="registerButtonName=='Registering'"></i>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p class="text-muted mtm" ng-show="userExist">You have an account already</p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <button ui-sref="login" class="text-center btn btn-default btn-circle btn-block btn-shadow">Log in</button>
                    </div>
                    <!-- <div class="col-md-12">
                      <p class="mtm text-left"><a href="index.html"><i class="fa fa-long-arrow-left"></i>&nbsp;
                          Back</a></p>
                    </div> -->
                </div>
            </div>
        </form>
    </div>
</div>