﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Terms And Conditions</div>
                </div>
                <div class="panel-body">
                    <div class="row mbm" ng-switch="dataLoader">
                        <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                            </div>
                        </div>
                        <div class="text-right form-group">
                            <button ng-click="addTerms()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Terms And Conditions</button>
                            <button ng-click="uploadTermsConditions()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Import From Excel</button>
                        </div>
                        <div class="col-md-12" ng-switch-when=1>

                            <div class="termsTable">
                                <table datatable="" dt-options="dtOptionsTermsAndConditions" dt-column-defs="dtColumnDefsTermsAndCondtions" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Active On</th>
                                            <th width="10%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="termAndCondition in termsAndConditions">
                                            <td>{{$index + 1}}</td>
                                            <td>{{termAndCondition.title}}</td>
                                            <td>{{termAndCondition.description}}</td>
                                            <td>
                                                <span>{{termAndCondition.validOn > 1 ? termAndCondition.validOn + ' offers': termAndCondition.validOn > 0 ? termAndCondition.validOn + ' offer' : '-'}}</span>
                                            </td>
                                            <td class="alignCenter">
                                                <button ng-click="viewTerms(termAndCondition)" type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <button ng-click="editTerms(termAndCondition)" type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="deleteTerm($index)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center">No Data Present</p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addTermsDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully added term/condition to the list.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Add New Terms And Conditions</h4>
    </div>
    <form name="addTerms" novalidate>

        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" name="Title" ng-model="newTerm.title" required>
                <p class="required required-red"
                   ng-show="addTerms.Title.$invalid && submitted">
                    * Title required
                </p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Description" name="Description" ng-model="newTerm.description" required>
                <p class="required required-red"
                   ng-show="addTerms.Description.$invalid && submitted">
                    * Description required
                </p>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="saveNewTerm(addTerms.$valid)" ng-disabled="saveButtonName=='Adding'">
                {{saveButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="saveButtonName=='Adding'"></i>
            </button>
        </div>
    </form>
</script> 

<script type="text/ng-template" id="deleteTermsDialog">
    
    <div ng-show="notDeleted">
        <div class="modal-header">
            <h4 class="modal-title text-center">Are you sure?</h4>
        </div>

        <div class="modal-body">
            Are you sure you want to delete the term/condition? This action is irreversible.
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary orange" ng-click="confirmDelete()">Yes</button>
            <button class="btn btn-primary purple" ng-click="closeConfirmModal()">Cancel</button>
        </div>
    </div>
    
    <div ng-hide="notDeleted">
        <div class="alert alert-success" ng-show="deleteSuccess" >
            <strong>Success!</strong> Successfully deleted term/condition.
        </div>
        <div class="alert alert-danger" ng-hide="deleteSuccess">
            <strong>Failure!</strong> Failed to deleted term/condition.
        </div>
    </div>

</script> 

<script type="text/ng-template" id="viewTermsDialog">
    
    <div class="modal-header">
        <h4 class="modal-title text-center">Terms And Conditions</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3 view-category-label">
                <p><strong>Title</strong></p>
            </div>
            <div class="col-md-7 view-category-value">
                : {{viewTerm.title}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 view-category-label">
                <p><strong>Description</strong></p>
            </div>
            <div class="col-md-7 view-category-value">
                : {{viewTerm.description}}
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editTermsDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully updated term/condition.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Edit Term/Condition</h4>
    </div>
    <form name="addTerms" novalidate>

        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" name="Title" ng-model="editTerm.title" required>
                <p class="required required-red"
                   ng-show="addTerms.Title.$invalid && submitted">
                    * Title required
                </p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Description" name="Description" ng-model="editTerm.description" required>
                <p class="required required-red"
                   ng-show="addTerms.Description.$invalid && submitted">
                    * Description required
                </p>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="updateTerm(addTerms.$valid)" ng-disabled="editButtonName=='Updating'">
                {{editButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="editButtonName=='Updating'"></i>
            </button>
        </div>
    </form>
</script> 
<script type="text/ng-template" id="deleteNotAllowed">

        <div class="modal-header">
            <h4 class="modal-title text-center">Request can not be processed.</h4>
        </div>

        <div class="modal-body">
            You are not allowed to delete term/condition that has been assigned to offer.
        </div>
</script> 

<script type="text/ng-template" id="uploadTermsAndConditions">

    <div class="alert alert-{{alertMode}}" ng-show="uploaded">
        <strong>{{uploadTitle}}</strong> {{uploadMessage}}
    </div>

    <div class="modal-header">
        <h4 class="modal-title text-center">Import Terms And Conditions</h4>
    </div>

    <div class="modal-body">
        Please make sure the excel file that you are uploading contains 'Title' and 'Description' columns.
        <p class="sample" ng-click="showSample()">*Show sample</p>
    </div>

    <div class="modal-footer">
        <input type="file" accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" ng-model="termsAndConditionsSheet" onchange="angular.element(this).scope().fileNameChanged(this)" />
        <button ng-click="import()" type="button" class="btn btn-primary purple">
            <i class="fa fa-plus" ng-show="uploadButtonName=='Upload'"></i> {{uploadButtonName}}
            <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="uploadButtonName=='Uploading'"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
    </div>

</script>

<script type="text/ng-template" id="showSample">

    <div class="alert alert-{{alertMode}}" ng-show="uploaded">
        <strong>{{uploadTitle}}</strong> {{uploadMessage}}
    </div>

    <div class="modal-header">
        <h4 class="modal-title text-center">Terms And Conditions Sample Sheet</h4>
    </div>

    <div class="modal-body">
        <!--<iframe class="full-width" src="https://docs.google.com/spreadsheets/d/1_z0ARx7i-Mboxw2R-2FNbOEqFW98Zp18EdKWly2jLic/pubhtml?widget=true&amp;headers=false"></iframe>-->
        <iframe class="full-width" src="https://docs.google.com/spreadsheets/d/1BLCn9dw7aH_d9bClbZkw4AxP1JkGoK6-QAKGASXs_xA/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary purple" ng-click="download()"><i class="fa fa-download"></i> Download</button>
        <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
    </div>

</script>