﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Terms And Conditions Sample Sheet</div>
                </div>
                <div class="panel-body">
                    <div class="caption-heading">Steps to follow:</div>
                    <ol class="marginTop-10">
                        <li>
                            The order of the columns does not matter.
                        </li>
                        <li>
                            You have to make sure, the following columns are present:
                            <ul>
                                <li>
                                    <u>Title</u> - This column contains the title for the term/condition.
                                </li>
                                <li>
                                    <u>Description</u> - This column contains the description for the term/condition.
                                </li>
                            </ul>
                        </li>
                        <li>
                            You can add '#' column for your reference. Having this column is not a compulsion.
                        </li>
                    </ol>
                    <div class="caption-heading marginTop-10">Sample Document</div>
                    <iframe class="terms-sample marginTop-10" src="https://docs.google.com/spreadsheets/d/1BLCn9dw7aH_d9bClbZkw4AxP1JkGoK6-QAKGASXs_xA/pubhtml?widget=true&amp;headers=false"></iframe>
                    <p><button class="btn btn-primary purple marginTop-10" ng-click="download()"><i class="fa fa-download"></i> Download</button></p>
                </div>
            </div>
        </div>
    </div>
</div>

