<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">{{luckyItemsList.name}} Lucky Characters Board</div>
        </div>
        <div class="panel-body">
            <div ng-switch="dataLoader">
                <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                    <div id="loader">
                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                    </div>
                </div>
                <div class="row"  ng-switch-when=1>
                    <div class="col-5" ng-repeat="luckyItem in luckyItemsList.luckyItems">
                        <div class="form-group">
                            <a href="javascript:;" ng-click="goSetKioskOffer(luckyItem.id)"><img class="img-responsive" ng-src="{{getLuckyItemPic(luckyItem.icon)}}"></a>
                        </div>
                    </div>
                </div>
                <div ng-switch-when=2>
                    <p class="large-text fa-2x fa-fw col-md-12">Something went wrong!!! Please try again</p>
                </div>
                <div ng-switch-default>
                    <p class="large-text fa-2x fa-fw col-md-12">Something went wrong!!! Please try again</p>
                </div>
                <!--<div class="row" ng-hide="isPresent">
                    No Data To Display
                </div>-->
            </div>
           
        </div>
      </div>
    </div>
  </div>
</div>