<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="caption">{{luckyItemsList.name}} Lucky Characters Board</div>
        </div>
        <div class="panel-body">
          <div class="row" ng-show="isPresent">
            <div class="col-5" ng-repeat="luckyItem in luckyItemsList.luckyItems">
              <div class="form-group">
              <a href="javascript:;" ng-click="goSetKioskOffer(luckyItem.id)"><img class="img-responsive" ng-src="{{getLuckyItemPic(luckyItem.icon)}}" ></a>
              </div>
            </div>
          </div>
            <div class="row" ng-hide="isPresent">
                No Data To Display
            </div>
        </div>
      </div>
    </div>
  </div>
</div>