<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Offer List</div>
                </div>
                <div class="panel-body">
                    <div class="row mbm">
                        <div class="col-md-12">
                            <div class="text-right form-group">
                                <button data-target="#addOfferDialog" data-toggle="modal" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Offer</button>
                            </div>
                            <div class="table-responsive">
                                <table id="table_id" class="table table-advanced table-hover table-striped table-advanced">
                                    <thead>
                                        <tr>
                                            <th>Offer ID</th>
                                            <th>Offer Description</th>
                                            <th>Category</th>
                                            <th>Registered Users Today</th>
                                            <th>Registered Users This Week</th>
                                            <th>Registered Users This Month</th>
                                            <th>Total Users</th>
                                            <th>Status</th>
                                            <th>Created On</th>
                                            <th width="12%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="offer in offers">
                                            <td>{{offer.id}}</td>
                                            <td>{{offer.description}}</td>
                                            <td>{{offer.categories[0].name}}</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>{{offer.createdOn}}</td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addOfferDialog" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade">
<<<<<<< HEAD
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully added offer to the list.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
=======
>>>>>>> b99ffe751d717db367ee36dfcfd92062d1935c0c
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-success" ng-show="successAlert">
                    <strong>Success!</strong> Successfully added store to the list.
                </div>
                <div class="alert alert-danger" ng-show="faliureAlert">
                    <strong>Failure!</strong> {{errorMessage}}.
                </div>
                <h4 class="modal-title text-center">Add New Offer</h4>
            </div>
            <form name="newOfferForm" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!--<select class="form-control" ng-options="category.id as category.name for category in categories" name="category" ng-model="newOffer.category.id" required>
                                    <option value="">Category</option>
                                </select>-->
                                <select data-actions-box="true" multiple="multiple" ng-options="category.id as category.name for category in categories" name="category" ng-model="newOffer.categories" title="Choose category..." class="selectpicker form-control" required>
                                    <option value="">All</option>
                                </select>
                                <p class="required required-red"
                                   ng-show="newOfferForm.category.$invalid && submitted">
                                    * Category required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!--<select class="form-control" ng-options="country.id as country.name for country in countries" name="country" ng-model="newOffer.country.id" multiple required>
                                    <option value="">Country</option>
                                </select>-->
                                <select data-actions-box="true" multiple="multiple" ng-options="country.id as country.name for country in countries" name="country" ng-model="newOffer.countries" title="Choose country..." class="selectpicker form-control" required>
                                    <option value="">All</option>
                                </select>
                                <p class="required required-red"
                                   ng-show="newOfferForm.country.$invalid && submitted">
                                    * Country required
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Offer Number" name="offerNumber" ng-model="newOffer.number" required>
                                <p class="required required-red"
                                   ng-show="newOfferForm.offerNumber.$invalid && submitted">
                                    * Offer number required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 pull-right">
                            <input type="number" class="form-control" placeholder="Value" ng-model="newOffer.value" name="value" required />
                            <p class="required required-red"
                               ng-show="newOfferForm.value.$invalid && submitted">
                                * Value required
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Title" name="title" ng-model="newOffer.title" required>
                                <p class="required required-red"
                                   ng-show="newOfferForm.title.$invalid && submitted">
                                    * Title required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description" name="description" ng-model="newOffer.description" required>
                                <p class="required required-red"
                                   ng-show="newOfferForm.description.$invalid && submitted">
                                    * Description required
                                </p>
                            </div>
                        </div>
                        <label class="col-md-3 control-label">Time &amp; Date</label>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="input-group">
                                    <input id="offerDatetime" type="text" name="daterangepicker-date-time date" class="form-control" ng-model="date" ng-blur="checkDate()" required>
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                                <p class="required required-red"
                                   ng-show="dateError && submitted">
                                    * Date required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="file" class="form-control" ngf-select file-input="image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary purple" ng-click="saveNewOffer()">Save</button>
                </div>
            </form>
            </div>
        </div>
    </div>
