
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body" ng-switch="dataLoading">
           
            <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                <div id="loader">
                   <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i></p>
                </div>
            </div>
           <div ng-switch-when=1>
          <div class="row mbm" >
            <div class="col-md-12">
              <h3>{{beaconInfo.name}} Offer List</h3>
              <p>{{beaconInfo.name}}, {{beaconInfo.store.name}}, {{beaconInfo.store.country.name}}</p>
              <p class="displayInlineBlock">Beacon URL <a class="beacon-url" href={{beaconInfo.shortUrl}}>{{beaconInfo.shortUrl}}</a>  <a ng-click="copyUrlToClipboard(beaconInfo.shortUrl)" class="copy button primary cursorPointer" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="Copied!">{{copyButtonText}}</a></p>
                <!--<span ng-show="showPopUp" class="copyContent-1">Copied</span>-->
            </div>
          </div>
          <div class="row mbm">
            <div class="col-md-12">
                <div class="pull-right">
                    <button ng-click="setDefaultOffer()" type="button" class="btn btn-primary purple">Change</button>
                </div>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a data-target="#activeOffers" data-toggle="tab">Default Offer</a></li>
                </ul>
                          
            </div>
          </div>
          <div class="row form-group" ng-switch="defaultOfferLoader">
              <div ng-switch-when=0 id="overlay">
                  <div id="loader">
                      <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                  </div>
              </div>
            <div class="col-md-12"  ng-switch-when=1>
                <div class="table-responsive">
                    <table id="defaultOffer-table" class="table">
                        <thead>
                            <tr>
                                <th>Offer Number</th>
                                <th>Offer Description</th>
                                <th>Category</th>
                                <th>Offer Type</th>
                                <th>Status</th>
                                <th>Registered Users Today</th>
                                <th>Registered Users This Week</th>
                                <th>Registered Users This Month</th>
                                <th>Total Registered Users</th>
                                <th>Created By</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr ng-repeat="singleOffer in offer[0]">-->
                            <tr>
                                <td>{{offer.number}}</td>
                                <td>{{offer.description}}</td>
                                <td><span ng-repeat="category in offer.categories"><p>{{category.name}}</p></span></td>
                                <td>{{offer.OfferType}}</td>
                                <td>{{isOfferActive(offer.isCurrentlyActive)}}</td>
                                <td>{{offer.registredUsersToday}}</td>
                                <td>{{offer.registredUsersThisWeek}}</td>
                                <td>{{offer.registredUsersThisMonth}}</td>
                                <td>{{offer.totalRegistredUsers}}</td>
                                <td>Joseph Cook</td>
                                <td>{{offer.createdOn | date:'MM/dd/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
              <div ng-switch-when=2>
                  <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadDefaultOffersList()" class="highlight text-underline">Try again</a></p>
              </div>
              <div ng-switch-default>
                  <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadDefaultOffersList()" class="highlight text-underline">Try again</a></p>
              </div>
          </div>
               <hr />
          <div class="row mbm">
            <div class="col-md-12">
              <!--<div class="btn-group">
                <a role="button" class="btn btn-default">Active Offers</a>
                <a role="button" class="btn btn-default">Offer History</a>
              </div>-->
                <div class="pull-right">
                    <button ng-click="setOffer()" type="button" class="btn btn-primary purple">Activate an offer</button>
                </div>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a data-target="#activeOffers" data-toggle="tab">Active Offers</a></li>
                    <li class=""><a data-target="#offerHistory" data-toggle="tab">Offer History</a></li>
                </ul>
              
                <div id="myTabContent" class="tab-content">
                    <div id="activeOffers" class="tab-pane fade active in" ng-switch="activeOfferLoader">
                        <div ng-switch-when=0 id="overlay">
                            <div id="loader">
                                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                            </div>
                        </div>
                        <div class="row mbm" ng-switch-when=1>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="table_id" class="table table-responsive table-advanced table-hover table-striped table-advanced">
                                        <thead>
                                            <tr>
                                                <th>Offer Number</th>
                                                <th>Offer Description</th>
                                                <th>Category</th>
                                                <th>Offer Type</th>
                                                <th>Status</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Registered Users Today</th>
                                                <th>Registered Users This Week</th>
                                                <th>Registered Users This Month</th>
                                                <th>Total Registered Users</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="activeOffer in activeOffers">
                                                <td>{{activeOffer.number}}</td>
                                                <td>{{activeOffer.description}}</td>
                                                <td><span ng-repeat="category in activeOffer.categories"><p>{{category.name}}</p></span></td>
                                                <!--<td class="text-success">Active</td>-->
                                                <td>{{activeOffer.OfferType}}</td>
                                                <td>{{isOfferActive(activeOffer.isCurrentlyActive)}}</td>
                                                <td>{{activeOffer.startTime}}</td>
                                                <td>{{activeOffer.endTime}}</td>
                                                <td>{{activeOffer.registredUsersToday}}</td>
                                                <td>{{activeOffer.registredUsersThisWeek}}</td>
                                                <td>{{activeOffer.registredUsersThisMonth}}</td>
                                                <td>{{activeOffer.totalRegistredUsers}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadActiveOffersList()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadActiveOffersList()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                    <div id="offerHistory" class="tab-pane fade" ng-switch="offerHistoryLoader">
                        <div ng-switch-when=0 id="overlay">
                            <div id="loader">
                                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                            </div>
                        </div>
                        <div class="row mbm" ng-switch-when=1>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="table_id" class="table table-responsive table-advanced table-hover table-striped table-advanced">
                                        <thead>
                                            <tr>
                                                <th>Offer Number</th>
                                                <th>Offer Description</th>
                                                <th>Category</th>
                                                <th>Offer Type</th>
                                                <th>Title</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Registered Users Today</th>
                                                <th>Registered Users This Week</th>
                                                <th>Registered Users This Month</th>
                                                <th>Total Registered Users</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="offerHistory in offersHistory">
                                                <td>{{offerHistory.number}}</td>
                                                <td>{{offerHistory.description}}</td>
                                                <td><span ng-repeat="category in offerHistory.categories"><p>{{category.name}}</p></span></td>
                                                <td>{{offerHistory.OfferType}}</td>
                                                <td>{{offerHistory.title}}</td>
                                                <td>{{offerHistory.startTime}}</td>
                                                <td>{{offerHistory.endTime}}</td>
                                                <td>{{offerHistory.registredUsersToday}}</td>
                                                <td>{{offerHistory.registredUsersThisWeek}}</td>
                                                <td>{{offerHistory.registredUsersThisMonth}}</td>
                                                <td>{{offerHistory.totalRegistredUsers}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOffersHistory()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOffersHistory()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                </div>
            </div>            
          </div>
          <!--<div class="row mbm">
            <div class="col-md-12">
              <table id="table_id" class="table table-responsive table-advanced table-hover table-striped table-advanced">
                <thead>
                  <tr>
                    <th>Offer ID</th>
                    <th>Offer Description</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Registered Users Today</th>
                    <th>Registered Users This Week</th>
                    <th>Registered Users This Month</th>
                    <th>Total Registered Users</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C984</td>
                    <td>1000 Points Offer</td>
                    <td>Points</td>
                    <td class="text-success">Active</td>
                    <td>12:00 pm 04/05/2017</td>
                    <td>3:00 pm 04/05/2017</td>
                    <td>56</td>
                    <td>321</td>
                    <td>980</td>
                    <td>1650</td>
                  </tr>
                  <tr>
                    <td>C985</td>
                    <td>1000 Points Offer</td>
                    <td>Points</td>
                    <td>Not Active</td>
                    <td>12:00 pm 04/05/2017</td>
                    <td>3:00 pm 04/05/2017</td>
                    <td>56</td>
                    <td>321</td>
                    <td>980</td>
                    <td>1650</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>-->
            </div>
            <div ng-switch-when=2>
                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
            </div>
            <div ng-switch-default>
                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="setDefaultOfferDialog">
    <div class="modal-header">
        <div class="alert alert-success" ng-show="successAlert">
            <strong>Success!</strong> Successfully activated the default offer.
        </div>
        <div class="alert alert-danger" ng-show="faliureAlert">
            <strong>Failure!</strong> Failed to active the default offer. Please try again.
        </div>
        <div class="row mbm">
            <div class="col-md-6">
                <h3>{{beaconInfo.name}} Default Offer List</h3>
                <p>{{beaconInfo.name}}, {{beaconInfo.store.name}}, {{beaconInfo.store.country.name}}</p>
            </div>
        </div>
    </div>
    <div ng-switch="nonDefaultOffersLoader"  class="modal-body">
        <div class="text-center loader-modal-fullscreen" ng-switch-when=0 id="overlay">
            <div id="loader">
                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-modal-center"></i></p>
            </div>
        </div>
            <div class="table-responsive">
                <table ng-switch-when="1" class="table id=" table_id" table-responsive table-advanced table-hover table-striped table-advanced">
                    <thead>
                        <tr>
                            <th>Offer Number</th>
                            <th>Offer Description</th>
                            <th>Category</th>
                            <th>Offer Type</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Registered Users Today</th>
                            <th>Registered Users This Week</th>
                            <th>Registered Users This Month</th>
                            <th>Total Registered Users</th>
                            <th>Activate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="nonDefaultOffer in nonDefaultOffers">

                            <td>{{nonDefaultOffer.number}}</td>
                            <td>{{nonDefaultOffer.description}}</td>
                            <td><span ng-repeat="category in nonDefaultOffer.categories"><p>{{category.name}}</p></span></td>
                            <td>{{nonDefaultOffer.OfferType}}</td>
                            <td>{{nonDefaultOffer.startTime}}</td>
                            <td>{{nonDefaultOffer.endTime}}</td>
                            <td>{{nonDefaultOffer.registredUsersToday}}</td>
                            <td>{{nonDefaultOffer.registredUsersThisWeek}}</td>
                            <td>{{nonDefaultOffer.registredUsersThisMonth}}</td>
                            <td>{{nonDefaultOffer.totalRegistredUsers}}</td>
                            <td width="15%"><a ng-click="setNonDefaultActive(nonDefaultOffer.id)" href="javascript:;">Set Active</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div ng-switch-when=2>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</script> 


<script type="text/ng-template" id="setOfferDialog">
  <div class="modal-header">
      <div class="alert alert-success" ng-show="successAlert">
          <strong>Success!</strong> Successfully activated the offer.
      </div>
      <div class="alert alert-danger" ng-show="faliureAlert">
          <strong>Failure!</strong> Failed to active the offer. Please try again.
      </div>
    <div class="row mbm">
      <div class="col-md-12">
        <h3>{{beaconInfo.name}} Offer List</h3>
        <p>{{beaconInfo.name}}, {{beaconInfo.store.name}}, {{beaconInfo.store.country.name}}</p>
      </div>
    </div>
  </div>
    <div class="modal-body" ng-switch="inactiveOffersLoader">
        <div ng-switch-when=0 id="overlay" >
            <div id="loader" class="text-center loader-modal-fullscreen">
                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-modal-center"></i></p>
            </div>
        </div>
            <div class="table-responsive">
                <table ng-switch-when="1" class="table id=" table_id" table-responsive table-advanced table-hover table-striped table-advanced">
                    <thead>
                        <tr>
                            <th>Offer Number</th>
                            <th>Offer Description</th>
                            <th>Category</th>
                            <th>Offer Type</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Registered Users Today</th>
                            <th>Registered Users This Week</th>
                            <th>Registered Users This Month</th>
                            <th>Total Registered Users</th>
                            <th>Activate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="inactiveOffer in inactiveOffers">

                            <td>{{inactiveOffer.number}}</td>
                            <td>{{inactiveOffer.description}}</td>
                            <td><span ng-repeat="category in inactiveOffer.categories"><p>{{category.name}}</p></span></td>
                            <td>{{inactiveOffer.OfferType}}</td>
                            <td>{{inactiveOffer.startTime}}</td>
                            <td>{{inactiveOffer.endTime}}</td>
                            <td>{{inactiveOffer.registredUsersToday}}</td>
                            <td>{{inactiveOffer.registredUsersThisWeek}}</td>
                            <td>{{inactiveOffer.registredUsersThisMonth}}</td>
                            <td>{{inactiveOffer.totalRegistredUsers}}</td>
                            <td width="15%"><a ng-click="setActive(inactiveOffer.id)" href="javascript:;">Set Active</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div ng-switch-when=2>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadInactiveOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadInactiveOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</script> 