<div class="page-signin">
  <div class="page-form">
    <form action="#" class="form">
      <div class="header-content text-center">
        <h1>Forgot Password</h1>
      </div>
      <div class="body-content">
        <div role="alert" class="alert alert-danger alert-dismissible alert-custom hide">
          <button type="button" data-dismiss="alert" class="close"><span>&times;</span></button>Enter any username and password.
        </div>
        <p>Enter your email to reset your password</p>
        <div class="list-group">
          <div class="list-group-item">
            <input type="email" placeholder="Email" class="form-control"/>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success btn-circle btn-block btn-shadow mbs purple">Send</button>
          </div>
          <div class="col-md-12">
            <p class="mtm text-left"><a href="index.html"><i class="fa fa-long-arrow-left"></i>&nbsp;
                Back</a></p>
          </div>
          <!-- <div class="col-sm-7"><a href="#" class="btn btn-social btn-google-plus btn-circle btn-block btn-shadow mbs"><i class="fa fa-google-plus"></i>Login with Google</a></div> -->
        </div>
      </div>
    </form>
  </div>
</div>