<div class="col-md-12 p-0">
    <div ng-switch="dataLoader" class="offerDetail-container" id="background" style="background: url({{imgsrc}}) no-repeat;background-size:cover; background-repeat:no-repeat; background-position: 50% 50%;">
        <div ng-switch-when=0 class="text-center loader-fullscreen" id="overlay">
            <div id="loader" class="center-vertically">
                <i style="color:white" class="fa fa-spinner fa-spin fa-4x fa-fw"></i><p style="color:white" class="large-text font-26"> {{loadingMessage}}</p>
            </div>
        </div>
        <div ng-switch-when=1>
            <div class="pull-right close-button">
                <a data-toggle="modal" data-target="#confirm"><i class="fa fa-times"></i></a>
            </div>
            <form name="registrationForm" ng-submit="submitForm(registrationForm.$valid)" novalidate>
                <div class="offer-detail">
                    <p>Enter Email</p>
                    <p>&</p>
                    <span ng-repeat="category in userOffer.categories track by category.id"><p><span ng-show="category.CategoryUnit=='CURRENCY'" class="marginRightNull">{{userOffer.countries[0].currency}}</span><span class="marginLefttNull">{{category.value}}</span> {{category.name}}</p></span>
                    <p><span class="textWhite marginRightNull" ng-show="userOffer.categories.length>1">are</span><span class="textWhite marginRightNull" ng-show="userOffer.categories.length < 2">is</span> on your way</p>
                    <div class="row marginTop-10">
                        <div class="form-group">
                            <input type="email" ng-pattern="/^([\w-\.]+)@((?:[\w]+\.)+)([a-zA-Z]{2,4})/" ng-model="userdetail.email_id" class="form-control" placeholder="Please Enter Email ID" name="email" required ng-required="true" />
                            <p class="warning" ng-show="submitted && registrationForm.email.$invalid">*Please enter valid email address</p>
                        </div>
                    </div>

      
                    <div class="row">

                        <div class="form-group intlPhone">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <ui-select ng-model="country.selecter" theme="select2" ng-disabled="disabled" style="min-width: 75px;" name="ipCountryCode" required ng-required="true">
                                        <ui-select-match placeholder="Country Code" >
                                            <img ng-src="{{flagBasePath + country.selecter.flagPath}}" /> {{country.selecter.countryCode}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in countryCodes | propsFilter: {name: $select.search, age: $select.search}">
                                            <img ng-src="{{flagBasePath + item.flagPath}}" />
                                            <span>{{item.countryCode}}</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </span>

                                <input type="number" ng-pattern="" id="phone" class="form-control" ng-model="userdetail.phone" placeholder="Please Enter Phone Number" name="contact" required ng-required="true" />
                            </div>
                            <div>
                            <p class="warning" ng-show="submitted && (registrationForm.ipCountryCode.$invalid || registrationForm.contact.$invalid)">*Please select country code and enter valid contact number.</p>
                            <p class="warning" ng-show="errorMessage">*{{errorResponse}}</p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary orange" ng-disabled="submitButtonName=='Please wait ...'">{{submitButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="submitButtonName=='Please wait ...'"></i></button>
                        <!--<button type="reset" class="btn btn-primary orange" ng-show="errorAccepting" ng-click="gotoGetMemberId()">Enter member ID</button>-->
                        <div ng-show="socialDataLoaderFlag">
                            <div class="marginTop-15 font-18" style="color:white">
                                ..... Or Sign In with .....
                            </div>
                            <div class="marginTop-15" id="socialLogin">
                            </div>

                        </div>
                    

                    <div class="panel-time marginTop-15">
                        <p class="CountDownTimer"></p>
                    </div>  
                    <div class="bottom-logo">
                        <img src="{{accountImg}}" />
                    </div>              
                </div>
            </form>
        </div>
        <div ng-switch-when=2 style="height:100vh">
            <p style="color:white; top:50%" class="col-md-12 font-16 text-center">Something went wrong!!!</p><p style="color:white; top:50%" class="col-md-12 font-16 text-center"> Please <a href="javascript:;" ng-click="reloadCountries()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default style="height:100vh">
            <p style="color:white; top:50%" class="col-md-12 font-16 text-center">Something went wrong!!!</p><p style="color:white; top:50%" class="col-md-12 font-16 text-center"> Please <a href="javascript:;" ng-click="reloadCountries()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>

    <div class="modal fade" id="confirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Offer will be discarded. Are you sure you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="gotoLanding()">Leave</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Stay</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    //$("#phone").intlTelInput({
    //    onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    //});
</script>