﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Coupon Checklist</div>
                </div>
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="javascript:;" data-target="#checkOfferCode" data-toggle="tab">Check Coupon Code</a></li>
                        <li ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#redeemedOffers" data-toggle="tab">Redeemed Coupons</a></li>
                        <li ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#redFlaggedCoupons" data-toggle="tab">Red Flagged Coupons</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="checkOfferCode" class="tab-pane fade active in">
                            <div class="row mbm" ng-switch="dataLoader">
                                <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-switch-when=1>
                                    <div class="alert alert-danger" ng-show="faliureAlert">
                                        <strong>Failure!</strong> {{errorMessage}}.
                                    </div>
                                    <form name="offerCodeForm" class="form offerCheckList-couponCodeCenter loader-fullscreen" ng-submit="submitForm(offerCodeForm.$valid,offerCodeForm)" novalidate>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter coupon Code" name="OfferCode" ng-model="offerCode.code" required>
                                            <p class="required required-red"
                                               ng-show="offerCodeForm.OfferCode.$invalid && submitted">
                                                * Coupon code required
                                            </p>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary purple width-100-percent">
                                                Get Details
                                            </button>
                                        </div>
                                    </form>

                                </div>
                                <div ng-switch-when="2">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Availed at:</label> {{userCouponCodeData.userOfferDetails.userDate}}
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Interacted with (Kiosk/Beacon):</label> <a ui-sref="master.viewBeacon({beaconId: userCouponCodeData.device.id})" ng-show="userCouponCodeData.userOfferDetails.device.DeviceType=='BEACON'">{{userCouponCodeData.userOfferDetails.device.name}}</a><a ui-sref="master.kioskDetails({kioskId: userCouponCodeData.userOfferDetails.device.id})" ng-show="userCouponCodeData.userOfferDetails.device.DeviceType=='KIOSK'">{{userCouponCodeData.userOfferDetails.device.name}}</a>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Store:</label> <a ui-sref="master.storeDetails({storeId: userCouponCodeData.userOfferDetails.device.store.id})">{{userCouponCodeData.userOfferDetails.device.store.name}}</a>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Coupon Code:</label> {{userCouponCodeData.userOfferDetails.offer.code}}
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-6 alert alert-danger height-auto" ng-show="isFlagged">
                                                <strong>This coupon is red flagged.</strong>
                                            </div>
                                            <div class="col-md-6 alert alert-danger height-auto" ng-show="isRedeemedAlert">
                                                <strong>This coupon is already redeemed.</strong>
                                            </div>
                                            <div class="col-md-6 alignRight alignRightBottom">
                                                <button class="btn btn-primary purple" ng-click="backToCouponCodeHome()">Back</button>
                                                <button class="btn btn-primary purple" ng-click="openFlagCouponDialog()" ng-disabled="isFlagged||isRedeemed">Red Flag this Coupon</button>
                                                <button class="btn btn-primary purple" ng-click="redeemCoupon()" ng-disabled="isFlagged||isRedeemed">Mark as Redeemed</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="display-table full-width">
                                        <div class="tr">
                                            <div class="td width-60p border-td">
                                                <h2 class="offerChecklist-header">Offer Details</h2>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="offerPreview" style="background-image: url({{offerImg}});background-size:cover;background-position: 50% 50%;">
                                                            <div class="pull-right close-button">
                                                                <a><i class="fa fa-times"></i></a>
                                                            </div>
                                                            <div class="offer-detail-preview offerChecklistOfferDetails">
                                                                <p class="fontsize-26-700 marginBottom-10">{{userCouponCodeData.userOfferDetails.offer.title}}</p>
                                                                <!--<p> I will give you <span>$500</span> to play</p>-->
                                                                <p class="marginBottom-10">{{userCouponCodeData.userOfferDetails.offer.description}}</p>
                                                                <button class="btn btn-primary orange no-effect-btn">Accept</button>
                                                                <a href="javascript:;" class="no-effect">Not now</a>
                                                                <div class="panel-time">
                                                                    <p class="CountDownTimer">You offer expires in {{userCouponCodeData.userOfferDetails.offer.duration}} minutes</p>
                                                                </div>
                                                                <div class="bottom-logo">
                                                                    <img src="{{accountImg}}" />
                                                                </div>
                                                                <div class="termsAndConditionsPreview" data-toggle="modal" data-target="#termsAndConditions" ng-show="userCouponCodeData.userOfferDetails.offer.termsAndConditions.length>0">
                                                                    <span class="tandc no-effect">* Terms & Conditions</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--<img ng-src="{{offerImg}}" class="img-responsive">-->
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <label class="control-label">Offer #</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p><a ui-sref="master.offerDetails({ offerId: userCouponCodeData.offer.id })">{{userCouponCodeData.userOfferDetails.offer.number}}</a></p>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <label class="control-label">Type:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p>{{userCouponCodeData.userOfferDetails.offer.OfferType}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <label class="control-label">From Date:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p>{{userCouponCodeData.userOfferDetails.offer.startTime}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <label class="control-label">To Date:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p>{{userCouponCodeData.userOfferDetails.offer.endTime}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <label class="control-label">Countries:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p ng-repeat="country in userCouponCodeData.userOfferDetails.offer.countries">{{country.name}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <label class="control-label">Duration:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p>{{userCouponCodeData.userOfferDetails.offer.duration}} mins</p>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <label class="control-label">Categories:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p ng-repeat="category in userCouponCodeData.userOfferDetails.offer.categories">{{category.name}}</p>
                                                            </div>
                                                        </div>
                                                        <!--<div class="row form-group">
                                                            <div class="col-md-3">
                                                                <label class="control-label">Offer Availed:</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <p>{{offerDashboardData.offerAvailedCount}}</p>
                                                            </div>
                                                        </div>-->
                                                        <!--<div class="row form-group">
                                                            <div class="col-md-3">
                                                                <label class="control-label">Offer Ignored:</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <p>{{offerDashboardData.offerIgnoredCountForChart}}</p>
                                                            </div>
                                                        </div>-->
                                                        <div class="row form-group" ng-show="userCouponCodeData.userOfferDetails.offer.termsAndConditions.length>0">
                                                            <div class="col-md-4">
                                                                <label class="control-label">*Terms & Conditions:</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p ng-repeat="term in userCouponCodeData.userOfferDetails.offer.termsAndConditions">{{term.title}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="td border-td">
                                                <h2 class="offerChecklist-header">User Details</h2>
                                                <div class="row form-group">
                                                    <label class="control-label col-md-5">Member Id:</label>
                                                    <p class="col-md-7"><a ui-sref="master.userDetails({userId : userCouponCodeData.id})">{{userCouponCodeData.userOfferDetails.memberId}}</a></p>
                                                </div>
                                                <div ng-repeat="contact in userCouponCodeData.userOfferDetails.contacts" >
                                                    <div class="row form-group" ng-show="contact.ContactType=='EMAIL'">
                                                        <label class="control-label col-md-5">Email Id:</label>
                                                        <p class="col-md-7">{{contact.value}}</p>
                                                    </div>
                                                    <div class="row form-group" ng-show="contact.ContactType=='PHONE'">
                                                        <label class="control-label col-md-5">Contact #:</label>
                                                        <p class="col-md-7">{{contact.value}}</p>
                                                    </div>
                                                </div>
                                               
                                                <div class="row form-group">
                                                    <label class="control-label col-md-5">Registration Date:</label>
                                                    <p class="col-md-7">{{userCouponCodeData.userRegistrationDetails.createdOn}}</p>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="control-label  col-md-5">Registration Store:</label>
                                                    <p class="col-md-7"><a ui-sref="master.storeDetails({storeId: userCouponCodeData.userRegistrationDetails.device.store.id})">{{userCouponCodeData.userRegistrationDetails.device.store.name}}</a></p>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="control-label  col-md-5">Registration Kiosk/Beacon:</label>
                                                    <p class="col-md-7" ng-show="userCouponCodeData.userRegistrationDetails.device.DeviceType=='BEACON'"><a ui-sref="master.viewBeacon({beaconId: userCouponCodeData.userRegistrationDetails.device.id})">{{userCouponCodeData.userRegistrationDetails.device.name}}</a></p>
                                                    <p class="col-md-7" ng-show="userCouponCodeData.userRegistrationDetails.device.DeviceType=='KIOSK'"><a ui-sref="master.kioskDetails({kioskId: userCouponCodeData.userRegistrationDetails.device.id})">{{userCouponCodeData.userRegistrationDetails.device.name}}</a></p>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="control-label  col-md-5">Registration Offer:</label>
                                                    <p class="col-md-7"><a ui-sref="master.offerDetails({ offerId: userCouponCodeData.userRegistrationDetails.offer.id })">{{userCouponCodeData.userRegistrationDetails.offer.description}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="redeemedOffers" class="tab-pane fade" ng-switch="redeemedOfferLoader">
                            <div class="row mbm col-md-12" ng-switch-when=0>
                                <div class="text-center loader-fullscreen" id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when=1>
                                <div id="offerChecklistRecords">
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <div>
                                                <table datatable="" dt-options="dtOptionsCouponChecklist"  dt-column-defs="dtColumnDefsOfferChecklist" class="table  table-hover table-striped table-bordered width-100-percent">
                                                    <thead>
                                                        <tr>
                                                            <th>Member ID</th>
                                                            <th>Offer Number</th>
                                                            <th>Offer Title</th>
                                                            <th>Coupon Code</th>
                                                            <th>Redeemed On</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="offerRedeemedCouponRecord in offerCouponRecords">
                                                            <td><a ui-sref="master.userDetails({userId :offerRedeemedCouponRecord.id})">{{offerRedeemedCouponRecord.memberId}}</a></td>
                                                            <td><a ui-sref="master.offerDetails({ offerId: offerRedeemedCouponRecord.offer.id })">{{offerRedeemedCouponRecord.offer.number}}</a></td>
                                                            <td><p class="offerTitleElipses">{{offerRedeemedCouponRecord.offer.title}}</p></td>
                                                            <td>{{offerRedeemedCouponRecord.offer.code}}</td>
                                                            <td>{{offerRedeemedCouponRecord.offer.statusDate}}</td>
                                                            <td class="alignCenter">
                                                                <button type="button" class="btn btn-default btn-xs" ng-click="openViewRedeemedCouponDialog(offerRedeemedCouponRecord)">
                                                                    <i class="fa fa-eye"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when=2>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="relaodOfferCouponCodeData()" class="highlight text-underline">Try again</a></p>
                            </div>
                            <div ng-switch-default>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="relaodOfferCouponCodeData()" class="highlight text-underline">Try again</a></p>
                            </div>
                        </div>
                        <div id="redFlaggedCoupons" class="tab-pane fade" ng-switch="redFlaggedCouponsLoader">
                            <div class="row mbm col-md-12" ng-switch-when=0>
                                <div class="text-center loader-fullscreen" id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when=1>
                                <div id="offerChecklistRecords">
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <div>
                                                <table datatable="" dt-options="dtOptionsCouponChecklist" dt-column-defs="dtColumnDefsOfferChecklist" class="table  table-hover table-striped table-bordered width-100-percent">
                                                    <thead>
                                                        <tr>
                                                            <th>Member ID</th>
                                                            <th>Offer Number</th>
                                                            <th>Offer Title</th>
                                                            <th>Coupon Code</th>
                                                            <th>Redeemed On</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="redFlaggedCouponsRecord in redFlaggedCouponsRecords">
                                                            <td><a ui-sref="master.userDetails({userId :offerRedeemedCouponRecord.id})">{{redFlaggedCouponsRecord.memberId}}</a></td>
                                                            <td><a ui-sref="master.offerDetails({ offerId: offerRedeemedCouponRecord.offer.id })">{{redFlaggedCouponsRecord.offer.number}}</a></td>
                                                            <td><p class="offerTitleElipses">{{redFlaggedCouponsRecord.offer.title}}</p></td>
                                                            <td>{{redFlaggedCouponsRecord.offer.code}}</td>
                                                            <td>{{redFlaggedCouponsRecord.offer.statusDate}}</td>
                                                            <td class="alignCenter">
                                                                <button type="button" class="btn btn-default btn-xs" ng-click="openViewRedFlaggedCouponDialog(redFlaggedCouponsRecord)">
                                                                    <i class="fa fa-eye"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when=2>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="relaodAllRedFlaggedCouponsRecords()" class="highlight text-underline">Try again</a></p>
                            </div>
                            <div ng-switch-default>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="relaodAllRedFlaggedCouponsRecords()" class="highlight text-underline">Try again</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- view redeemed coupon dailog -->
<script type="text/ng-template" id="viewRedeemedCouponData">

    <div class="modal-header">
        <h4 class="modal-title text-center">Redeemed Coupon Details</h4>
    </div>
    <div class="modal-body">
        <div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Availed at:</label> {{viewRedeemedCouponData.userDate}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Interacted with:</label> {{viewRedeemedCouponData.device.name}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Store:</label> {{viewRedeemedCouponData.device.store.name}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Redeemed On:</label> {{viewRedeemedCouponData.offer.statusDate}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Coupon Code:</label> {{viewRedeemedCouponData.offer.code}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-danger height-auto" ng-show="viewRedeemedCouponData.offer.OfferStatus == 'REDEEMED'">
                        <strong>This coupon is already redeemed.</strong>
                    </div>
                </div>
            </div>
            <div class="display-table full-width">
                <div class="tr">
                    <div class="td width-60p border-td">
                        <h2 class="offerChecklist-header">Offer Details</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="offerPreview" style="background-image: url({{offerRedeemedCouponImg}});background-size:cover;background-position: 50% 50%;">
                                    <div class="pull-right close-button">
                                        <a><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="offer-detail-preview offerChecklistOfferDetailsDailog">
                                        <p class="fontsize-26-700 marginBottom-10">{{viewRedeemedCouponData.offer.title}}</p>
                                        <!--<p> I will give you <span>$500</span> to play</p>-->
                                        <p class="marginBottom-10">{{viewRedeemedCouponData.offer.description}}</p>
                                        <button class="btn btn-primary orange no-effect-btn">Accept</button>
                                        <a href="javascript:;" class="no-effect">Not now</a>
                                        <div class="panel-time">
                                            <p class="CountDownTimer">You offer expires in {{viewRedeemedCouponData.offer.duration}} minutes</p>
                                        </div>
                                        <div class="bottom-logo">
                                            <img src="{{accountImg}}" />
                                        </div>
                                        <div class="termsAndConditionsPreview" data-toggle="modal" data-target="#termsAndConditions" ng-show="viewRedeemedCouponData.offer.termsAndConditions.length>0">
                                            <span class="tandc no-effect">Terms & Conditions</span>
                                        </div>
                                    </div>
                                </div>
                                <!--<img ng-src="{{offerImg}}" class="img-responsive">-->
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Offer #</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedeemedCouponData.offer.number}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Type:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedeemedCouponData.offer.OfferType}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">From Date:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedeemedCouponData.offer.startTime}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">To Date:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedeemedCouponData.offer.endTime}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Countries:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p ng-repeat="country in viewRedeemedCouponData.offer.countries">{{country.name}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Duration:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedeemedCouponData.offer.duration}} mins</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Categories:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p ng-repeat="category in viewRedeemedCouponData.offer.categories">{{category.name}}</p>
                                    </div>
                                </div>
                                <!--<div class="row form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Offer Availed:</label>
                                </div>
                                <div class="col-md-9">
                                    <p>{{offerDashboardData.offerAvailedCount}}</p>
                                </div>
                            </div>-->
                                <!--<div class="row form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Offer Ignored:</label>
                                </div>
                                <div class="col-md-9">
                                    <p>{{offerDashboardData.offerIgnoredCountForChart}}</p>
                                </div>
                            </div>-->
                                <div class="row form-group" ng-show="viewRedeemedCouponData.offer.termsAndConditions.length>0">
                                    <div class="col-md-4">
                                        <label class="control-label">Terms & Conditions:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p ng-repeat="term in viewRedeemedCouponData.offer.termsAndConditions">{{term.title}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="td border-td">
                        <h2 class="offerChecklist-header">User Details</h2>
                        <div class="row form-group">
                            <label class="control-label col-md-5">Member Id:</label>
                            <p class="col-md-7">{{viewRedeemedCouponData.memberId}}</p>
                        </div>
                        <div ng-repeat="contact in viewRedeemedCouponData.contacts">
                            <div class="row form-group" ng-show="contact.ContactType=='EMAIL'">
                                <label class="control-label col-md-5">Email Id:</label>
                                <p class="col-md-7">{{contact.value}}</p>
                            </div>
                            <div class="row form-group" ng-show="contact.ContactType=='PHONE'">
                                <label class="control-label col-md-5">Contact #:</label>
                                <p class="col-md-7">{{contact.value}}</p>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-md-5">Registration Date:</label>
                            <p class="col-md-7">{{viewRedeemedCouponData.userDate}}</p>
                        </div>
                        <div class="row form-group">
                            <label class="control-label  col-md-5">Registration Store:</label>
                            <p class="col-md-7">{{viewRedeemedCouponData.device.store.name}}</p>
                        </div>
                        <div class="row form-group">
                            <label class="control-label  col-md-5">Registration Kiosk/Beacon:</label>
                            <p class="col-md-7">{{viewRedeemedCouponData.device.name}}</p>
                        </div>
                        <div class="row form-group">
                            <label class="control-label  col-md-5">Registration Offer:</label>
                            <p class="col-md-7">{{viewRedeemedCouponData.offer.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- flag coupon permission modal-->
<script type="text/ng-template" id="flagCouponDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully flagged coupon.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Flag Coupon</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to flag this coupon? This action is irreversible.
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="flagCoupon()" ng-disabled="flagCouponButtonName=='Processing'">
                {{flagCouponButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="flagCouponButtonName=='Processing'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeRedeemCouponModal()">Cancel</button>
        </div>
    </div>
</script>
<!-- redeem coupon permission modal -->
<script type="text/ng-template" id="redeemCouponDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully redeemed coupon.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Redeem coupon</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to redeem this coupon? This action is irreversible.
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="markRedeemed()" ng-disabled="redeemCouponButtonName=='Processing'">
                {{redeemCouponButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="redeemCouponButtonName=='Processing'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeRedeemCouponModal()">Cancel</button>
        </div>
    </div>
</script>
<!-- view redeemed coupon dailog -->
<script type="text/ng-template" id="viewRedFlaggedCouponData">

    <div class="modal-header">
        <h4 class="modal-title text-center">Red Flagged Coupon Details</h4>
    </div>
    <div class="modal-body">
        <div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Availed at:</label> {{viewRedFlaggedCouponData.userDate}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Interacted with:</label> {{viewRedFlaggedCouponData.device.name}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Store:</label> {{viewRedFlaggedCouponData.device.store.name}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Redeemed On:</label> {{viewRedFlaggedCouponData.offer.statusDate}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Coupon Code:</label> {{viewRedFlaggedCouponData.offer.code}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-danger height-auto" ng-show="viewRedFlaggedCouponData.offer.OfferStatus == 'FLAG'">
                        <strong>This coupon is red flagged.</strong>
                    </div>
                </div>
            </div>
            <div class="display-table full-width">
                <div class="tr">
                    <div class="td width-60p border-td">
                        <h2 class="offerChecklist-header">Offer Details</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="offerPreview" style="background-image: url({{offerRedFlaggedCouponImg}});background-size:cover;background-position: 50% 50%;">
                                    <div class="pull-right close-button">
                                        <a><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="offer-detail-preview offerChecklistOfferDetailsDailog">
                                        <p class="fontsize-26-700 marginBottom-10">{{viewRedFlaggedCouponData.offer.title}}</p>
                                        <!--<p> I will give you <span>$500</span> to play</p>-->
                                        <p class="marginBottom-10">{{viewRedFlaggedCouponData.offer.description}}</p>
                                        <button class="btn btn-primary orange no-effect-btn">Accept</button>
                                        <a href="javascript:;" class="no-effect">Not now</a>
                                        <div class="panel-time">
                                            <p class="CountDownTimer">You offer expires in {{viewRedFlaggedCouponData.offer.duration}} minutes</p>
                                        </div>
                                        <div class="bottom-logo">
                                            <img src="{{accountImg}}" />
                                        </div>
                                        <div class="termsAndConditionsPreview" data-toggle="modal" data-target="#termsAndConditions" ng-show="viewRedFlaggedCouponData.offer.termsAndConditions.length>0">
                                            <span class="tandc no-effect">Terms & Conditions</span>
                                        </div>
                                    </div>
                                </div>
                                <!--<img ng-src="{{offerImg}}" class="img-responsive">-->
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Offer #</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedFlaggedCouponData.offer.number}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Type:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedFlaggedCouponData.offer.OfferType}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">From Date:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedFlaggedCouponData.offer.startTime}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">To Date:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedFlaggedCouponData.offer.endTime}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Countries:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p ng-repeat="country in viewRedFlaggedCouponData.offer.countries">{{country.name}}</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Duration:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{viewRedFlaggedCouponData.offer.duration}} mins</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Categories:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p ng-repeat="category in viewRedFlaggedCouponData.offer.categories">{{category.name}}</p>
                                    </div>
                                </div>
                                <!--<div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="control-label">Offer Availed:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{offerDashboardData.offerAvailedCount}}</p>
                                    </div>
                                </div>-->
                                <!--<div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="control-label">Offer Ignored:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <p>{{offerDashboardData.offerIgnoredCountForChart}}</p>
                                    </div>
                                </div>-->
                                <div class="row form-group" ng-show="viewRedFlaggedCouponData.offer.termsAndConditions.length>0">
                                    <div class="col-md-4">
                                        <label class="control-label">Terms & Conditions:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p ng-repeat="term in viewRedFlaggedCouponData.offer.termsAndConditions">{{term.title}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="td border-td">
                        <h2 class="offerChecklist-header">User Details</h2>
                        <div class="row form-group">
                            <label class="control-label col-md-5">Member Id:</label>
                            <p class="col-md-7">{{viewRedFlaggedCouponData.memberId}}</p>
                        </div>
                        <div ng-repeat="contact in viewRedFlaggedCouponData.contacts">
                            <div class="row form-group" ng-show="contact.ContactType=='EMAIL'">
                                <label class="control-label col-md-5">Email Id:</label>
                                <p class="col-md-7">{{contact.value}}</p>
                            </div>
                            <div class="row form-group" ng-show="contact.ContactType=='PHONE'">
                                <label class="control-label col-md-5">Contact #:</label>
                                <p class="col-md-7">{{contact.value}}</p>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="control-label col-md-5">Registration Date:</label>
                            <p class="col-md-7">{{viewRedFlaggedCouponData.userDate}}</p>
                        </div>
                        <div class="row form-group">
                            <label class="control-label  col-md-5">Registration Store:</label>
                            <p class="col-md-7">{{viewRedFlaggedCouponData.device.store.name}}</p>
                        </div>
                        <div class="row form-group">
                            <label class="control-label  col-md-5">Registration Kiosk/Beacon:</label>
                            <p class="col-md-7">{{viewRedFlaggedCouponData.device.name}}</p>
                        </div>
                        <div class="row form-group">
                            <label class="control-label  col-md-5">Registration Offer:</label>
                            <p class="col-md-7">{{viewRedFlaggedCouponData.offer.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>