<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Beacon List</div>
                </div>
                <div class="panel-body">
                    <div class="row mbm"  ng-switch="dataLoader">

                        <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                            </div>
                        </div>

                        <div class="col-md12"  ng-switch-when=1>
                            <div class="table-responsive">
                                <div class="text-right form-group">
                                    <button ng-click="addBeacon()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Beacon</button>
                                </div>
                                
                                <table id="table_id" class="table table-hover table-striped table-advanced">
                                    <thead>
                                        <tr>
                                            <!--<th style="width: 3%; padding: 5px 10px;">
                                                <input type="checkbox" class="checkall" />
                                            </th>-->
                                            <th width="9%">Beacon Number</th>
                                            <th>Beacon Name</th>
                                            <th>Store</th>
                                            <th>Registered Users Today</th>
                                            <th>Registered Users This Week</th>
                                            <th>Registered Users This Month</th>
                                            <th>Total Registered Users</th>
                                            <th>Set Offers</th>
                                            <!--<th width="12%">Actions</th>-->
                                        </tr>
                                    <tbody>

                                        <tr ng-repeat="beacon in beacons">
                                            <!-- <td>
                                              <input type="checkbox"/>
                                            </td> -->
                                            <td>{{beacon.number}}</td>
                                            <td>{{beacon.name}}</td>
                                            <td>{{beacon.store.name}}</td>
                                            <td>{{beacon.registredUsersToday}}</td>
                                            <td>{{beacon.registredUsersThisWeek}}</td>
                                            <td>{{beacon.registredUsersThisMonth}}</td>
                                            <td>{{beacon.totalRegistredUsers}}</td>
                                            <td><a ng-click="goBeaconDetails(beacon.id)" href="javascript:;">Set Offers</a></td>
                                            <!--<td>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadBeaconList()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadBeaconList()" class="highlight text-underline">Try again</a></p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addBeaconDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Beacon Added Successfully!
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Add New Beacon</h4>
    </div>
    <form name="addBeacon" novalidate>
           <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Beacon Name" name="BeaconName" ng-model="newBeacon.name" required>
                    <p class="required required-red"
                       ng-show="addBeacon.BeaconName.$invalid && submitted">
                        * Beacon Name Required
                    </p>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Beacon Number" name="BeaconNumber" ng-model="newBeacon.number" required>
                    <p class="required required-red"
                       ng-show="addBeacon.BeaconNumber.$invalid && submitted">
                        * Beacon Number Required
                    </p>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-options="store.id as store.name for store in stores" name="BeaconStore" ng-model="newBeacon.store.id" required>
                        <option value="">Store</option>
                    </select>
                    <p class="required required-red"
                       ng-show="addBeacon.BeaconStore.$invalid && submitted">
                        * Please Select Store
                    </p>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="saveNewBeacon()" ng-disabled="saveButtonName=='Saving'">
            {{saveButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="saveButtonName=='Saving'"></i></button>
        </div>
    </form>
</script>


