<div class="box-content black-background">
    <!--BEGIN CONTENT-->
    <div ui-view="landing"></div>
    <div ui-view="viewOffer"></div>
    <div ui-view="getUserDetail"></div>
    <div ui-view="getMemberID"></div>
    <div ui-view="congoNewUser"></div>
    <div ui-view="congoUser"></div>
    <div ui-view="viewBeaconOffer"></div>
    <!--END CONTENT-->
</div>