<div class="col-md-12 p-0">
    <div class="offerDetail-container" style="background: url({{imgsrc}}) no-repeat !important;background-color:red;">
        <div class="pull-right close-button">
            <a ui-sref="mobile.landing"><i class="fa fa-times"></i></a>
        </div>
        <div class="offer-detail">
            <p>Enter Member ID & </p>
            <span ng-repeat="offerValue in offer.categories track by offerValue.id">
                <p>
                    <span ng-show="offerValue.name=='Cash'" class="marginRightNull">{{offerValue.currencySymbol}}</span>
                    <span class="marginLefttNull">{{offerValue.value}}</span> 
                    {{offerValue.name}}
                </p>
            </span>
            <p><span class="textWhite marginRightNull" ng-show="offer.categories.length<2">is</span><span class="textWhite marginRightNull" ng-show="offer.categories.length > 1">are</span> on your way</p>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Member ID" ng-model="userDetails.memberId"/>
            </div>
            <button class="btn btn-primary orange" ng-click="submitForm()">Avail this offer now!</button>
            <div class="panel-time marginTop-15">
                <p class="CountDownTimer"></p>
            </div>
        </div>
    </div>
</div>