<div class="col-md-12 p-0">
    <div class="offerDetail-container" style="background: url({{imgsrc}}) no-repeat;background-size:cover;">
        <div class="pull-right close-button">
            <a ui-sref="mobile.landing"><i class="fa fa-times"></i></a>
        </div>
        <div class="offer-detail">
            <h4>Congratulations!</h4>
            <!--<div ng-repeat="category in categories">-->
                <!--<p>You just got {{categories[0].name}}<span>{{categories[0].value}}</span></p>-->
            <!--</div>-->
            <p>You just got</p>
            <div ng-repeat="category in categories">
                <p><span ng-show="category.name=='Cash'"> $</span><span>{{category.value}}</span> {{category.name}}</p>
            </div>
            <a href="javascript:;" ui-sref="mobile.landing">Check your inbox</a>
        </div>
    </div>
</div> 