﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 	<head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<title></title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0; background: #eee; font-family: sans-serif;">
 	<table border="0" cellpadding="0" cellspacing="0" width="80%" style="margin: 50px auto; color: #808080">
  		<tr>
              <td style="text-align: left;padding: 10px 0px;vertical-align: middle;" colspan="2">
                  <div style="float:left;">
                      <img style="width:70px; height: auto;" src="@Model.picUrl" />
                  </div>
                  <div style="vertical-align: middle;
                       float: left;
                       /*padding-top: 28px;*/
                       padding-left: 5px;">
                      <p style="text-align: center;font-size: 30px;margin: 18px;">@Model.sender</p>                     
                  </div>
              </td>			
  		</tr>
  		<tr>
   			<td colspan="2">
   				<img style="width:100%; height: auto; border-top-left-radius: 10px; border-top-right-radius: 10px" src="https://image.ibb.co/dJiask/background.png"/>
   			</td>
  		</tr>
  		<tr style="background: #fff">
   			<td colspan="2" style="padding: 0 20px">
				<p style="text-align: center;font-size: 18px;margin: 25px;"> You have won </p>
                <p style="text-align: center;font-size: 30px;margin: 18px;"> @Model.categories!</p>
				<p style="text-align: center; font-size: 18px; margin: 8px;"> Hey! Please sign up to get @Model.category_value </p>
				<p style="text-align: center; font-size: 18px; margin: 8px;"> Your offer code is: @Model.offer_code </p>
				<p style="text-align: center; font-size: 18px; margin: 8px;"> Your member ID is: @Model.member_id </p>   
                @if (Model.socialService != "")
                {
                    <p style="text-align: center; font-size: 18px; margin: 8px;"> You used <b style="color: #22afe6">@Model.socialService</b> to login. </p>
                }                                
			</td>
  		</tr>
  		<tr style="background: #fff;">
   			<td colspan="2" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; text-align: center; padding: 30px 30px 50px 30px;">
                   <!--<button onclick="window.location = {register_link}" style="padding: 10px; font-size: 20px; color: #fff; background: #ff9800; border-radius: 3px; border: 1px solid #e18805; cursor: pointer; text-decoration: none;">Click here to register!</button>-->
                   <a href="@Model.website" style="padding: 10px; font-size: 15px; color: #fff; background: #ff9800; border-radius: 3px; border: 1px solid #e18805; cursor: pointer; text-decoration: none;">
                       Click here to register!
                   </a>
               </td>
  		</tr>

         @if (Model.twitter != "" || Model.facebook != "")
         {
            <tr>
                <td colspan="2">
                    <p style="text-align: center;font-size: 45px;margin: 30px; font-family: cursive; color: gray">Stay in touch</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    @if (Model.twitter != "")
                    {
                        <a href="@Model.twitter" style="cursor: pointer;"><img width="50" src="https://image.ibb.co/ec9oxk/twitter.png" /></a>
                    }
                    @if (Model.facebook != "")
                    {
                        <a href="@Model.facebook" style="cursor: pointer;"><img width="50" src="https://image.ibb.co/iAjtV5/facebook.png" /></a>
                    }
                </td>
            </tr>
         } 		

  		<tr>
   			<td colspan="2" style="text-align: center;">
   				<p style="margin-top: 20px; font-size: 16px; ">Email sent by @Model.sender</p>
   				<p style="font-size: 14px;">Copyright &copy; 2017 Best Network Systems. All rights reserved.</p>
   			</td>
  		</tr>
 	</table>
</body>
</html>