<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Kiosk List</div>
                </div>
                <div class="panel-body" ng-switch="dataLoader">
                    <div class="row mbm" >
                        <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12">{{loadingMessage}}</span>
                            </div>
                        </div>
                        <div class="col-md-12" ng-switch-when=1>
                            <!--<div class="text-right form-group">
                              <button ng-click="addStore()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Kiosk</button>
                            </div>-->
                            <div>  <!--<div class="table-responsive">-->
                                <table datatable="" dt-options="dtOptionsKiosks" dt-column-defs="dtColumnDefsKiosks" class="table table-hover table-striped table-advanced table-bordered table-responsive width-100-percent">
                                    <thead>
                                        <tr>
                                            <!-- <th style="width: 3%; padding: 5px 10px;">
                                              <input type="checkbox" class="checkall"/>
                                            </th> -->
                                            <th width="9%">Kiosk Number</th>
                                            <th>Kiosk Name</th>
                                            <th>Store</th>
                                            <th>Registered Users Today</th>
                                            <th>Registered Users This Week</th>
                                            <th>Registered Users This Month</th>
                                            <th>Total Registered Users</th>
                                            <!--<th>Set Offer</th>-->
                                            <th width="10%">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="kiosk in kiosks">
                                            <!-- <td>
                                              <input type="checkbox"/>
                                            </td> -->
                                            <td ng-class="kiosk.is_workable?'':'row-highlight-color'"><a ui-sref="master.kioskDetails({kioskId: kiosk.id})">{{kiosk.number}}</a></td>
                                            <td ng-class="kiosk.is_workable?'':'row-highlight-color'">{{kiosk.name}}</td>
                                            <td ng-class="kiosk.is_workable?'':'row-highlight-color'"><a ui-sref="master.storeDetails({storeId: kiosk.store.id})">{{kiosk.store.name}}</a></td>
                                            <td ng-class="kiosk.is_workable?'':'row-highlight-color'">{{kiosk.registredUsersToday}}</td>
                                            <td ng-class="kiosk.is_workable?'':'row-highlight-color'">{{kiosk.registredUsersThisWeek}}</td>
                                            <td ng-class="kiosk.is_workable?'':'row-highlight-color'">{{kiosk.registredUsersThisMonth}}</td>
                                            <td ng-class="kiosk.is_workable?'':'row-highlight-color'">{{kiosk.totalRegistredUsers}}</td>
                                            <!--<td><a ng-click="goLuckyCharacters(kiosk.id)" href="javascript:;">Set Offers</a></td>-->
                                            <!--ui-sref="master.luckyCharacters"-->
                                            <td ng-class="kiosk.is_workable?'':'row-highlight-color'" class="alignCenter">
                                                <button type="button" ng-click="goKioskDetails(kiosk.id)"  class="btn btn-default btn-xs">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <button type="button" ng-disabled="!kiosk.is_workable" class="btn btn-default btn-xs" ng-click="updateKiosk(kiosk)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" ng-disabled="!kiosk.is_workable" class="btn btn-default btn-xs" ng-click="deleteKiosk(kiosk)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadKiosksList()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadKiosksList()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kiosk Update dailog  -->
<script type="text/ng-template" id="updateKioskDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Kiosk updated Successfully!
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Update Kiosk</h4>
    </div>
    <form name="updateKiosk" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Kiosk Name" name="KioskName" ng-model="editKioskModel.name" required>
                <p class="required required-red"
                   ng-show="updateKiosk.KioskName.$invalid && submitted">
                    * Beacon Name Required
                </p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Kiosk Number" name="KioskNumber" ng-model="editKioskModel.number" required>
                <p class="required required-red"
                   ng-show="updateKiosk.KioskNumber.$invalid && submitted">
                    * Beacon Number Required
                </p>
            </div>
            <div class="form-group">
                <select class="form-control" ng-options="store.id as store.name for store in stores" name="KioskStore" ng-model="editKioskModel.store.id" required>
                    <option value="">Store</option>
                </select>
                <p class="required required-red"
                   ng-show="updateKiosk.KioskStore.$invalid && submitted">
                    * Please Select Store
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="updateKioskAPI()" ng-disabled="updateButtonName=='Updating'">
                {{updateButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="updateButtonName=='Updating'"></i>
            </button>
        </div>
    </form>
</script>
<!-- Kiosk Delete dailog  -->
<script type="text/ng-template" id="deleteKioskDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully deleted kiosk.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Delete Kiosk</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to delete the kiosk "{{deleteKioskModel.name}}"? This action is irreversible.
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="deleteKioskAPI()" ng-disabled="deleteButtonName=='Deleting'">
                {{deleteButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="deleteButtonName=='Deleting'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeDeleteModal()">Cancel</button>
        </div>
    </div>
</script>