﻿/*.page-content > .box-content {
    margin: 0 25px;
    padding: 25px 0;
}

.page-content > .box-content > .content {
    display: block;
}*/

body {
    background-color: black;
}
#page-wrapper {
    background: #F4F4F4;
}
.sidebar-main {
    float: left;
    background-color: #F4F4F4;
}
.page-title-breadcrumb {
    padding: 10px 20px;
    background: #ECEAEA;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 0px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 0px 0 rgba(0, 0, 0, 0.05);
    height: 70px;
}
.page-title-breadcrumb {
    background: #ECEAEA;
    height: 50px;
    margin: 0 25px;
}
.page-title-breadcrumb .breadcrumb {
    float: left;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    padding-top: 8px;
    background: transparent;
    margin-left: 10px;
}
#footer {
    padding-left: 0;
}
#footer .copyright {
    background-color: #fff;
    color: #C1C1C1;
    padding: 15px 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.sidebar-main ul#sidebar-main > li > a {
    padding: 15px 25px;
    color: #757575;
    font-size: 14px;
}
.sidebar-main ul#sidebar-main > li > a:hover, .sidebar-main ul#sidebar-main > li > a:focus {
    color: #777;
}
.powered-by{
    margin: 0 25px;
    padding: 8px 0px;
}
button.btn.purple {
    background-color: #533073;
    border-color: #533073;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: #fff;
    border-radius: 0px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .modal-footer {
    padding: 15px;
    text-align: right;
    padding-top: 0px;
    border-top: none;
}
@media (min-width: 992px){
    .col-5 {
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
}
.sidebar-main ul#sidebar-main > li > a:hover, .sidebar-main ul#sidebar-main > li > a:focus {
    color: #fff;
    background-color: #533073;
}
.sidebar-main ul#sidebar-main > li.active > a {
    background-color: #533073;
    color: #fff;
}
.ngdialog-theme-default.modal-large .ngdialog-content{
    width: 900px;
    padding: 0px;
}
.ngdialog-theme-default.modal-large .ngdialog-content .modal-header {
    background: #f5f5f5;
}
.layout-sidebar-collapsed #wrapper #page-wrapper .sidebar-main ul#sidebar-main > li > a > .menu-title {
    background-color: #F4F4F4;
    color: #757575;
}
.required-red{
     color:red;
     font-size: 11px;
 }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #777777;
    background-color: #fff;
    border: 0px solid #533073;
    border-bottom-color: transparent;
    cursor: default;
    border-top: 3px solid #533073;
}
.mb-8{
    margin-bottom:8px;
}
.p-0{
    padding:0px;
}
.offer-panel {
    position: relative;
    cursor: pointer;
}
.panel-text {
    position: absolute;
    z-index: 9999;
    top: 30%;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 4%;
}
.panel-time {
    position: relative;
    /* z-index: 9999; */
    /* bottom: 20px; */
    right: 0;
    left: 0;
    padding: 4px;
    /* bottom: 0; */
    /* width: 20rem; */
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
    font-size: 20px;
    /* margin-top: 3px; */
    margin: 0 -8%;
}
.panel-text p.sub-text{
    font-size:14px;
}
.panel-time p{
   font-size: 14px!important;
    margin: 0px;
    padding: 4px;
}
.fontsize-26-700{
    font-size: 26px!important;
    font-weight: 700!important;
}
.textWhite{
    color:white!important;
    font-size: 20px!important;
    font-weight:400!important;
}
.marginRightNull{
    margin-right:0!important;
}
.marginLefttNull{
    margin-left:0!important;
}
.panel-text p {
    font-size: 18px;
    margin:0px;
}
.offerDetail-container {
    min-height: 100%;
    height: 100vh;
    background-size: cover;
}
/*.offerDetail-container:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#000,#000);
	opacity: .5; 
  }*/
.close-button{
    padding:3%;
}
.close-button a{
    color: #fff;
    font-size: 22px;
}
.offer-detail {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25%;
    background: rgba(0,0,0,0.7);
    padding: 8%;
}
.offer-detail p {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0px;
}
.offer-detail span {
    color: #ff5722;
    font-weight: 700;
    font-size: 24px;
}
.offer-detail a {
    color: #fff;
    display: block;
    text-decoration: underline;
    margin-top: 14px;
    margin-bottom: 20px;
}
.offer-detail h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.coupon-panel {
    border: 1px solid #fff;
    padding: 4%;
}
.coupon-panel p {
    margin: 0px;
}
.redeem-text{
    font-size: 16px !important;
    margin: 0px;
}
.warning{
    font-size: 10px !important;
    color: white !important;
    float: left !important;
}
.modalCloseBtn{    position: absolute;right: 15px; top: 4px; z-index: 999; font-size: 24px;}
.text-underline {
    text-decoration: underline;
}
.highlight {
    color: #533073;
}
a.highlight:hover{
    color: #533073;
}
.font-16{
    font-size: 16px;
}
.font-21{
    font-size: 21px;
}
.loader-fullscreen{
    height: 100vh;
}
.loader-modal-fullscreen{
    height: 40vh;
}
.loader-center{
    margin-top: 15%;
}
.loader-modal-center{
    margin-top: 10%;
}
.page-form {
    background: #fff;
    padding: 2% 0;
}
.m-0{
    margin:0px !important;
}
.page-profile .article, .timeline .article {
    border-top: 3px solid #533073;
}
.intl-tel-input {
    display: block;
}
#logo{
    width: 50px;
    height: 100%;
    display: inline-block;
}
#logo img{
    height: 100%;
    width: 100%;
}
.logo-name {
    height: 100%;
    display: inline-block;
    position: relative;
    bottom: 24px;
    margin-left: 12px;
    color: #fff;
    font-size: 24px;
}
.width-200{
    width: 200px;
}
.dataTables_wrapper {
    /*overflow: auto;*/
    min-width:100%;
    width:auto;
}
.table-responsive{
    overflow-x: auto;
}
.userTable .dataTables_wrapper{
    min-width:120%;
}
.height-500{
    height:500px !important;
}
.ngdialog-theme-default.modal-large .ngdialog-content {
    width: 80%;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.page-form input[type='url']{
    border: 0;
    padding: 0 !important;
}
select.flag-input {
    width: 62px;
    padding: 0px;
    height: 34px;
    padding: 5px;
}
.select2-search {
      display: none;
    }
select.country-code {
    width: 62px;
    padding: 0px;
    height: 34px;
    padding: 5px;
}
.intlPhone .input-group-addon{
    padding: 0px !important;
    background: transparent !important;
    border: none !important;
}
.intlPhone span{
    font-size:13px;
    color: #555;
}
.intlPhone img{
    width: 20px;
}
.select2-container .select2-choice{
    height: 34px;
    margin: 0;
    padding: 0px;
    background: #fff;
    border-radius: 0px;
}
.select2-container .select2-choice .select2-arrow{
    background: transparent;
    border: none;
}
.select2-container .select2-choice > .select2-chosen {
    margin-right: 14px;
    padding-left:4px;
}
.mt-5p{
    margin-top:5%;
}
.mobileOfferTitle{
    font-size:26px;
}

.button.copy {
    height: 21px;
    width: 62px;
    font-size: 10px;
    padding: 1px 12px;
    margin-left: 10px;
    display: inline-block;
}
.button.copy:hover {
    color: #fff;
    background-color: #533073;
}
.button:hover {
    text-decoration: none;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 16px;
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    font-family: brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #533073;
    -webkit-box-shadow: 0 0 0 1px #533073;
    box-shadow: 0 0 0 1px #533073;
    text-rendering: optimizelegibility;
    border: 0 !important;
    background: #fff;
}
.beacon-url{
    color: #533073;
}
.cursorPointer{
    cursor:pointer;
}

.emailColumnWidth{
    width:8%;
}

.alignRight{
    text-align: right;
}
 
.popover{
    border: 1px solid #4caf50;
}

/* Popover Body */
.popover-content {
    background-color: #4caf50;
    color: #FFFFFF;
    padding: 0!important;
}

/* Popover Arrow */
.arrow {
    display:none!important;
    border-right-color: #4caf50 !important;
}
.copyContent{
    color: #eee;
    height: 21px;
    display: inline-block;
    font-size: 10px;
    background:  #533073;
    padding: 1px 12px;
    font-weight: 500;
    border-radius: 5px;
    }

.copyContent-1{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 16px;
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    font-family: brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #533073;
    -webkit-box-shadow: 0 0 0 1px #533073;
    box-shadow: 0 0 0 1px #533073;
    text-rendering: optimizelegibility;
    border: 0 !important;
    background: #fff;
     height: 21px;
    font-size: 10px;
    padding: 1px 12px;
    margin-left: 10px;
    display: inline-block;
}
   
.displayInlineBlock {
    float:left;
    margin-right:20px;
}

.marginTop-15{
    margin-top: 15px;
}

.marginTop-10{
    margin-top: 10px;
}

.marginBottom-10{
    margin-bottom: 10px!important;
}

.imageHeight{
    height: 120vh;
}

.displayInlineBlock {float:left;margin-right:20px;}
.bottom-logo{
    position:relative;
    width: 100%;
    text-align:center;
}
.bottom-logo img{
    width: 9%;
}

.center-vertically {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*------Written by GB------*/
.field-info-label{
    font-size: 10px;
    padding: 2px 2px 0px 2px;
    margin-bottom: 1px;
}
.padding-bottom-12{
    padding-bottom: 12px;
}
.width-100-percent{
    width: 100%;
}
.currency-span{
    float: left;
    padding: 9.5px 19px 9.5px 15px;
    min-height: 34px;
}
.width-90-percent{
    width: 87% !important;
}
.min-height-34{
    min-height: 34px;
}
.applyBtn{
    color: #fff;
    background-color: #357ebd;
    border-color: #3071a9;
    width: 74px;
}
.cancelBtn{
    width: 74px;
    margin-left: 8px;
}
.panel-image img{
    width: 100% !important;
    height: 300px !important;
}
.black-background{
    background-color: black;
}
.bold-title{
    font-weight: bold !important;
    font-size: 22px !important;
}
.check-inbox{
    font-size: 12px !important;
}
.modal-open {
    overflow: inherit !important;
}
.termsAndConditions{
    float: left;
}
.tandc{
    float: left;
    color: #ff9900;
    text-decoration: none;
    font-size: 10px !important;
}
.termsAndConditions :hover{
    cursor: pointer;
}

.termsAndConditionsModal{
    background-color: rgba(0,0,0,1);
    color: #ff9900;
    margin: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.termsAndConditionsModalContents{
    height: 80vh;
    overflow-y: auto;
}

.termsAndConditionsModalBody{
    border: 1px solid #e6e6e6;
    margin: 20px;
    margin-top: 10px;
}

.termsAndConditionsModal:hover{
    cursor: pointer;
}

#termsAndConditions{
    height: 100vh;
    overflow-y: auto;
}

.forgot-password{
    float: left;
    color: #ff5722;
}
.forgot-password p{
    font-size: 11px;
    line-height: 0px;
    color: #ff5722;
}

.submit{
    background-color: #ff5722;
    color: white;
}

/*------Written by GB------*/