﻿<div class="col-md-12 p-0" >
    <div ng-switch="dataLoader" class="offerDetail-container" style="background: url({{imgsrc}}) no-repeat;background-size:cover; background-repeat:no-repeat; background-position: 50% 50%;">
        <div ng-switch-when=0 class="text-center loader-fullscreen" id="overlay">
            <div id="loader" class="center-vertically">
                <i style="color:white" class="fa fa-spinner fa-spin fa-4x fa-fw"></i><p style="color:white" class="large-text font-21">Fetching the best offer for you...</p>
            </div>
        </div>
        <div ng-switch-when=1>
            <div class="pull-right close-button">
                <a data-toggle="modal" data-target="#confirm"><i class="fa fa-times"></i></a>
            </div>
            <div class="offer-detail">
                <p class="fontsize-26-700">{{beaconOffer.title}}</p>
                <p>{{beaconOffer.description}}</p>
                <!--      For Normal Use            -->
                <!--<button ng-click="gotoNextPage()" class="btn btn-primary orange">Accept</button>-->

                <!--      For Novomatic           -->
                <button class="btn btn-primary orange" ng-disabled="acceptButtonName=='Please wait ...'" ng-click="gotoNextPage()">{{acceptButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="acceptButtonName=='Please wait ...'"></i></button>
                
                <a href="javascript:;" data-toggle="modal" data-target="#confirm">Not now</a>
                <div class="panel-time">
                    <p class="CountDownTimer"></p>
                </div>
                <div class="bottom-logo">
                    <img src="{{accountImg}}" />
                </div>
                <div class="termsAndConditions" ng-show="showTerms">
                    <a data-toggle="modal" data-target="#termsAndConditions"><span class="tandc">* Terms & Conditions</span></a>
                </div>
            </div>
        </div>
        <div ng-switch-when=2 style="height:100vh">
            <p style="color:white; top:50%" class="col-md-12 font-16 text-center">Looks like there is no offer for you at the moment!!!</p><p style="color:white; top:50%" class="col-md-12 font-16 text-center"> Please try again in some time.</p>
        </div>
        <div ng-switch-default style="height:100vh">
            <p style="color:white; top:50%" class="col-md-12 font-16 text-center">Something went wrong!!!</p><p style="color:white; top:50%" class="col-md-12 font-16 text-center"> Please <a href="javascript:;" ng-click="reloadBeconOffer()" class="highlight text-underline">Try again</a></p>
        </div>   
    </div>
    
    <div class="modal fade" id="confirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Offer will be discarded. Are you sure you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="gotoLanding()">Leave</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Stay</button>
                </div>
            </div>
        </div>
    </div>
        <!--<div ng-switch-when=2>
            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferList()" class="highlight text-underline">Try again</a></p>
        </div>-->

    <div class="modal fade" id="termsAndConditions" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content termsAndConditionsModal">
                <div class="termsAndConditionsModalBody">
                    <div class="modal-header">
                        <button type="button" class="close" style="color:white;" data-dismiss="modal">&times;</button>
                        <p>Terms & Conditions</p>
                    </div>
                    <div class="modal-body termsAndConditionsModalContents">
                        <div class="termCondition" ng-repeat="term in termsAndConditionsList">
                            <p>{{$index+1}}. {{term.title}}</p>
                            <p>{{term.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="cookieWarningDialog">
    <div class="modal-header">
        <div class="alert alert-info">
            <strong>Warning!</strong>
            <p>To give you the best possible experience, this site uses cookies. Are you fine with this?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closePage()">No</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeCookieDialog()" autofocus>Yes</button>
        </div>
    </div>
</script>