<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Users</div>
                </div>
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active" ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#memberUsersList" data-toggle="tab">Members</a></li>
                        <li ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#anonymousUsersList" data-toggle="tab">Non-Members</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="memberUsersList" class="tab-pane fade active in">
                            <div class="row mbm" ng-switch="dataLoader">
                                <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-switch-when=1>
                                    <div>
                                        <table datatable="" dt-options="dtOptionsUsersMember" dt-column-defs="dtColumnDefsUsers" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                            <thead>
                                                <tr>
                                                    <!-- <th style="width: 3%; padding: 5px 10px;">
                              <input type="checkbox" class="checkall"/>
                            </th> -->
                                                    <th>#</th>
                                                    <th>Member ID</th>
                                                    <th>Last Activity Date</th>
                                                    <th>Last Offer Seen</th>
                                                    <th>Email ID</th>
                                                    <th>Contact Number</th>
                                                    <th>Registration Date</th>
                                                    <th>Store</th>
                                                    <th>Kiosk</th>
                                                    <th>Beacon</th>
                                                    <th>Offer Title</th>
                                                    <th width="6%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="user in users">
                                                    <!-- <td>
                              <input type="checkbox"/>
                            </td> -->
                                                    <td>{{$index + 1}}</td>
                                                    <td><a ui-sref="master.userDetails({userId : user.id})">{{user.memberId}}</a></td>
                                                    <td>{{user.lastAactivityDate}}</td>
                                                    <td><a class="offerTitleElipses" ui-sref="master.offerDetails({ offerId: user.latestOffer.id })">{{user.latestOffer.description}}</a></td>
                                                    <td><span ng-repeat="contact in user.contacts |filter:{ContactType:'EMAIL'}">{{contact.value}}<br/></span></td>
                                                    <td><span ng-repeat="contact in user.contacts |filter:{ContactType:'PHONE'}">{{contact.country.countryCode}} {{contact.value}}<br/></span></td>
                                                    <td>{{user.createdOn}}</td>
                                                    <td><a ui-sref="master.storeDetails({storeId: user.device.store.id})">{{user.device.store.name}}</a></td>
                                                    <td>
                                                        <div>
                                                            <div ng-if="user.device.DeviceType == 'KIOSK'">
                                                                <a ui-sref="master.kioskDetails({kioskId: user.device.id})">{{user.device.name}}</a>
                                                            </div>
                                                            <div ng-if="user.device.DeviceType != 'KIOSK'">
                                                                {{"-"}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div ng-if="user.device.DeviceType == 'BEACON'">
                                                                <a ui-sref="master.viewBeacon({beaconId:user.device.id})">{{user.device.name}}</a>
                                                            </div>
                                                            <div ng-if="user.device.DeviceType != 'BEACON'">
                                                                {{"-"}}
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td><a class="offerTitleElipses" ui-sref="master.offerDetails({ offerId: user.latestOffer.id })">{{user.offer.title}}</a></td>

                                                    <td class="alignCenter">
                                                        <button type="button" ng-click="userDetails(user.id)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <!--<button type="button" class="btn btn-default btn-xs">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-xs">
                                    <i class="fa fa-trash"></i>
                                </button>-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ng-switch-when=2>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                            </div>
                        </div>
                        <div id="anonymousUsersList" class="tab-pane fade">
                            <div class="row mbm" ng-switch="dataAnonymousLoader">
                                <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-switch-when=1>
                                    <div class="table-responsive">
                                        <table datatable="" dt-options="dtOptionsUsersNonMember" dt-column-defs="dtColumnDefsNonMember" class="table table-hover table-striped table-bordered width-100-percent">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Last Activity Date</th>
                                                    <th>Last Offer Seen</th>
                                                    <th>Store</th>
                                                    <th>Kiosk</th>
                                                    <th>Beacon</th>
                                                    <th>Offer Title</th>
                                                    <th width="12%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="user in anonymousUsers">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{user.userDate}}</td>
                                                    <td><a class="offerTitleElipses" ui-sref="master.offerDetails({ offerId: user.offer.id })">{{user.offer.description}}</a></td>
                                                    <td><a ui-sref="master.storeDetails({storeId: user.device.store.id})">{{user.device.store.name}}</a></td>
                                                    <td>
                                                        <div>
                                                            <div ng-if="user.device.DeviceType == 'KIOSK'">
                                                                <a ui-sref="master.kioskDetails({kioskId: user.device.id})">{{user.device.name}}</a>
                                                            </div>
                                                            <div ng-if="user.device.DeviceType != 'KIOSK'">
                                                                {{"-"}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div ng-if="user.device.DeviceType == 'BEACON'">
                                                                <a ui-sref="master.viewBeacon({beaconId:user.device.id})">{{user.device.name}}</a>
                                                            </div>
                                                            <div ng-if="user.device.DeviceType != 'BEACON'">
                                                                {{"-"}}
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td><a class="offerTitleElipses" ui-sref="master.offerDetails({ offerId: user.offer.id })">{{user.offer.title}}</a></td>

                                                    <td class="alignCenter">
                                                        <button type="button" ng-click="anonymousUserDetails(user.id)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ng-switch-when=2>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadAnonymousUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadAnonymousUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>