<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">User List</div>
                </div>
                <div class="panel-body">
                    <div class="row mbm" ng-switch="dataLoader">
                        <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                            </div>
                        </div>
                        <div class="col-md-12"  ng-switch-when=1>
                            <div class="table-responsive userTable">
                                <table id="table_id" class="table table-hover table-striped table-advanced">
                                    <thead>
                                        <tr>
                                            <!-- <th style="width: 3%; padding: 5px 10px;">
                                              <input type="checkbox" class="checkall"/>
                                            </th> -->
                                            <th width="9%">Sr No.</th>
                                            <th>Last Activity Date</th>
                                            <th>Last Offer Seen</th>
                                            <th>Email ID</th>
                                            <th>Contact Number</th>
                                            <th>Registration Date</th>
                                            <th>Store</th>
                                            <th>Kiosk</th>
                                            <th>Beacon</th>
                                            <th>Offer Description</th>
                                          
                                            <!--<th width="12%">Actions</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in users">
                                            <!-- <td>
                                              <input type="checkbox"/>
                                            </td> -->
                                            <td>{{$index + 1}}</td>
                                            <td>{{user.lastAactivityDate}}</td>
                                            <td>{{user.latestOffer.description}}</td>
                                            <td><span ng-repeat="contact in user.contacts |filter:{ContactType:'EMAIL'}">{{contact.value}}</span></td>
                                            <td><span ng-repeat="contact in user.contacts |filter:{ContactType:'PHONE'}" >{{contact.value}}</span></td>
                                            <td>{{user.createdOn}}</td>
                                            <td>{{user.device.store.name}}</td>
                                            <td>
                                                <!--<div>
                                                    <div ng-if="user.device.DeviceType == KIOSK?{{user.device.name}}:'-'">
                                                        {{user.device.name}}
                                                    </div>
                                                </div>-->

                                                <div>
                                                    <div ng-if="user.device.DeviceType == 'KIOSK'">
                                                        {{user.device.name}}
                                                    </div>
                                                    <div ng-if="user.device.DeviceType != 'KIOSK'">
                                                        {{"-"}}
                                                    </div>
                                                </div>
                                           
                                            </td>
                                            <td>
                                                <div>
                                                    <div ng-if="user.device.DeviceType == 'BEACON'">
                                                        {{user.device.name}}
                                                    </div>
                                                    <div ng-if="user.device.DeviceType != 'BEACON'">
                                                        {{"-"}}
                                                    </div>
                                                </div>

                                            </td>
                                            <td>{{user.offer.description}}</td>
                                           
                                            <!--<td>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>