﻿<!DOCTYPE html>
<html ng-controller="appCtrl" lang="en" ng-app="bns">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{imgSrc}}" rel="shortcut icon" />
    <!-- Loading css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="libs/global/vendors/simple-line-icons/simple-line-icons.css" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="libs/global/vendors/animate.css/animate.css" />
    <link type="text/css" rel="stylesheet" href="libs/global/vendors/iCheck/skins/all.css" />
    <link type="text/css" rel="stylesheet" href="libs/assets/vendors/bootstrap-switch/css/bootstrap-switch.css" />
    <link type="text/css" rel="stylesheet" href="/libs/assets/vendors/bootstrap-datepicker/css/datepicker.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
   <!-- <link type="text/css" rel="stylesheet" href="/libs/assets/vendors/bootstrap-colorpicker/css/colorpicker.css" />-->
    <link href="/libs/assets/vendors/bootstrap-color-picker-2.5/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/libs/assets/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link type="text/css" rel="stylesheet" href="/libs/assets/vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link type="text/css" rel="stylesheet" href="/libs/assets/vendors/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link type="text/css" rel="stylesheet" href="/libs/assets/vendors/bootstrap-clockface/css/clockface.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.0/css/bootstrap-select.css" />
    <!--<link type="text/css" rel="stylesheet" href="/libs/assets/vendors/bootstrap-select/dropdown.css" />-->
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css" />
    <!-- DataTable styles -->
    <link type="text/css" rel="stylesheet" href="libs/assets/vendors/DataTables/media/css/jquery.dataTables.css" />
    <link type="text/css" rel="stylesheet" href="libs/assets/vendors/DataTables/media/css/dataTables.bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="libs/assets/vendors/DataTables/extensions/TableTools/css/dataTables.tableTools.css"/>
    <!--<link type="text/css" rel="stylesheet" href="libs/assets/vendors/DataTables/extensions/TableTools/css/dataTables.tableTools.min.css" />-->
    <!-- Dialog css -->
    <link href="libs/global/css/ngDialog.css" rel="stylesheet" type="text/css">
    <link href="libs/global/css/ngDialog-theme-default.css" rel="stylesheet" type="text/css">

    <link type="text/css" rel="stylesheet" href="libs/assets/vendors/google-code-prettify/prettify.css" />
    <link type="text/css" rel="stylesheet" href="" id="font-layout" />
    <link type="text/css" rel="stylesheet" href="libs/global/vendors/intl-tel-input-master/css/intlTelInput.css" />
    <link type="text/css" rel="stylesheet" href="libs/global/css/core.css" />
    <link type="text/css" rel="stylesheet" href="libs/assets/css/system.css" />
    <link type="text/css" rel="stylesheet" href="libs/assets/css/system-responsive.css" />
    <link type="text/css" rel="stylesheet" href="App/app.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
    
    <!-- Loading script for each page using LazyLoad-->
    <!-- Beacon location MAP -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoMJJkkDKW-l657ZDs4xGXeZN2fnUeeAg"></script>
</head>
<body ng-class="[header.layout_menu]">
    <div ui-view="login" class="content"></div>
    <div ui-view="forgotPassword" class="content"></div>
    <div ui-view="signup" class="content"></div>
    <div ui-view="master" class="content"></div>
    <div ui-view="mobile" class="content"></div>


    <!-- Loading Angular libs-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
    <script src="libs/js/libs/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="libs/js/libs/angular-route.js"></script>
    <script src="libs/js/libs/angular-ui-router.js"></script>
    <script src="libs/js/libs/ocLazyLoad.js"></script>
    <!--<script src="libs/js/libs/ui-bootstrap.js"></script>-->
    <script src="libs/js/libs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>

  

    <!-- Loading jQuery libs-->
    <script src="libs/global/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="libs/global/js/jquery-ui.js"></script>        

    <!-- Loading Project libs-->
    <script src="libs/global/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/global/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="libs/global/js/html5shiv.js"></script>
    <script src="libs/global/js/respond.min.js"></script>
    <script src="libs/global/vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="libs/global/vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="libs/global/vendors/iCheck/icheck.min.js"></script>
    <script src="libs/global/vendors/iCheck/custom.min.js"></script>
    <script src="libs/assets/vendors/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="libs/assets/vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="libs/assets/vendors/bootstrap-datepaginator/moment.js"></script>
    <!-- Datatable scripts -->
    <script src="libs/assets/vendors/DataTables/jszip.min.js"></script>
    <script src="libs/assets/vendors/DataTables/PDFMake/pdfmake.min.js"></script>
    <script src="libs/assets/vendors/DataTables/PDFMake/vfs_fonts.js"></script> 
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="libs/assets/vendors/DataTables/angular-datatables.min.js"></script>
    <script src="libs/assets/vendors/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script src="libs/assets/vendors/DataTables/dataTables.buttons.js"></script>
    <script src="libs/assets/vendors/DataTables/buttons.html5.js"></script>
    <script src="libs/assets/vendors/DataTables/buttons.colVis.js"></script>
    <script src="libs/assets/vendors/DataTables/buttons.flash.js"></script> 
    <script src="libs/assets/vendors/DataTables/buttons.print.js"></script>
    <script src="libs/assets/vendors/DataTables/angular-datatables.buttons.js"></script>
   
    <script src="libs/assets/vendors/flot-chart/jquery.flot.js"></script>
    <script src="libs/assets/vendors/jquery-jvectormap/jquery-jvectormap-2.0.1.min.js"></script>
    <script src="libs/assets/vendors/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/libs/assets/vendors/bootstrap-daterangepicker/moment.js"></script>
    <script src="/libs/assets/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
   <!-- <script src="/libs/assets/vendors/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>-->
    <script src="/libs/assets/vendors/bootstrap-color-picker-2.5/js/bootstrap-colorpicker.min.js"></script>
    <script src="/libs/assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/libs/assets/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/libs/assets/vendors/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/libs/assets/vendors/bootstrap-clockface/js/clockface.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.0/js/bootstrap-select.js"></script>
    <script src="libs/global/vendors/intl-tel-input-master/js/intlTelInput.min.js"></script>
    <script src="libs/assets/vendors/bootstrap-notify.min.js"></script>
    <!-- angular multi select-->
    <script src="libs/js/libs/lodash.min.js"></script>
    <!-- angular-qrcode -->    
    <script src="/libs/assets/vendors/angular-qrcode/angular-qrcode.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://kazuhikoarase.github.io/qrcode-generator/js/qrcode.js"></script>
    <script src="https://kazuhikoarase.github.io/qrcode-generator/js/demo/assets/qrcode.js"></script>

 

    <!--<script src="libs/js/libs/angular-dropdown-multiselect.js"></script>-->
    <script src="libs/js/libs/angularjs-dropdown-multiselect.min.js"></script>
    <!-- Dialog scripts -->
    <script src="libs/global/js/ngDialog.js"></script>
    <!-- Loading core javascript-->
    <script src="App/app.js"></script>
    <script src="App/constants.js"></script>
    <!-- Loading Angular modules -->
    <script src="App/Signup/signup.js"></script>
    <script src="App/Login/login.js"></script>
    <script src="App/ForgotPassword/forgot-password.js"></script>
    <script src="App/Master/master.js"></script>
    <script src="App/Master/Dashboard/dashboard.js"></script>
    <script src="App/Master/Beacons/beacons.js"></script>
    <script src="App/Master/Beacons/BeaconDetails/BeaconDetails.js"></script>
    <script src="App/Master/Kiosks/kiosks.js"></script>
    <script src="App/Master/Kiosks/LuckyCharacters/luckyCharacters.js"></script>
    <script src="App/Master/Kiosks/SetKioskOffer/setKioskOffer.js"></script>
    <script src="App/Master/Kiosks/KioskDetails/kioskDetails.js"></script>
    <script src="App/Master/Offers/offers.js"></script>
    <script src="App/Master/Offers/offerDetails/offerDetails.js"></script>
    <script src="App/Master/Stores/stores.js"></script>
    <script src="App/Master/Stores/StoreDetails/storeDetails.js"></script>
    <script src="App/Master/Users/users.js"></script>
    <script src="App/Master/Users/userDetails/userDetails.js"></script>
    <script src="App/Master/Users/AnonymousUserDetails/anonymousUserDetails.js"></script>
    <script src="App/Master/Profile/profile.js"></script>
    <script src="App/Master/Profile/EditProfile/editProfile.js"></script>
    <script src="App/Mobile/mobile.js"></script>
    <script src="App/Mobile/congoNewUser/congoNewUser.js"></script>
    <script src="App/Mobile/congoUser/congoUser.js"></script>
    <script src="App/Mobile/getMemberID/getMemberID.js"></script>
    <script src="App/Mobile/getUserDetail/getUserDetail.js"></script>
    <script src="App/Mobile/landing/landing.js"></script>
    <script src="App/Mobile/viewOffer/viewOffer.js"></script>
    <script src="App/Mobile/viewBeaconOffer/viewBeaconOffer.js"></script>
    <script src="App/Services/ApiService.js"></script>
    <script src="App/Services/TokenService.js"></script>
    <script src="Scripts/ng-file-upload.js"></script>
    <script src="App/Signup/signup.js"></script>
    <script src="App/Login/login.js"></script>
    <script src="Scripts/ngStorage.min.js"></script>
    <script src="App/ForgotPassword/forgot-password.js"></script>
    <script src="App/Master/Profile/profile.js"></script>
    <script src="App/Master/TermsAndConditions/termsAndConditions.js"></script>
    <script src="App/Master/OffersCategories/OffersCategories.js"></script>
    <script src="App/Master/Kiosks/KioskDetails/LuckyCharacters/luckyCharacters.js"></script>
    <script src="App/Master/OfferChecklist/offerChecklist.js"></script>
    <script src="App/Master/Kiosks/KioskDetails/SetKioskOffer/setKioskOffer.js"></script>
    <script src="App/Master/Beacons/viewBeacon/viewBeacon.js"></script>
    <script src="App/Master/SocialLogin/socialLogin.js"></script>
    <script src="App/Master/Beacons/viewBeacon/beaconDetails/beaconDetails.js"></script>
    <script src="App/Master/Administration/administration.js"></script>
    <script src="App/Master/ResetPassword/resetPassword.js"></script>
    <script src="App/Master/TermsAndConditions/termsSample.js"></script>
    <script src="App/Master/Administration/Users/userDetails.js"></script>
    <script src="App/Master/Offers/offersSample.js"></script>
    <script src="App/Master/Notifications/notifications.js"></script>
    <script src="App/Master/Pass/pass.js"></script>
    <script src="App/Master/Pass/UserPass/ViewUserPass/viewUserPass.js"></script>
    <script src="App/Master/Pass/Templates/templates.js"></script>
    <script src="App/Master/Pass/Templates/ViewTemplate/viewTemplate.js"></script>
    <script src="App/Master/Pass/Templates/EditTemplate/editTemplate.js"></script>
    <script src="App/Master/Pass/SystemPasses/EditSystemPass/editSystemPass.js"></script>
    <script src="App/Master/Pass/SystemPasses/ViewSystemPass/viewSystemPass.js"></script>>
    <script src="App/Master/Pass/SystemPasses/AddSystemPass/addSystemPass.js"></script>
    <script src="App/Master/Pass/Templates/AddTemplate/AddTemplate.js"></script>
</body>
</html>