<div class="col-xs-12 p-0 mb-8" ng-repeat="offer in offers">
    <div ng-click="gotoViewOffer(offer.id,offer.categories[0].name, offer.imagePath)" class="offer-panel">
        <div class="panel-image">
            <img class="img-responsive" ng-src='{{getBackgroundPic(offer)}}' />
        </div>
        <div class="panel-text">
            <p>{{offer.title}}</p>
            <p class="sub-text">{{offer.description}}</p>
        </div>
        <!--<div class="panel-time">
            <p>Expires {{getTimeLeft(offer.endTime)}}</p>
        </div>-->
    </div>
</div>
<!--<div class="col-xs-12 p-0 mb-8">
    <div ui-sref="mobile.viewOffer" class="offer-panel">
        <div class="panel-image">
            <img class="img-responsive" src="/libs/assets/images/bg2.jpg" />
        </div>
        <div class="panel-text">
            <p class="sub-text">Get 1 ticket FREE</p>
            <p>New Year Concert</p>
        </div>
        <div class="panel-time">
            <p>Valid till 31st Dec</p>
        </div>
    </div>
</div>
<div class="col-xs-12 p-0 mb-8">
    <div ui-sref="mobile.viewOffer" class="offer-panel">
        <div class="panel-image">
            <img class="img-responsive" src="/libs/assets/images/casino.jpg" />
        </div>
        <div class="panel-text">
            <p class="sub-text">Get 1000 points FREE</p>
            <p>Online Gaming</p>
        </div>
        <div class="panel-time">
            <p>4 Hrs Left</p>
        </div>
    </div>
</div>-->