﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Pass</div>
                </div>
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active" ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#userPassList" data-toggle="tab">Pass</a></li>
                        <li ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#passTemplateList" data-toggle="tab">Templates</a></li>
                        <li ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#systemPassList" data-toggle="tab">System Pass</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="userPassList" class="tab-pane fade active in">
                            <div class="row mbm" ng-switch="dataLoader">
                                <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-switch-when=1>
                                    <div>
                                        <table datatable="" dt-options="dtOptionsUserPassList" dt-column-defs="dtColumnDefsUserPassList" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Pass ID</th>
                                                    <th>Member ID</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Issued Date</th>
                                                    <th>Expiry Date</th>
                                                    <th width="10%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Static date replace this afer API integration -->
                                                <tr ng-repeat="userPass in userPasses">
                                                    <td>{{$index + 1}}</td>
                                                    <td><a>{{userPass.passID}}</a></td>
                                                    <td>{{userPass.memberID}}</td>
                                                    <td>{{userPass.email}}</td>
                                                    <td>{{userPass.phone}}</td>
                                                    <td>{{userPass.issuedDate}}</td>
                                                    <td>{{userPass.expiryDate}}</td>
                                                    <td class="alignCenter">
                                                        <button type="button" ng-click="userPassDetails(userPass.passID)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-xs">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-xs">
                                                        <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ng-switch-when=2>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                            </div>
                        </div>
                        <div id="passTemplateList" class="tab-pane fade">
                            <div class="row mbm" ng-switch="dataLoader">
                                <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-switch-when=1>
                                    <div class="text-right form-group">
                                        <button ng-click="addTemplate()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Template</button>
                                    </div>
                                    <div>
                                        <table datatable="" dt-options="dtOptionsTemplateList" dt-column-defs="dtColumnDefsTemplateList" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Template ID</th>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th width="10%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Static date replace this afer API integration -->
                                                <tr ng-repeat="template in templates">
                                                    <td>{{$index + 1}}</td>
                                                    <td><a>{{template.templateID}}</a></td>
                                                    <td>{{template.name}}</td>
                                                    <td>{{template.type}}</td>
                                                    <td class="alignCenter">
                                                        <button type="button" ng-click="viewTemplate(template.templateID)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" ng-click="editTemplate(template.templateID)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-xs">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ng-switch-when=2>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                            </div>

                        </div>
                        <div id="systemPassList" class="tab-pane fade">
                            <div class="row mbm" ng-switch="dataLoader">
                                <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-switch-when=1>
                                    <div class="text-right form-group">
                                        <button ng-click="addSystemPass()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Pass</button>
                                    </div>
                                    <div>
                                        <table datatable="" dt-options="dtOptionsSystemPassList" dt-column-defs="dtColumnDefsSystemPassList" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Pass ID</th>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Total Pass Issued</th>
                                                    <th width="10%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Static date replace this afer API integration -->
                                                <tr ng-repeat="systemPass in systemPasses">
                                                    <td>{{$index + 1}}</td>
                                                    <td><a>{{systemPass.passID}}</a></td>
                                                    <td>{{systemPass.name}}</td>
                                                    <td>{{systemPass.type}}</td>
                                                    <td>{{systemPass.totalPassIssued}}</td>
                                                    <td class="alignCenter">
                                                        <button type="button" ng-click="viewSystemPass(systemPass.passID)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" ng-click="editSystemPass(systemPass.passID)" class="btn btn-default btn-xs">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-xs">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ng-switch-when=2>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUsersList()" class="highlight text-underline">Try again</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>