﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                        <div class="col-md-9 padding-bottom-12">
                            <div>
                                <h3>View Template</h3>
                            </div>
                            <div>
                                <label class="control-label">Template ID: </label>  {{templateID}}
                            </div>
                            <div>
                                <label class="control-label">Template Name: </label>  Carnival Cruise Template
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="text-right form-group">
                                <button ng-click="goBack()" type="button" class="btn btn-primary purple workabble-button-margin">Back</button>
                                <button ng-click="goToEditTemplate(templateID)" type="button" class="btn btn-primary purple">Edit</button>
                            </div>
                        </div>
                    <div class="col-md-12 ">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a href="javascript:;" data-target="#templateSetting" data-toggle="tab">Template Setting</a></li>
                                <li><a href="javascript:;" data-target="#colorsAndImages" data-toggle="tab">Colors And Images</a></li>
                                <li><a href="javascript:;" data-target="#language" data-toggle="tab">Language</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="templateSetting" class="tab-pane fade active in">
                                    <h1>Basic Template Setting Tab</h1>
                                </div>
                                <div id="colorsAndImages" class="tab-pane fade">
                                    <h1>Color And Image setting Tab</h1>
                                </div>
                                <div id="language" class="tab-pane fade">
                                    <h1>Here you can set up multilanguage support</h1>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
