﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Offers Sample Sheet</div>
                </div>
                <div class="panel-body">
                    <div class="caption-heading">Steps to follow:</div>
                    <ol class="marginTop-10">
                        <li>
                            The order of the columns does not matter.
                        </li>
                        <li>
                            You have to make sure, the following columns are present:
                            <ul>
                                <li>
                                    <u>Offer Type</u> - The value for this column would be either 'Both' or 'Member' or 'Non-Member'.
                                </li>
                                <li>
                                    <u>Countries</u> - This column can contain multiple values each separated by commas, and you have to be sure that the country that you are entering is present in the database or else the offer will not be saved.
                                </li>
                                <li>
                                    <u>Categories</u> - Same goes with this column. You can enter multiple values separated by commas, but you will have o make sure that the category is present in the database.
                                </li>
                                <li>
                                    <u>Offer Number</u> - This column must contain one value which will have to be unique. If the offer number already exists, the offer wont be saved.
                                </li>
                                <li>
                                    <u>Title</u> - This column can contain a sentence which will be the title for the offer. This column does not require to be unique.
                                </li>
                                <li>
                                    <u>Description</u> - This column can contain a sentence which will be the description for the offer. This column does not require to be unique.
                                </li>
                                <li>
                                    <u>From Date</u> - This column specifies the start date of the offer and should be in the format: 'YYYY-MM-DD HH:mm:ss'
                                </li>
                                <li>
                                    <u>To Date</u> - This column specifies the end date of the offer and should be in the format: 'YYYY-MM-DD HH:mm:ss'
                                </li>
                                <li>
                                    <u>Offer Duration</u> - This column contains the duration for which the offer will be displayed to the user. (The value will be in minutes)
                                </li>
                                <li>
                                    <u>Terms And Conditions</u> - You can enter multiple terms and conditions in this column sperated by comma. But you will have to make sure that the term/condition that you are entering are present in the database or else the offer wont be saved.
                                </li>
                                <li>
                                    <u>Value</u> - This column will contain the values for the categories. Values should be in order of the categories. This column must contain same number of values as that of number of categories. You can enter multiple values. But you will have to make sure that the values are in single inverted comma and separated by comma.
                                    <p>For eg: '100', 'Win Dinner', ... and so on</p>
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <div class="caption-heading marginTop-10">Sample Document</div>
                    <iframe class="terms-sample marginTop-10" src="https://docs.google.com/spreadsheets/d/1_z0ARx7i-Mboxw2R-2FNbOEqFW98Zp18EdKWly2jLic/pubhtml?widget=true&amp;headers=false"></iframe>
                    <p><button class="btn btn-primary purple marginTop-10" ng-click="download()"><i class="fa fa-download"></i> Download</button></p>
                </div>
            </div>
        </div>
    </div>
</div>

