<div class="page-signin">
  <div class="page-form ">
    <form name="loginForm" class="form " ng-submit="login(loginForm.$valid)" novalidate>
      <div class="header-content text-center">
          <div class="alert alert-success" ng-show="successAlert">
              <strong>Success!</strong> Successfully added new Account.
          </div>
          <div class="alert alert-danger" ng-show="faliureAlert">
              <strong>{{errorMessage}}</strong>
          </div>
        <h1>Login to your account</h1>
      </div>
      <div class="body-content">
        <div role="alert" class="alert alert-danger alert-dismissible alert-custom hide">
          <button type="button" data-dismiss="alert" class="close"><span>&times;</span></button>Enter any username and password.
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <input type="text" placeholder="Username" ng-model="User.username" name="userName" class="form-control" required/>
              <p class="required required-red" ng-show="loginForm.userName.$invalid && submitted">Please enter the user name.</p>
          </div>
          <div class="list-group-item">
            <input type="password" name="password" placeholder="Password" ng-model="User.password" class="form-control" required/>
              <p class="required required-red" ng-show="loginForm.password.$error.required && submitted">Please enter the password.</p>
          </div>
        </div>
        <!--<div class="form-group pull-left">
          <label>
            <input type="checkbox" class="form-control-shadow"/>&nbsp;
            Remember me
          </label>
        </div>-->
        <div class="form-group pull-right"><a href="javascript:;" ng-click="forgotPassword()" class="btn-link highlight">Forgotten your Password?</a></div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success btn-circle btn-block btn-shadow mbs purple" ng-disabled="loginButtonName=='Logging in ...'">{{loginButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="loginButtonName=='Logging in ...'"></i></button> 
          </div>
          <!-- <div class="col-sm-7"><a href="#" class="btn btn-social btn-google-plus btn-circle btn-block btn-shadow mbs"><i class="fa fa-google-plus"></i>Login with Google</a></div> -->
        </div>
        <hr/>
        <div class="form-group">
          <p>Don't have an account? <a id="btn-register" ui-sref="signup" class="btn-link highlight">Create an account</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>