 <div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Offers</div>
                </div>
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active" ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#offerList" data-toggle="tab">Offer List</a></li>
                        <li ng-click="adjustDataTablesColumns()"><a href="javascript:;" data-target="#defaultOffers" data-toggle="tab">Default Offers</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="offerList" class="tab-pane fade active in">
                            <div class="row mbm" ng-switch="dataLoader">
                                <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-switch-when=1>
                                    <div class="text-right form-group">
                                        <button data-target="#addOfferDialog" ng-click="reloadSelectPicker()" data-toggle="modal" data-backdrop="static" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Offer</button>
                                        <button ng-click="uploadOffers()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Import From Excel</button>
                                    </div>
                                    <div>
                                        <table datatable="" dt-options="dtOptionsOffers" dt-column-defs="dtColumnDefsOffers" class="table table-advanced table-hover table-striped table-bordered width-100-percent">
                                            <thead>
                                                <tr>
                                                    <th>Offer Number</th>
                                                    <th>Offer Title</th>
                                                    <th>Category</th>
                                                    <th>Offer Type</th>
                                                    <th>Availed Count</th>
                                                    <th>Registered Users Today</th>
                                                    <th>Registered Users This Week</th>
                                                    <th>Registered Users This Month</th>
                                                    <th>Total Users</th>
                                                    <th>Status</th>
                                                    <th>Created On</th>
                                                    <th width="6%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="offer in offers">
                                                    <td><a ui-sref="master.offerDetails({ offerId: offer.id })">{{offer.number}}</a></td>
                                                    <td><p class="offerTitleElipses">{{offer.title}}</p></td>
                                                    <td><span ng-repeat="category in offer.categories"><p>{{category.name}}</p></span></td>
                                                    <td>{{offer.OfferType}}</td>
                                                    <td>{{offer.offerAvailedCount}}</td>
                                                    <td>{{offer.registredUsersToday}}</td>
                                                    <td>{{offer.registredUsersThisWeek}}</td>
                                                    <td>{{offer.registredUsersThisMonth}}</td>
                                                    <td>{{offer.totalRegistredUsers}}</td>
                                                    <td><p>Beacon-{{offer.beaconStatus}}</p><p>Kiosk-{{offer.kioskStatus}}</p></td>
                                                    <td>{{offer.createdOn}}</td>
                                                    <td class="alignCenter">
                                                        <!--<button ui-sref="master.offerDetails" type="button" class="btn btn-default btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>-->
                                                        <button ng-click="gotoOfferDetails(offer.id)" type="button" class="btn btn-default btn-xs">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-xs" ng-click="deleteOffer(offer)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ng-switch-when=2>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferList()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default>
                                    <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferList()" class="highlight text-underline">Try again</a></p>
                                </div>
                            </div>
                        </div>
                        <div id="defaultOffers" class="tab-pane fade" ng-switch="defaultOfferLoader">
                            <div class="row mbm col-md-12" ng-switch-when=0>
                                <div class="text-center loader-fullscreen" id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when=1>
                                <div id="beaconMemberOffers">
                                    <div class="row mbm">
                                        <div class="col-md-8">
                                            <h3>Beacon</h3>
                                            <p><b>Member Default Offer</b></p>
                                        </div>                                       
                                        <div class="col-md-4 padding-top-18">
                                            <button ng-click="setDefaultBeaconOfferMember()" type="button" class="btn btn-primary purple pull-right">Change</button>
                                        </div>
                                    </div>
                                    
                                    <div class="row form-group">

                                        <div class="col-md-12">
                                            <div>
                                                <table datatable="" dt-options="dtOptionsDefaultOffers" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                                    <thead>
                                                        <tr>
                                                            <th>Offer Number</th>
                                                            <th>Offer Title</th>
                                                            <th>Category</th>
                                                            <th>Offer Type</th>
                                                            <th>Device Type</th>
                                                            <th>Availed Count</th>                                                           
                                                            <th>Registered Users Today</th>
                                                            <th>Registered Users This Week</th>
                                                            <th>Registered Users This Month</th>
                                                            <th>Total Registered Users</th>
                                                            <th>Created On</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="singleOffer in defaultBeaconMemberOffer">
                                                            <td><a ui-sref="master.offerDetails({ offerId: singleOffer.offer.id })">{{singleOffer.offer.number}}</a></td>
                                                            <td><p class="offerTitleElipses">{{singleOffer.offer.title}}</p></td>
                                                            <td><span ng-repeat="category in singleOffer.offer.categories"><p>{{category.name}}</p></span></td>
                                                            <td>{{singleOffer.OfferType}}</td>
                                                            <td>{{singleOffer.DeviceType}}</td>
                                                            <td>{{singleOffer.offer.offerAvailedCount}}</td>
                                                            <td>{{singleOffer.offer.registredUsersToday}}</td>
                                                            <td>{{singleOffer.offer.registredUsersThisWeek}}</td>
                                                            <td>{{singleOffer.offer.registredUsersThisMonth}}</td>
                                                            <td>{{singleOffer.offer.totalRegistredUsers}}</td>
                                                            <td>{{singleOffer.offer.createdOn | date:'MM/dd/yyyy'}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="beaconNonMemberOffers">
                                    <div class="row mbm">
                                        <div class="col-md-8">
                                            <p><b>Non-Member Default Offer</b></p>
                                        </div>
                                        <div class="col-md-4">
                                            <button ng-click="setDefaultBeaconOfferNonMember()" type="button" class="btn btn-primary purple pull-right">Change</button>
                                        </div>
                                    </div>
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <div>
                                                    <table datatable="" dt-options="dtOptionsDefaultOffers" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                                        <thead>
                                                            <tr>
                                                                <th>Offer Number</th>
                                                                <th>Offer Title</th>
                                                                <th>Category</th>
                                                                <th>Offer Type</th>
                                                                <th>Device Type</th>
                                                                <th>Availed Count</th>
                                                                <th>Registered Users Today</th>
                                                                <th>Registered Users This Week</th>
                                                                <th>Registered Users This Month</th>
                                                                <th>Total Registered Users</th>
                                                                <th>Created On</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="singleOffer in defaultBeaconNonMemberOffer">
                                                                <td><a ui-sref="master.offerDetails({ offerId: singleOffer.offer.id })">{{singleOffer.offer.number}}</a></td>
                                                                <td><p class="offerTitleElipses">{{singleOffer.offer.title}}</p></td>
                                                                <td><span ng-repeat="category in singleOffer.offer.categories"><p>{{category.name}}</p></span></td>
                                                                <td>{{singleOffer.OfferType}}</td>
                                                                <td>{{singleOffer.DeviceType}}</td>
                                                                <td>{{singleOffer.offer.offerAvailedCount}}</td>
                                                                <td>{{singleOffer.offer.registredUsersToday}}</td>
                                                                <td>{{singleOffer.offer.registredUsersThisWeek}}</td>
                                                                <td>{{singleOffer.offer.registredUsersThisMonth}}</td>
                                                                <td>{{singleOffer.offer.totalRegistredUsers}}</td>
                                                                <td>{{singleOffer.offer.createdOn | date:'MM/dd/yyyy'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                <div>
                                <hr/>
                                </div>
                                <div id="kioskMemberOffers">
                                    <div class="row mbm">
                                        <div class="col-md-8">
                                            <h3>Kiosk</h3>
                                            <p><b>Member Default Offer</b></p>
                                        </div>
                                        <div class="col-md-4 padding-top-18">
                                            <button ng-click="setDefaultKioskOfferMember()" type="button" class="btn btn-primary purple pull-right">Change</button>
                                        </div>
                                    </div>
                                    
                                    <div class="row form-group">
                                        <div class="col-md-12" >
                                            <div>
                                                <table datatable="" dt-options="dtOptionsDefaultOffers" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                                    <thead>
                                                        <tr>
                                                            <th>Offer Number</th>
                                                            <th>Offer Title</th>
                                                            <th>Category</th>
                                                            <th>Offer Type</th>
                                                            <th>Device Type</th>
                                                            <th>Availed Count</th>
                                                            <th>Registered Users Today</th>
                                                            <th>Registered Users This Week</th>
                                                            <th>Registered Users This Month</th>
                                                            <th>Total Registered Users</th>
                                                            <th>Created On</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="singleOffer in defaultKioskMemberOffer">
                                                            <td><a ui-sref="master.offerDetails({ offerId: singleOffer.offer.id })">{{singleOffer.offer.number}}</a></td>
                                                            <td><p class="offerTitleElipses">{{singleOffer.offer.title}}</p></td>
                                                            <td><span ng-repeat="category in singleOffer.offer.categories"><p>{{category.name}}</p></span></td>
                                                            <td>{{singleOffer.OfferType}}</td>
                                                            <td>{{singleOffer.DeviceType}}</td>
                                                            <td>{{singleOffer.offer.offerAvailedCount}}</td>
                                                            <td>{{singleOffer.offer.registredUsersToday}}</td>
                                                            <td>{{singleOffer.offer.registredUsersThisWeek}}</td>
                                                            <td>{{singleOffer.offer.registredUsersThisMonth}}</td>
                                                            <td>{{singleOffer.offer.totalRegistredUsers}}</td>
                                                            <td>{{singleOffer.offer.createdOn | date:'MM/dd/yyyy'}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>                                      
                                    </div>
                                </div>
                                <div id="kioskNonMemberOffers">
                                    <div class="row mbm">
                                        <div class="col-md-8">                                           
                                            <p><b>Non-member default Offer</b></p>                                           
                                        </div>                                        
                                        <div class="col-md-4">
                                            <button ng-click="setDefaultKioskOfferNonMember()" type="button" class="btn btn-primary purple pull-right">Change</button>
                                        </div>
                                    </div>
                                    
                                    <div class="row form-group">   
                                        <div class="col-md-12" >
                                            <div>
                                                <table datatable="" dt-options="dtOptionsDefaultOffers" class="table table-hover table-striped table-advanced table-bordered width-100-percent">
                                                    <thead>
                                                        <tr>
                                                            <th>Offer Number</th>
                                                            <th>Offer Title</th>
                                                            <th>Category</th>
                                                            <th>Offer Type</th>
                                                            <th>Device Type</th>
                                                            <th>Availed Count</th>
                                                            <th>Registered Users Today</th>
                                                            <th>Registered Users This Week</th>
                                                            <th>Registered Users This Month</th>
                                                            <th>Total Registered Users</th>
                                                            <th>Created On</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="singleOffer in defaultKioskNonMemberOffer">
                                                            <td><a ui-sref="master.offerDetails({ offerId: singleOffer.offer.id })">{{singleOffer.offer.number}}</a></td>
                                                            <td><p class="offerTitleElipses">{{singleOffer.offer.title}}</p></td>
                                                            <td><span ng-repeat="category in singleOffer.offer.categories"><p>{{category.name}}</p></span></td>
                                                            <td>{{singleOffer.OfferType}}</td>
                                                            <td>{{singleOffer.DeviceType}}</td>
                                                            <td>{{singleOffer.offer.offerAvailedCount}}</td>
                                                            <td>{{singleOffer.offer.registredUsersToday}}</td>
                                                            <td>{{singleOffer.offer.registredUsersThisWeek}}</td>
                                                            <td>{{singleOffer.offer.registredUsersThisMonth}}</td>
                                                            <td>{{singleOffer.offer.totalRegistredUsers}}</td>
                                                            <td>{{singleOffer.offer.createdOn | date:'MM/dd/yyyy'}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>                                     
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when=2>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadDefaultOffers()" class="highlight text-underline">Try again</a></p>
                            </div>
                            <div ng-switch-default>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadDefaultOffers()" class="highlight text-underline">Try again</a></p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addOfferDialog" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade draggable offer-modal">

    <!--top line comment-->
    <!--<div class="alert alert-success" ng-show="successalert">
        <strong>success!</strong> successfully added offer to the list.
    </div>
    <div class="alert alert-danger" ng-show="faliurealert">
        <strong>failure!</strong> {{errormessage}}.
    </div>-->

    <div class="modal-dialog">
        <div class="ngdialog-close modalCloseBtn" ng-click="clearModal()" data-dismiss="modal"></div>
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-success" ng-show="successAlert">
                    <strong>Success!</strong> Successfully added offer to the list.
                </div>
                <div class="alert alert-danger" ng-show="faliureAlert">
                    <strong>Failure!</strong> {{errorMessage}}.
                </div>
                <h4 class="modal-title text-center">Add New Offer</h4>
            </div>
            <form name="newOfferForm" ng-submit="submit(newOfferForm)" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <!--<select class="form-control" ng-options="country.id as country.name for country in countries" name="country" ng-model="newOffer.country.id" multiple required>
                <option value="">Country</option>
            </select>-->
                                <select data-actions-box="true" ng-options="offerType.value as offerType.type for offerType in offerTypes" name="offerType" ng-model="newOffer.offerType" class="form-control" required>
                                    <option selected value="">Choose offer type</option>
                                </select>
                                
                                <p class="required required-red"
                                   ng-show="newOfferForm.offerType.$error.required && submitted">
                                    * Offer type required
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <!--<select class="form-control" ng-options="country.id as country.name for country in countries" name="country" ng-model="newOffer.country.id" multiple required>
                <option value="">Country</option>
            </select>-->

                                <select id="countryDropdown" data-actions-box="true" multiple="multiple" ng-options="country as country.name for country in countries" name="country" ng-model="newOffer.countries" title="Choose country..." class="selectpicker form-control" required ng-disabled="newOffer.is_country_disabled" ng-change="changeSelectedCountryCurrency()">
                                    <option value="">All</option>
                                </select>
                                <p class="field-info-label">Please select atleast 1 category before selecting country.</p>
                                <p class="field-info-label">Select countries with same currency.</p>
                                <p class="required required-red"
                                   ng-show="newOfferForm.country.$invalid && submitted">
                                    * Country required
                                </p>
                                <p class="required required-red"
                                       ng-show="InvalidCountryGroupSelected && submitted">
                                           Please select countries of same currency
                                       </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <select data-actions-box="true" multiple="multiple" ng-options="category.id as category.name for category in newOffer.categories"  name="category" ng-checked="onSelectListChange()" ng-model="selectedCategories" title="Choose category..." class="selectpicker form-control" required>
                                    <option value="">All</option>
                                </select>
                                <p class="required required-red"
                                   ng-show="newOfferForm.category.$invalid && submitted">
                                    * Category required
                                </p>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Offer Number" name="offerNumber" ng-model="newOffer.number" ng-pattern="/^[a-zA-Z0-9_]*$/" required>
                                <p class="required required-red"
                                   ng-show="newOfferForm.offerNumber.$invalid && submitted">
                                    * Offer number required or invalid offer number
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 pull-right">
                            <div ng-repeat="category in newOffer.categories" ng-if="category.is_selected">
                                <ng-form name="categoryForm">
                                <div class="width-100-percent" ng-class="{'input-group':category.CategoryUnit == 'CURRENCY'}">
                                    
                                    <div class="form-group input-group">
                                        <span ng-if="category.CategoryUnit == 'CURRENCY'" class="input-group-addon">{{selectedCountryCurrency}}</span>
                                        <input ng-if="category.CategoryUnit == 'CURRENCY'" type="text" currency class="form-control " placeholder="{{category.name}}" name="value"  ng-model="category.value" required ng-show="category.is_selected"/>

                                        <input ng-if="category.CategoryUnit != 'CURRENCY'" type="text" class="form-control " placeholder="{{category.name}}" name="value"  ng-model="category.value" required ng-show="category.is_selected"/>


                                        <p class="required required-red"
                                       ng-show="categoryForm.value.$invalid && submitted">
                                        * {{category.name}} required
                                        </p>

                                        </p>
                                    </div>
                                </div>
                                <div>
                                    
                                </div>
                                </ng-form>
                            </div>
                        </div>

                        <!--<div class="col-md-6 pull-right">

                            <input type="number" class="form-control" placeholder="Value" ng-model="newOffer.value" name="value" required />
                            <p class="required required-red"
                               ng-show="newOfferForm.value.$invalid && submitted">
                                * Value required
                            </p>
                        </div>-->

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Title" name="title" ng-model="newOffer.title" required>
                                <p class="required required-red"
                                   ng-show="newOfferForm.title.$invalid && submitted">
                                    * Title required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description" name="description" ng-model="newOffer.description" required>
                                <p class="required required-red"
                                   ng-show="newOfferForm.description.$invalid && submitted">
                                    * Description required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input id="offerDatetime" type="text" name="daterangepicker-date-time date" class="form-control" ng-model="date" placeholder="Time & Date" ng-blur="checkDate()" autocomplete="off">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                                <p class="required required-red"
                                   ng-show="dateError && submitted">
                                    * Date required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                    <input id="offerDuration" type="number" name="duration" placeholder="Offer Duration (Minutes)" class="form-control" ng-model="newOffer.duration" required>
                                    <p class="field-info-label">Offer Duration is the time duration for which user can accept the offer</p>
                                    <p class="required required-red"
                                   ng-show="newOfferForm.duration.$invalid && submitted">
                                    * Offer duration required
                                    </p>
                                </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select id="countryDropdown" data-actions-box="true" multiple="multiple" ng-options="term.id as term.title for term in termsAndConditions" name="terms" ng-model="newOffer.terms" title="Choose terms and conditions..." class="selectpicker form-control">
                                    <option value="">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="file" id="fileInput" class="form-control" ngf-select file-input="image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary purple" ng-click="saveNewOffer(newOfferForm)" ng-disabled="saveButtonName=='Saving'">
                        {{saveButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="saveButtonName=='Saving'"></i>
                    </button>
                   
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete offer modal-->
<script type="text/ng-template" id="deleteOfferDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully deleted offer.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Delete Offer</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to delete the offer "{{deleteOfferModel.title}}" with offer number "{{deleteOfferModel.number}}"? This action is irreversible.
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="deleteOfferAPI()" ng-disabled="deleteButtonName=='Deleting'">
                {{deleteButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="deleteButtonName=='Deleting'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeDeleteModal()">Cancel</button>
        </div>
    </div>
</script>
<!-- set beacon member default offer -->
<script type="text/ng-template" id="setBeaconMemberDefaultOfferDialog">
    <div class="modal-header">
        <div class="alert alert-success" ng-show="successAlert">
            <strong>Success!</strong> Successfully activated the default offer.
        </div>
        <div class="alert alert-danger" ng-show="faliureAlert">
            <strong>Failure!</strong> Failed to active the default offer. Please try again.
        </div>
        <div class="row mbm">
            <div class="col-md-12">
                <h3>Offer List</h3>
                <p>Beacon member</p>
            </div>
        </div>
    </div>
    <div ng-switch="nonDefaultBeaconMemberOfferLoader" class="modal-body">
        <div class="text-center loader-modal-fullscreen" ng-switch-when=0 id="overlay">
            <div id="loader">
                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-modal-center"></i></p>
            </div>
        </div>
        <div id="also-resize" class="table-responsive-beacon-dailog" ng-switch-when="1">
            <table datatable="" dt-options="dtOptionsWithoutButtons" dt-column-defs="dtColumnDefsSetOfferModals" class="table table-striped table-bordered table-hover table-striped table-advanced width-100-percent">
                <thead>
                    <tr>
                        <th>Offer Number</th>
                        <th>Offer Title</th>
                        <th>Category</th>
                        <th>Offer Type</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Availed Count</th>
                        <th>Registered Users Today</th>
                        <th>Registered Users This Week</th>
                        <th>Registered Users This Month</th>
                        <th>Total Registered Users</th>
                        <th>Activate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nonDefaultOffer in nonDefaultBeaconMemberOffer">

                        <td>{{nonDefaultOffer.number}}</td>
                        <td><p class="offerTitleElipses">{{nonDefaultOffer.title}}</p></td>
                        <td><span ng-repeat="category in nonDefaultOffer.categories"><p>{{category.name}}</p></span></td>
                        <td>{{nonDefaultOffer.OfferType}}</td>
                        <td>{{nonDefaultOffer.startTime}}</td>
                        <td>{{nonDefaultOffer.endTime}}</td>
                        <td>{{nonDefaultOffer.offerAvailedCount}}</td>
                        <td>{{nonDefaultOffer.registredUsersToday}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisWeek}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisMonth}}</td>
                        <td>{{nonDefaultOffer.totalRegistredUsers}}</td>
                        <td width="15%"><a ng-click="setNonDefaultBeaconMemberOffer(nonDefaultOffer.id)" href="javascript:;">Set Active</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-switch-when=2>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</script> 
<!-- set beacon non member default offer -->
<script type="text/ng-template" id="setBeaconNonMemberDefaultOfferDialog">
    <div class="modal-header">
        <div class="alert alert-success" ng-show="successAlert">
            <strong>Success!</strong> Successfully activated the default offer.
        </div>
        <div class="alert alert-danger" ng-show="faliureAlert">
            <strong>Failure!</strong> Failed to active the default offer. Please try again.
        </div>
        <div class="row mbm">
            <div class="col-md-12">
                <h3>Offer List</h3>
                <p>Beacon non member</p>
            </div>
        </div>
    </div>
    <div ng-switch="nonDefaultBeaconNonMemberOfferLoader" class="modal-body">
        <div class="text-center loader-modal-fullscreen" ng-switch-when=0 id="overlay">
            <div id="loader">
                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-modal-center"></i></p>
            </div>
        </div>
        <div id="also-resize" class="table-responsive-beacon-dailog" ng-switch-when="1">
            <table datatable="" dt-options="dtOptionsWithoutButtons" dt-column-defs="dtColumnDefsSetOfferModals" class="table table-striped table-bordered table-hover table-striped table-advanced width-100-percent">
                <thead>
                    <tr>
                        <th>Offer Number</th>
                        <th>Offer Title</th>
                        <th>Category</th>
                        <th>Offer Type</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Availed Count</th>
                        <th>Registered Users Today</th>
                        <th>Registered Users This Week</th>
                        <th>Registered Users This Month</th>
                        <th>Total Registered Users</th>
                        <th>Activate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nonDefaultOffer in nonDefaultBeaconNonMemberOffer">

                        <td>{{nonDefaultOffer.number}}</td>
                        <td><p class="offerTitleElipses">{{nonDefaultOffer.title}}</p></td>
                        <td><span ng-repeat="category in nonDefaultOffer.categories"><p>{{category.name}}</p></span></td>
                        <td>{{nonDefaultOffer.OfferType}}</td>
                        <td>{{nonDefaultOffer.startTime}}</td>
                        <td>{{nonDefaultOffer.endTime}}</td>
                        <td>{{nonDefaultOffer.offerAvailedCount}}</td>
                        <td>{{nonDefaultOffer.registredUsersToday}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisWeek}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisMonth}}</td>
                        <td>{{nonDefaultOffer.totalRegistredUsers}}</td>
                        <td width="15%"><a ng-click="setNonDefaultBeaconNonMemberOffer(nonDefaultOffer.id)" href="javascript:;">Set Active</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-switch-when=2>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</script> 
<!-- set kiosk member default offer -->
<script type="text/ng-template" id="setKioskMemberDefaultOfferDialog">
    <div class="modal-header">
        <div class="alert alert-success" ng-show="successAlert">
            <strong>Success!</strong> Successfully activated the default offer.
        </div>
        <div class="alert alert-danger" ng-show="faliureAlert">
            <strong>Failure!</strong> Failed to active the default offer. Please try again.
        </div>
        <div class="row mbm">
            <div class="col-md-12">
                <h3>Offer List</h3>
                <p>Kiosk member</p>
            </div>
        </div>
    </div>
    <div ng-switch="nonDefaultKioskMemberOfferLoader" class="modal-body">
        <div class="text-center loader-modal-fullscreen" ng-switch-when=0 id="overlay">
            <div id="loader">
                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-modal-center"></i></p>
            </div>
        </div>
        <div id="also-resize" class="table-responsive-beacon-dailog" ng-switch-when="1">
            <table datatable="" dt-options="dtOptionsWithoutButtons" dt-column-defs="dtColumnDefsSetOfferModals" class="table table-striped table-bordered table-hover table-striped table-advanced width-100-percent">
                <thead>
                    <tr>
                        <th>Offer Number</th>
                        <th>Offer Title</th>
                        <th>Category</th>
                        <th>Offer Type</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Availed Count</th>
                        <th>Registered Users Today</th>
                        <th>Registered Users This Week</th>
                        <th>Registered Users This Month</th>
                        <th>Total Registered Users</th>
                        <th>Activate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nonDefaultOffer in nonDefaultKioskMemberOffer">

                        <td>{{nonDefaultOffer.number}}</td>
                        <td><p class="offerTitleElipses">{{nonDefaultOffer.title}}</p></td>
                        <td><span ng-repeat="category in nonDefaultOffer.categories"><p>{{category.name}}</p></span></td>
                        <td>{{nonDefaultOffer.OfferType}}</td>
                        <td>{{nonDefaultOffer.startTime}}</td>
                        <td>{{nonDefaultOffer.endTime}}</td>
                        <td>{{nonDefaultOffer.offerAvailedCount}}</td>
                        <td>{{nonDefaultOffer.registredUsersToday}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisWeek}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisMonth}}</td>
                        <td>{{nonDefaultOffer.totalRegistredUsers}}</td>
                        <td width="15%"><a ng-click="setNonDefaultKioskMemberOffer(nonDefaultOffer.id)" href="javascript:;">Set Active</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-switch-when=2>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</script>
<!-- set beacon non member default offer -->
<script type="text/ng-template" id="setKioskNonMemberDefaultOfferDialog">
    <div class="modal-header">
        <div class="alert alert-success" ng-show="successAlert">
            <strong>Success!</strong> Successfully activated the default offer.
        </div>
        <div class="alert alert-danger" ng-show="faliureAlert">
            <strong>Failure!</strong> Failed to active the default offer. Please try again.
        </div>
        <div class="row mbm">
            <div class="col-md-12">
                <h3>Offer List</h3>
                <p>Kiosk non member</p>
            </div>
        </div>
    </div>
    <div ng-switch="nonDefaultKioskNonMemberOfferLoader" class="modal-body">
        <div class="text-center loader-modal-fullscreen" ng-switch-when=0 id="overlay">
            <div id="loader">
                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-modal-center"></i></p>
            </div>
        </div>
        <div id="also-resize" class="table-responsive-beacon-dailog"  ng-switch-when="1">
            <table datatable="" dt-options="dtOptionsWithoutButtons" dt-column-defs="dtColumnDefsSetOfferModals" class="table table-striped table-bordered table-hover table-striped table-advanced width-100-percent">
                <thead>
                    <tr>
                        <th>Offer Number</th>
                        <th>Offer Title</th>
                        <th>Category</th>
                        <th>Offer Type</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Availed Count</th>
                        <th>Registered Users Today</th>
                        <th>Registered Users This Week</th>
                        <th>Registered Users This Month</th>
                        <th>Total Registered Users</th>
                        <th>Activate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nonDefaultOffer in nonDefaultKioskNonMemberOffer">

                        <td>{{nonDefaultOffer.number}}</td>
                        <td><p class="offerTitleElipses">{{nonDefaultOffer.title}}</p></td>
                        <td><span ng-repeat="category in nonDefaultOffer.categories"><p>{{category.name}}</p></span></td>
                        <td>{{nonDefaultOffer.OfferType}}</td>
                        <td>{{nonDefaultOffer.startTime}}</td>
                        <td>{{nonDefaultOffer.endTime}}</td>
                        <td>{{nonDefaultOffer.offerAvailedCount}}</td>
                        <td>{{nonDefaultOffer.registredUsersToday}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisWeek}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisMonth}}</td>
                        <td>{{nonDefaultOffer.totalRegistredUsers}}</td>
                        <td width="15%"><a ng-click="setNonDefaultKioskNonMemberOffer(nonDefaultOffer.id)" href="javascript:;">Set Active</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-switch-when=2>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</script>

<script type="text/ng-template" id="uploadOffers">

    <div class="alert alert-{{alertMode}}" ng-show="uploaded">
        <strong>{{uploadTitle}}</strong> {{uploadMessage}}
    </div>

    <div class="modal-header">
        <h4 class="modal-title text-center">Import Offers</h4>
    </div>

    <div class="modal-body">
        Please make sure the excel file that you are uploading contains 'Title' and 'Description' columns.
        <p class="sample" ng-click="showSample()">*Show sample</p>
    </div>

    <div class="modal-footer">
        <input type="file" accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" ng-model="termsAndConditionsSheet" onchange="angular.element(this).scope().fileNameChanged(this)" />
        <button ng-click="import()" type="button" class="btn btn-primary purple">
            <i class="fa fa-plus" ng-show="uploadButtonName=='Upload'"></i> {{uploadButtonName}}
            <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="uploadButtonName=='Uploading'"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
    </div>

</script>

<script type="text/ng-template" id="showSample">

    <div class="alert alert-{{alertMode}}" ng-show="uploaded">
        <strong>{{uploadTitle}}</strong> {{uploadMessage}}
    </div>

    <div class="modal-header">
        <h4 class="modal-title text-center">Terms And Conditions Sample Sheet</h4>
    </div>

    <div class="modal-body">
        <iframe class="full-width" src="https://docs.google.com/spreadsheets/d/1_z0ARx7i-Mboxw2R-2FNbOEqFW98Zp18EdKWly2jLic/pubhtml?widget=true&amp;headers=false"></iframe>
        <!--<iframe class="full-width" src="https://docs.google.com/spreadsheets/d/1BLCn9dw7aH_d9bClbZkw4AxP1JkGoK6-QAKGASXs_xA/pubhtml?widget=true&amp;headers=false"></iframe>-->
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary purple" ng-click="download()"><i class="fa fa-download"></i> Download</button>
        <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
    </div>

</script>
