
<div class="sidebar-collapse sidebar-scroll">
  <ul id="sidebar-main" ng-menu="" class="nav">
    <li><a ui-sref="master.dashboard"><i class="icon-speedometer"></i><span class="menu-title">Dashboard</span></a></li>
    <li><a ui-sref="master.stores"><i class="icon-home"></i><span class="menu-title">My Stores</span></a></li>
    <li><a ui-sref="master.kiosks"><i class="icon-screen-tablet"></i><span class="menu-title">Kiosks</span></a></li>
    <li><a ui-sref="master.beacons"><i class="icon-feed"></i><span class="menu-title">Beacons</span></a></li>
    <li><a ui-sref="master.offers"><i class="icon-star"></i><span class="menu-title">Offers</span></a></li>
    <li><a ui-sref="master.users"><i class="icon-user"></i><span class="menu-title">Registered User</span></a></li>
  </ul>
</div>