
<nav id="topbar" role="navigation" class="navbar navbar-default container pln prn main_topBar">
  <div class="container-fluid pln prn">
    <div id="topbar-menu" class="navbar-collapse pln prn">
      <ul class="nav navbar-nav logo-wrapper">
        <li class="btn-menu-toggle">
          <div id="menu-toggle" class="show-collapsed"><i class="fa fa-bars"></i></div>
        </li>
        <li class="pull-left"><a id="logo" href="index.html" class="pan"><img class="img-responsive" src="/libs/assets/images/novomatic-logo.png"/></a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-left topbar-nav">
        <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="icon-calendar"></i><span class="badge badge-warning">1</span></a>
          <ul class="dropdown-menu dropdown-task dropdown-topbar">
            <li>
              <p>You have 1 new tasks</p>
            </li>
            <li>
              <div class="dropdown-slimscroll">
                <ul>
                  <li class="unread"><a href="#" target="_blank">Lorem ipsum dolor sit amet<span class="label label-success pull-right">Html</span><br/><span class="text-muted small">4 mins ago</span></a></li>
                  <li><a href="#" target="_blank">Consectetur adipiscing<span class="label label-info pull-right">CSS</span><br/><span class="text-muted small">12 mins ago</span></a></li>
                  <li><a href="#" target="_blank">Tempor incididunt ut<span class="label label-warning pull-right">Javascript</span><br/><span class="text-muted small">15 mins ago</span></a></li>
                  <li><a href="#" target="_blank">Ut enim ad minim<span class="label label-default pull-right">Fix Bug</span><br/><span class="text-muted small">18 mins ago</span></a></li>
                  <li><a href="#" target="_blank">Sed ut perspiciatis unde omnis<span class="label label-success pull-right">Html</span><br/><span class="text-muted small">2 days ago</span></a></li>
                  <li><a href="#" target="_blank">Sed quia non numquam<span class="label label-info pull-right">CSS</span><br/><span class="text-muted small">2 days ago</span></a></li>
                  <li><a href="#" target="_blank">Lorem ipsum dolor sit<span class="label label-default pull-right">Fix Bug</span><br/><span class="text-muted small">5 days ago</span></a></li>
                </ul>
              </div>
            </li>
            <li class="last"><a href="extra-user-list.html" class="text-right">See all alerts</a></li>
          </ul>
        </li>
        <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="icon-bell"></i><span data-pulsate="{parent:true,onClick:'stop',border:false,speed:800,reach: 20,delay:5000}" class="badge badge-success">2</span></a>
          <ul class="dropdown-menu dropdown-alerts">
            <li>
              <p>You have 2 new notifications</p>
            </li>
            <li>
              <div class="dropdown-slimscroll">
                <ul>
                  <li class="unread"><a href="extra-user-list.html" target="_blank"><span class="label label-info"><i class="fa fa-comment"></i></span>New Comment<span class="pull-right text-muted small">4 mins ago</span></a></li>
                  <li class="unread"><a href="extra-user-list.html" target="_blank"><span class="label label-success"><i class="fa fa-twitter"></i></span>3 New Followers<span class="pull-right text-muted small">12 mins ago</span></a></li>
                  <li><a href="extra-user-list.html" target="_blank"><span class="label label-warning"><i class="fa fa-envelope"></i></span>Message Sent<span class="pull-right text-muted small">15 mins ago</span></a></li>
                  <li><a href="extra-user-list.html" target="_blank"><span class="label label-success"><i class="fa fa-tasks"></i></span>New Task<span class="pull-right text-muted small">18 mins ago</span></a></li>
                  <li><a href="extra-user-list.html" target="_blank"><span class="label label-danger"><i class="fa fa-upload"></i></span>Server Rebooted<span class="pull-right text-muted small">19 mins ago</span></a></li>
                  <li><a href="extra-user-list.html" target="_blank"><span class="label label-success"><i class="fa fa-tasks"></i></span>New Task<span class="pull-right text-muted small">2 days ago</span></a></li>
                  <li><a href="extra-user-list.html" target="_blank"><span class="label label-warning"><i class="fa fa-envelope"></i></span>Message Sent<span class="pull-right text-muted small">5 days ago</span></a></li>
                </ul>
              </div>
            </li>
            <li class="last"><a href="extra-user-list.html" class="text-right">See all alerts</a></li>
          </ul>
        </li>
        <li class="hidden-sm hidden-xs">
          <div id="note-app-toggle" class="btn btn-success btn-xs mlm"><i class="icon-note mrs"></i>Add note</div>
          <div id="note-app-wrapper">
            <div class="note-app-tools"><i data-hover="tooltip" title="New" class="icon-note"></i><i data-hover="tooltip" title="Import" class="fa fa-sign-in"></i><i data-hover="tooltip" title="Save" class="fa fa-save"></i><i data-hover="tooltip" title="Close" class="icon-close"></i>
              <input id="note-app-file" type="file" style="display: none;"/>
            </div>
            <div class="note-app-list"></div>
            <div class="note-app-data">
              <input type="text" placeholder="Enter note title..." class="note-app-title"/>
              <textarea placeholder="Enter note description here..." class="note-app-content"></textarea>
            </div>
          </div>
        </li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <!-- <li id="topbar-chat" class="hidden-xs"><a href="javascript:void(0)" class="btn-chat"><i class="fa fa-comments-o"></i><span class="badge badge-info">3</span></a></li> -->
        <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="icon-user"></i>&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-user pull-right">
            <li>
              <div class="navbar-content">
                <div class="row">
                  <div class="col-md-5 col-xs-5"><img src="http://api.randomuser.me/portraits/men/27.jpg" alt="" class="img-responsive img-circle"/>
                    <p class="text-center mtm"><a href="#" class="change-avatar"><small>Set Avatar</small></a></p>
                  </div>
                  <div class="col-md-7 col-xs-5"><span>Jake Rochleau</span>
                    <p class="text-muted small">example@mail.com</p>
                    <div class="divider"></div><a href="#">
                      <button href="#" class="btn btn-default btn-sm">Edit Profile</button></a>
                  </div>
                </div>
              </div>
              <div class="navbar-footer">
                <div class="navbar-footer-content">
                  <div class="row">
                    <div class="col-md-6 col-xs-6"><a href="#">
                        <button class="btn btn-default btn-sm">Change Password</button></a></div>
                    <div class="col-md-6 col-xs-6"><a href="#">
                        <button href="page-lock-screen.html" class="btn btn-info btn-sm pull-right">Sign Out</button></a></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- <li class="hidden-sm hidden-xs"><a href="javascript:void(0)" class="btn-template-setting"><i class="icon-settings"></i></a></li> -->
      </ul>
    </div>
  </div>
</nav>