﻿<div class="content page-profile">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Reset Password</div>
                </div>
                <div class="panel-body .profile-page-margin" ng-switch="dataLoading">
                    <div ng-switch-when=0 id="overlay">
                        <div id="loader">
                            <p class="text-center font-16"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class=""> Loading</span></p>
                        </div>
                    </div>
                    <div class="row col-md-12" ng-switch-when=1>
                        <div class="col-md-6">
                            <form name="resetPasswordForm" class="form" ng-submit="submitForm(resetPasswordForm.$valid,resetPasswordForm)" novalidate>
                                <div class="header-content text-center">
                                    <div class="alert alert-success" ng-show="successAlert">
                                        <strong>Success!</strong> Successfully added new Account.
                                    </div>
                                    <div class="alert alert-danger" ng-show="faliureAlert">
                                        <strong>Failure!</strong> {{errorMessage}}.
                                    </div>                                   
                                </div>
                                <div class="body-content">
                                    <div role="alert" class="alert alert-danger alert-dismissible alert-custom hide">
                                        <button type="button" data-dismiss="alert" class="close"><span>&times;</span></button>Enter any username and password.
                                    </div>
                                    <p class="text-muted">Enter the details below:</p>
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <input type="password" name="oldPassword" placeholder="Old Password" class="form-control" ng-model="resetPassword.oldPassword" required />
                                            <p class="required required-red"
                                               ng-show="resetPasswordForm.oldPassword.$error.required && submitted">
                                                Please enter old password
                                            </p>
                                        </div>
                                        <div class="list-group-item">
                                            <input type="password" placeholder="New Password" name="newPassword" class="form-control" ng-model="resetPassword.newPassword" required />
                                            <p class="required required-red"
                                               ng-show="resetPasswordForm.newPassword.$error.required && submitted">
                                                Please enter new password
                                            </p>
                                        </div>
                                        <div class="list-group-item">
                                            <input type="password" placeholder="Confirm Password" name="confirmPassword" class="form-control" ng-model="resetPassword.confirmPassword" required />
                                            <p class="required required-red"
                                               ng-show="resetPasswordForm.confirmPassword.$error.required && submitted">
                                                Please confirm password
                                            </p>
                                            <p class="required required-red"
                                               ng-show="passwordNotMatch && submitted">
                                                New password does not match
                                            </p>
                                        </div>
                                    </div>                                    
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <button type="submit" class="text-center btn btn-success purple btn-circle btn-block btn-shadow" ng-disabled="resetPasswordButtonName=='Loading...'">
                                                {{resetPasswordButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="resetPasswordButtonName=='Loading...'"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                       
                    </div>

                    <div ng-switch-when=2>
                        <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
                    </div>
                    <div ng-switch-default>
                        <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>