<div class="col-md-12 p-0">
    <div class="offerDetail-container" style="background: url({{imgsrc}}) no-repeat;background-size:cover; background-repeat:no-repeat; background-position: 50% 50%;">
        <div class="pull-right close-button">
            <a ui-sref="mobile.landing"><i class="fa fa-times"></i></a>
        </div>
        <div class="offer-detail">
            <h4>Congratulations!</h4>
            <p>{{userOffer.title}}</p>
            <p>{{userOffer.description}}</p>
            <p>Member ID : {{userOffer.memberId}}</p>
            <p>Coupon Code : {{userOffer.couponCode}}</p>
            <p ng-show="userOffer.userOfferStatus == 1">We have sent you an email with the details. Please check your inbox.</p>
            <p ng-show="userOffer.userOfferStatus == 2">We have sent you a text message with the details. Please check it.</p>
            <p ng-show="userOffer.userOfferStatus == 3">We have sent you an email and a text message with the details. Please check them.</p>
            <!--<div ng-repeat="category in categories">-->
                <!--<p>You just got {{categories[0].name}}<span>{{categories[0].value}}</span></p>-->
            <!--</div>-->
            <p>You just got</p>
            <div ng-repeat="category in categories">
                <p><span ng-show="category.CategoryUnit=='CURRENCY'"> {{countries[0].currency}}</span><span>{{category.value}}</span> {{category.name}}</p>
            </div>
            <p class="check-inbox">Check your inbox</p>
            <div class="bottom-logo">
                <img src="{{accountImg}}" />
            </div>
        </div>
    </div>
</div> 

<script type="text/ng-template" id="pushNotificationsDialog">
    <div class="modal-header">
        <h4 class="modal-title text-center">Push Notifications</h4>
    </div>
    <div class="modal-body">
        <p>We would like to send you push notifications regarding the latest offers.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="notNow()">Not Now</button>
        <button type="button" class="btn btn-default" ng-click="accept()" autofocus>Accept</button>
    </div>
</script>