﻿<div class="col-md-12 p-0">
    <div class="offerDetail-container" style="background: url({{imgsrc}}) no-repeat;background-size:cover;">
        <div class="pull-right close-button">
            <a ng-click="gotoLanding()"><i class="fa fa-times"></i></a>
        </div>
        <div class="offer-detail">
            <p class="fontsize-26-700">{{beaconOffer.title}}</p>
            <p>{{beaconOffer.description}}</p>
            <button ng-click="gotoNextPage()" class="btn btn-primary orange">Accept</button>
            <a href="javascript:;" ng-click="gotoLanding()">Not now</a>
            <div class="panel-time">
                <p class="CountDownTimer"></p>
            </div>
        </div>
    </div>
</div>