﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption col-md-6">Social Login</div>
                    <div class="col-md-6">
                        <div class="text-right form-group">
                            <button ng-click="openAddSocialLoginModal()" type="button" class="btn btn-primary purple marginTop-10"><i class="fa fa-plus"></i> Social Login</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul id="socialLoginTab" class="nav nav-tabs">
                        <li class="active"><a href="javascript:;" data-target="#selectedProviderList" data-toggle="tab">Selected Providers</a></li>
                        <li><a href="javascript:;" data-target="#listOfAllProviders" data-toggle="tab">Available Providers</a></li>
                    </ul>
                </div>
                <div class="tab-content panel panel-body">
                    <div id="selectedProviderList" class="tab-pane fade active in">
                        <div ng-switch="selectedSocialLoginProvidersLoader">
                            <div class="row mbm col-md-12" ng-switch-when=0>
                                <div class="text-center loader-fullscreen" id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when=1>
                                <div class="col-md-12">
                                    <div ng-show="selectedSocialLoginProviders.length > 0" class="col-md-2 padding-social" ng-repeat="selectedSocialLoginProvider in selectedSocialLoginProviders">
                                        <div class="col-md-12 border-box-social">
                                            <div class="col-md-12 text-center">
                                                <img class="width-100-percent" ng-src="{{selectedSocialLoginProvider.imageUrl}}" />
                                            </div>
                                            <div class="col-md-12 text-center">
                                                {{selectedSocialLoginProvider.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-hide="selectedSocialLoginProviders.length > 0">
                                        <h2 class="text-align-center">List is empty.</h2>
                                    </div>
                                </div>

                            </div>
                            <div ng-switch-when=2>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadSocialLoginProviderData()" class="highlight text-underline">Try again</a></p>
                            </div>
                            <div ng-switch-default>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadSocialLoginProviderData()" class="highlight text-underline">Try again</a></p>
                            </div>
                        </div>
                    </div>
                    <div id="listOfAllProviders" class="tab-pane fade">
                        <div ng-switch="allSocialLoginPorivdersLoader">
                            <div class="row mbm col-md-12" ng-switch-when=0>
                                <div class="text-center loader-fullscreen" id="overlay">
                                    <div id="loader">
                                        <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when=1>
                                <div class="col-md-12">
                                    <div class="col-md-2 padding-social" ng-repeat="socialLoginProvider in allSocialLoginProviders">
                                        <div class="col-md-12 border-box-social">
                                            <div class="col-md-12 text-center">
                                                <img class="width-100-percent" ng-src="{{socialLoginProvider.imageUrl}}" />
                                            </div>
                                            <div class="col-md-12 text-center">
                                                {{socialLoginProvider.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div ng-switch-when=2>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadSelectedSocialLoginProviders()" class="highlight text-underline">Try again</a></p>
                            </div>
                            <div ng-switch-default>
                                <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadSelectedSocialLoginProviders()" class="highlight text-underline">Try again</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--<div ng-switch="addedSocialLoginProviderLoader">
                        <div class="row mbm col-md-12" ng-switch-when=0>
                            <div class="text-center loader-fullscreen" id="overlay">
                                <div id="loader">
                                    <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when=1>
                            <div class="col-md-12">
                                <div class="text-right form-group">
                                    <button ng-click="openAddSocialLoginModal()" type="button" class="btn btn-primary purple marginTop-10"><i class="fa fa-plus"></i> Social Login</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div ng-show="selectedSocialLoginProviders.length > 0" class="col-md-2 padding-social" ng-repeat="selectedSocialLoginProvider in selectedSocialLoginProviders">
                                    <div class="col-md-12 border-box-social">
                                        <div class="col-md-12 text-center">
                                            <img class="width-100-percent" ng-src="{{selectedSocialLoginProvider.imageUrl}}" />
                                        </div>
                                        <div class="col-md-12 text-center">
                                            {{selectedSocialLoginProvider.name}}
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="selectedSocialLoginProviders.length > 0">
                                    <h2 class="text-align-center">List is empty.</h2>
                                </div>
                            </div>

                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadSocialLoginProviderData()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadSocialLoginProviderData()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>-->

                    <!--<div id="runningCodeExample" style="border: 1px solid skyblue; padding: 15px; width: 400px; display: block; height: auto;">
                    <script>
        //{
        //    enabledProviders: 'facebook,twitter,googleplus,linkedin,yahoo,microsoft,myspace,aol,foursquare,vkontakte,renren,QQ,Sina,kaixin'
        //}
        // This method is activated when the page is loaded
        function onLoad() {
            // register for login event
            gigya.socialize.addEventHandlers({
                    context: { str: 'congrats on your' }
                    , onLogin: onLoginHandler
                    , onLogout: onLogoutHandler
                    });
        }
        // onLogin Event handler
        function onLoginHandler(eventObj) {
            alert(eventObj.context.str + ' ' + eventObj.eventName + ' to ' + eventObj.provider
                + '!\n' + eventObj.provider + ' user ID: ' +  eventObj.user.identities[eventObj.provider].providerUID);
            // verify the signature ...
            verifyTheSignature(eventObj.UID, eventObj.timestamp, eventObj.signature);
            // Check whether the user is new by searching if eventObj.UID exists in your database
            var newUser = true; // lets assume the user is new

            if (newUser) {
                // 1. Register user
                // 2. Store new user in DB
                // 3. link site account to social network identity
                //   3.1 first construct the linkAccounts parameters
                var dateStr = Math.round(new Date().getTime()/1000.0); // Current time in Unix format
                                                                    //(i.e. the number of seconds since Jan. 1st 1970)

                var siteUID = 'uTtCGqDTEtcZMGL08w'; // siteUID should be taken from the new user record
                                                   // you have stored in your DB in the previous step
                var yourSig = createSignature(siteUID, dateStr);
                var params = {
                    siteUID: siteUID,
                    timestamp:dateStr,
                    cid:'',
                    signature:yourSig
                };

                //   3.1 call linkAccounts method:
                gigya.socialize.notifyRegistration(params);
            }

            document.getElementById('status').style.color = "green";
            document.getElementById('status').innerHTML = "Status: You are now signed in";
        }
        // Note: the actual signature calculation implementation should be on server side
        function createSignature(UID, timestamp) {
            encodedUID = encodeURIComponent(UID); // encode the UID parameter before sending it to the server.
                                                // On server side use decodeURIComponent() function to decode an encoded UID
            return '';
        }

        // Note: the actual signature calculation implementation should be on server side
        function verifyTheSignature(UID, timestamp, signature) {
            encodedUID = encodeURIComponent(UID); // encode the UID parameter before sending it to the server.
                                                // On server side use decodeURIComponent() function to decode an encoded UID
            alert('Your UID: ' + UID + '\n timestamp: ' + timestamp + '\n signature: ' + signature + '\n Your UID encoded: ' + encodedUID);
        }

        // Logout from Gigya platform. This method is activated when "Logout" button is clicked
        function logoutFromGS() {
            gigya.socialize.logout(); // logout from Gigya platform
        }

        // onLogout Event handler
        function onLogoutHandler(eventObj) {
            document.getElementById('status').style.color = "red";
            document.getElementById('status').innerHTML = "Status: You are now signed out";
        }
        onLoad();
                    </script>

                    <br />
                    <h4>Please sign in using one of the following providers:</h4><br /><br />
                    <div id="loginDiv"></div>
                    <script type="text/javascript">
        gigya.socialize.showLoginUI({
            height: 100
            ,width: 330
            ,showTermsLink:false // remove 'Terms' link
            ,buttonsStyle: 'fullLogo' // Change the default buttons design to "Full Logos" design
            ,showWhatsThis: true // Pop-up a hint describing the Login Plugin, when the user rolls over the Gigya link.
            ,containerID: 'loginDiv' // The component will embed itself inside the loginDiv Div
            ,cid:''
            });
                    </script>
                    <br />
                    <br /><br /><br />
                    <h4>Click the button below to sign out from Gigya platform:</h4><br /><br />
                    <input id="btnLogout" type="button" value="Sign Out"
                           onclick="logoutFromGS()" />
                    <br />
                    <br />
                    <div id="status"></div>
                </div>-->
                    <!--<div class="col-md-12" id="loginDiv2">

                    </div>
                    <br />
                    <br /><br /><br />
                    <h4>Click the button below to sign out from Gigya platform:</h4><br /><br />
                    <input id="btnLogout" type="button" value="Sign Out"
                           ng-click="logoutFromGS()" />
                    <br />
                    <br />
                    <div id="status" class="col-md-12"></div>-->
                </div>
        </div>
    </div>   
</div>
<!-- Work in progress for add social login modal -->
<script type="text/ng-template" id="confirmAddSocialLogin">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully added provider to social login.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Social Login Confirmation</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to confirm the social login for the users through "{{selectedSocialLoginProivder.name}}"? This action is irreversible.
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="addSocialLoginProvider()" ng-disabled="confirmButtonName=='Processing...'">
                {{confirmButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="confirmButtonName=='Processing...'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeAddSocialLoginModal()">Cancel</button>
        </div>
    </div>
</script>

<!-- List for adding social login -->
<script type="text/ng-template" id="addSocialLogin">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully added provider to social login.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Social Login</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div ng-switch="unSelectedSocialLoginProvidersLoader">
                    <div class="row mbm col-md-12" ng-switch-when=0>
                        <div class="text-center loader-fullscreen" id="overlay">
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-switch-when="1">
                        <div class="col-md-2 padding-social" ng-repeat="socialLoginProvider in unSelectedSocialLoginProviders">
                            <div class="col-md-12 border-box-social" ng-class="socialLoginProvider.isEnabled?'disabled':'cursor-pointer'" ng-click="openConfirmAddSocialLoginModal(socialLoginProvider)">
                                <div class="col-md-12 text-center">
                                    <img class="width-100-percent" ng-src="{{socialLoginProvider.imageUrl}}" />
                                    <div class="social-box-checked" ng-show="socialLoginProvider.isEnabled">
                                        <i style="color:lightgreen" class="glyphicon glyphicon-ok text-center"></i>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    {{socialLoginProvider.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when=2>
                        <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="getUnSelectedSocialLoginProviders()" class="highlight text-underline">Try again</a></p>
                    </div>
                    <div ng-switch-default>
                        <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="getUnSelectedSocialLoginProviders()" class="highlight text-underline">Try again</a></p>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</script>



