﻿<div class="content page-profile">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="alert alert-success" ng-show="successAlert">
                    <strong>Success!</strong> Successfully updated profile.
                </div>
                <div class="alert alert-danger" ng-show="faliureAlert">
                    <strong>Failure!</strong> {{errorMessage}}.
                </div>
                <div class="panel-body" ng-switch="dataLoading">
                    <div ng-switch-when=0 id="overlay">
                        <div id="loader">
                            <p class="text-center font-16"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class=""> Loading</span></p>
                        </div>
                    </div>
                    <div class="row" ng-switch-when=1>
                        <form name="editProfileForm" class="form" ng-submit="submitForm(editProfileForm.$valid,editProfileForm)" novalidate>
                            <div class="profile-left-side col-md-3">
                                <div class="user-img text-center"><img ngf-src="editProfileModel.file" class="img-responsive" style="margin: 0 auto;" height="150" /></div>
                                <div class="form-group text-center">
                                    <label class="control-label marginTop-15">Company Logo</label>
                                    <input ng-model="editProfileModel.file" type="file" class="form-control marginTop-10" ngf-select file-input="image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" />
                                   
                                    <!--<p class="required required-red" ng-show="editProfileForm.file.$error.required && submitted">
                    Please upload company logo
                </p>-->
                                </div>
                            </div>
                            <div class="profile-right-side col-md-9">
                                <div class="row">
                                    <div ng-generaltab="" class="col-xs-12">
                                        <h3 style="color: #222" class="mbs mlx plm">Edit Account Profile</h3>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="marginTop-10">
                                   
                                                    <div class="article-body">
                                                        <div class="st-section">
                                                            <div class="form-group">
                                                                <label class="control-label">Company Name</label>
                                                                <input type="text" class="form-control" placeholder="Company Name" name="CompanyName" ng-model="editProfileModel.name" required>
                                                                <p class="required required-red"
                                                                   ng-show="editProfileForm.CompanyName.$invalid && submitted">
                                                                    * Company Name required
                                                                </p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Website</label>
                                                                <input type="text" class="form-control" placeholder="Website" name="Website" ng-model="editProfileModel.website" required>
                                                                <p class="required required-red"
                                                                   ng-show="editProfileForm.Website.$invalid && submitted">
                                                                    * Website required
                                                                </p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Facebook</label>
                                                                <input type="text" class="form-control" placeholder="URL for facebook account" name="Facebook" ng-model="editProfileModel.facebook">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Twitter</label>
                                                                <input type="text" class="form-control" placeholder="URL for twitter account" name="Twitter" ng-model="editProfileModel.twitter">
                                                            </div>
                                                            <div>
                                                                <button type="button" class="btn btn-primary purple" ui-sref="master.profile">Cancel</button>                                                                <button type="submit" class="btn btn-primary purple" ng-disabled="updateButtonName=='Updating'">
                                                                    {{updateButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="updateButtonName=='Updating'"></i>
                                                                </button>
                                                               
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </form>

</div>

                    <div ng-switch-when=2>
                        <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
                    </div>
                    <div ng-switch-default>
                        <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
