﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-9">
                        <div>
                            <h3>Add Template</h3>
                        </div>
                    </div>
                    <div class="col-md-3 padding-top-18">
                        <div class="text-right form-group">
                            <button ng-click="goBack()" type="button" class="btn btn-primary purple">Cancel</button>
                            <button ng-click="savePassTemplate()" type="button" class="btn btn-primary purple">Save</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="javascript:;" data-target="#templateSetting" data-toggle="tab">Template Setting</a></li>
                            <li><a href="javascript:;" data-target="#colorsAndImages" data-toggle="tab">Colors And Images</a></li>
                            <li><a href="javascript:;" data-target="#language" data-toggle="tab">Language</a></li>
                        </ul>
                        <div class="col-md-4 padding-top-10">
                            <div ng-switch="newPassTemplate.passType">
                                <div ng-switch-when="1" class="passPreview" ng-style="{'background-color':backgroundColor}">
                                    <div class="passPreviewLogoSection">
                                        <img class="passPreviewLogoImageSection" ngf-src="logoImageModel" />
                                    </div>
                                    <div>
                                        Transit source destination section
                                    </div>
                                    <div>
                                        Addidtion  information 1
                                    </div>
                                    <div>
                                        Addidtion  information 2
                                    </div>
                                    <div>
                                        Transit source destination section
                                    </div>
                                    <div class="text-align-center">
                                        <img class="passPreviewFooterImage" ngf-src="footerImageModel">
                                    </div>
                                    <div>
                                        Qr code section
                                    </div>
                                </div>
                                <div ng-switch-when="2" class="passPreview" ng-style="{'background-color':backgroundColor}">
                                    <div class="passPreviewLogoSection">
                                        <img class="passPreviewLogoImageSection" ngf-src="logoImageModel" />
                                    </div>
                                    <div class="passPreviewStripSection">
                                        <img class="thumb passPreviewStripSection" ngf-src="stripImageModel">
                                    </div>
                                    <div class="passPreviewAboveBarcode">
                                        <p1>some additional info can be added here</p1>
                                    </div>
                                    <div class="passPreviewBarcodeSection text-align-center">    
                                        <div class="passPervieBarcodeSectionBackground">
                                            <img class="passPreviewBarcodeImage" src="{{demoQrCodeImage}}" />
                                        </div>  
                                    </div>
                                </div>
                                <div ng-switch-when="3" class="passPreview" ng-style="{'background-color':backgroundColor}">
                                    <div class="passPreviewLogoSection">
                                        <img class="passPreviewLogoImageSection" ngf-src="logoImageModel" />
                                    </div>
                                    <div class="passPreviewStripSection">
                                        <img class="thumb passPreviewStripSection" ngf-src="stripImageModel">
                                    </div>
                                    <div class="passPreviewAboveBarcode">
                                        <p1>some additional info can be added here</p1>
                                    </div>
                                    <div class="passPreviewBarcodeSection">
                                        <p1>Barcode section</p1>
                                    </div>
                                </div>
                                <div ng-switch-when="4" class="passPreview" ng-style="{'background-color':backgroundColor}">Membership</div>
                                <div ng-switch-when="5">
                                    <div ng-class="eventImageType==1? 'passPreview':'passPreview' " ng-style="eventImageType==1?{'background-image': 'url('+ backgroundImageModel.$ngfBlobUrl + ')', 'filter':'blur(5px)', 'z-index':'1', 'position': 'absolute'}:{'background-color':backgroundColor, 'position': 'absolute'}">
                                    </div>
                                    <div ng-class="eventImageType==1? 'passPreview':'passPreview' " style="z-index:9999; position: relative">
                                        <div class="passPreviewLogoSection">
                                            <img class="passPreviewLogoImageSection" ngf-src="logoImageModel" />
                                        </div>
                                        <div class="passPreviewThumbnailSection">
                                            <img class="passPreviewThumbnailImageSection" ngf-src="thumbnailImageModel" />
                                        </div>
                                    </div>
                                </div>
                                <div class="passPreview" ng-style="{'background-color':backgroundColor}" ng-switch-default>
                                    <h1>Please select pass type.</h1>
                                </div>
                            </div>
                            <div>
                                <sapn class="offerPreviewTitle">Template Preview</sapn>
                            </div>
                        </div>
                        <div class="tab-content col-md-8">
                            <div id="templateSetting" class="tab-pane fade active in">
                                <div class="col-md-3">
                                    <p>Template Type</p>
                                </div>
                                <div class="col-md-9">
                                    <select data-actions-box="true" ng-options="passType.value as passType.type for passType in passTypes" name="passType" ng-model="newPassTemplate.passType" class="form-control" required>
                                        <option selected value="">Choose pass type</option>
                                    </select>
                                </div>
                                <div class="col-md-3 padding-top-18">
                                    <p>Template Name</p>
                                </div>
                                <div class="col-md-9 padding-top-18">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Title" name="title" ng-model="newPassTemplate.title" required>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <p>Template Timezone</p>
                                </div>
                                <div class="col-md-9">
                                    <select data-actions-box="true" ng-options="timezone.value as timezone.timezone for timezone in timeZones" name="timeZone" ng-model="newPassTemplate.timeZone" class="form-control" required>
                                        <option selected value="">Choose Timezone</option>
                                    </select>
                                </div>
                                <div ng-show="newPassTemplate.passType == 5">
                                    <div class="col-md-3">
                                        <p>Event Ticket Type</p>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="radio" name="gender" ng-model="eventImageType" value=1 checked> Blurred Background Image<br>
                                        <input type="radio" name="gender" ng-model="eventImageType" value=2> Strip Image<br>
                                    </div>
                                </div>
                                <div ng-show="newPassTemplate.passType == 1 || newPassTemplate.passType == 5">
                                    <div class="col-md-3">
                                        <p>Grouping Identifier</p>
                                    </div>
                                    <div class="col-md-9">
                                        Add Grouping identifier for Transit and Event Tickets
                                    </div>
                                </div>
                            </div>
                            <div id="colorsAndImages" class="tab-pane fade">
                                <div class="col-md-3">
                                    <p>Background Color</p>
                                </div>
                                <div class="col-md-9 padding-bottom-12">
                                    <div id="backgroundColorPicker" class="input-group colorpicker-component" title="Using format option">
                                        <input type="text" class="form-control input-lg" value="#305AA2" ng-model="backgroundColor" />
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <p>Label Text Color</p>
                                </div>
                                <div class="col-md-9 padding-bottom-12">
                                    <div id="labelTextColorPicker" class="input-group colorpicker-component" title="Using format option">
                                        <input type="text" class="form-control input-lg" value="#305AA2" ng-model="labelTextColor" />
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <p ng-style="{'text-color': valueTextColor}">Value Text Color</p>
                                </div>
                                <div class="col-md-9 padding-bottom-12">
                                    <div id="valueTextColorPicker" class="input-group colorpicker-component" title="Using format option">
                                        <input type="text" class="form-control input-lg" value="#305AA2" ng-model="valueTextColor" />
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p>Icon Image</p>
                                    <div>
                                        <img class="thumb select-icon-image-zone" ngf-src="iconImageModel">
                                        <div type="file" id="fileInput" class="select-icon-image-zone" ngf-select file-input="iconImage" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ng-model="iconImageModel" ng-hide="iconImageModel"/>
                                        <div>
                                            <button ng-show="iconImageModel" ng-click="removeIcon()">Remove</button>
                                        </div>
                                    </div>
                                    <p>Logo Image</p>
                                    <img  class="thumb select-logo-image-zone" ngf-src="logoImageModel"/>
                                    <div type="file" id="fileInput" class="select-logo-image-zone" ngf-select file-input="logoImage" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ng-model="logoImageModel" ng-hide="logoImageModel"/>
                                    <div>
                                        <button ng-show="logoImageModel" ng-click="removeLogo()">Remove</button>
                                    </div>
                                    <div ng-show="newPassTemplate.passType==3">
                                        <p>Personlization Logo</p>
                                        <div>
                                            <img class="thumb select-logo-image-zone" ngf-src="personalizationLogoImageModel" />
                                            <div type="file" id="fileInput" class="select-logo-image-zone" ngf-select file-input="personalizationLogoImage" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ng-model="personalizationLogoImageModel" ng-hide="personalizationLogoImageModel">
                                             </div>                                            
                                         </div>
                                        <div>
                                            <button ng-show="personalizationLogoImageModel" ng-click="removePersonalizationLogo()">Remove</button>
                                        </div>
                                    </div>
                                    <div ng-show="newPassTemplate.passType==4||newPassTemplate.passType==5">
                                        <p>Thumbnail</p>
                                        <div>
                                            <img class="thumb select-logo-image-zone" ngf-src="thumbnailImageModel" />
                                            <div type="file" id="fileInput" class="select-logo-image-zone" ngf-select file-input="personalizationLogoImage" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ng-model="thumbnailImageModel" ng-hide="thumbnailImageModel">
                                            </div>
                                        </div>
                                        <div>
                                            <button ng-show="thumbnailImageModel" ng-click="removeThumbnailImage()">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div ng-show="newPassTemplate.passType==2 || newPassTemplate.passType==3 || (newPassTemplate.passType==5 && eventImageType == 2 ) ">
                                        <p>Strip Image</p>
                                        <img class="thumb select-strip-image-zone" ngf-src="stripImageModel">
                                        <div type="file" id="fileInput" class="select-strip-image-zone" ngf-select file-input="stripImage" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ng-model="stripImageModel" ng-hide="stripImageModel" ngf-resize="{quality:1, ratio: '270:110', centerCrop: true}" />
                                        <div>
                                            <button ng-show="stripImageModel" ng-click="removeStripImage()">Remove</button>
                                        </div>
                                    </div>
                                    <div ng-show="newPassTemplate.passType==1">
                                        <p>Footer Image</p>
                                        <div class="thumb select-footer-image-zone text-align-center" ng-show="footerImageModel">
                                            <img class="select-footer-image-image-zone" ngf-src="footerImageModel">
                                        </div>
                                        <div type="file" id="fileInput" class="select-footer-image-zone" ngf-select file-input="stripImage" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ng-model="footerImageModel" ng-hide="footerImageModel" />
                                        <div>
                                            <button ng-show="footerImageModel" ng-click="removeFooterImage()">Remove</button>
                                        </div>
                                    </div>
                                    <div ng-show="newPassTemplate.passType==5 && eventImageType == 1">
                                        <p>Background Image</p>
                                        <img class="thumb select-background-image-zone" ngf-src="backgroundImageModel">
                                        <div type="file" id="fileInput" class="select-strip-image-zone" ngf-select file-input="stripImage" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ng-model="backgroundImageModel" ng-hide="backgroundImageModel" />
                                        <div>
                                            <button ng-show="backgroundImageModel" ng-click="removeBackgroundImage()">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="language" class="tab-pane fade">
                                <h1>Here you can set up multilanguage support</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>