﻿<div ng-switch="dataLoader">
    <div class="row panel text-center loader-fullscreen" ng-switch-when=0 id="overlay">
        <div id="loader">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12">{{loadingMessage}}</span>
        </div>
    </div>
    <div class="row" ng-switch-when=1>
        <div class="col-5" ng-repeat="luckyItem in luckyItemsList.luckyItems">
            <div class="form-group">
                <a href="javascript:;" ng-click="goSetKioskOffer(luckyItem.id)"><img class="img-responsive" ng-src="{{getLuckyItemPic(luckyItem.icon)}}"></a>
            </div>
        </div>
    </div>
    <div ng-switch-when=2 class="col-md-12 panel text-center loader-fullscreen">
        <p class="col-md-12 font-16 loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadKioskLuckyItemsData()" class="highlight text-underline">Try again</a></p>
    </div>
    <div ng-switch-default class="col-md-12 panel text-center loader-fullscreen">
        <p class="col-md-12 font-16 loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadKioskLuckyItemsData()" class="highlight text-underline">Try again</a></p>
    </div>
</div>