﻿<div class="content" ng-switch="dataLoader">
    <div class="panel content">
        <div class="row" ng-switch-when=0>
            <div class="col-md-12 text-center loader-fullscreen" id="overlay">
                <div id="loader">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                </div>
            </div>
        </div>
        <div ng-switch-when=1>

        </div>
        <div ng-show="dataLoader === 1">
            <div class="row">
                <div class="col-md-12 dashboard-name">
                    <h1 class="mt-0">{{storeInfo.name}}</h1>
                </div>
                <div class="display-table full-width">
                    <div class="tr">
                        <div class="col-md-4 td">
                            <div class="panel panel-success text-align-center cursor-pointer panel-bordered" ng-click="goToPopularKiosk((storeDashboardData.popularKiosk.hasOwnProperty('id'))?storeDashboardData.popularKiosk.id : '')">
                                <div class="panel-body">
                                    <p title="{{(storeDashboardData.popularKiosk.hasOwnProperty('name'))?storeDashboardData.popularKiosk.name : 'NA'}}" class="dashboard-count dashboard-best-beacon">{{(storeDashboardData.popularKiosk.hasOwnProperty('name'))?storeDashboardData.popularKiosk.name : "NA"}}</p>
                                    <p class="dashboard-count-subtitle">{{(storeDashboardData.popularKiosk.hasOwnProperty('name'))? storeDashboardData.popularKiosk.store.name + "," : "-" }} {{storeDashboardData.popularKiosk.store.country.name}}</p>
                                    <p>Most Popular Kiosk</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 td">
                            <div class="panel panel-success text-align-center cursor-pointer panel-bordered" ng-click="goToPopularBeacon((storeDashboardData.popularBeacon.hasOwnProperty('id'))? storeDashboardData.popularBeacon.id: '')">
                                <div class="panel-body">
                                    <p title="{{(storeDashboardData.popularBeacon.hasOwnProperty('name'))? storeDashboardData.popularBeacon.name: 'NA'}}" class="dashboard-count dashboard-best-beacon">{{(storeDashboardData.popularBeacon.hasOwnProperty('name'))? storeDashboardData.popularBeacon.name: "NA"}}</p>
                                    <p class="dashboard-count-subtitle">{{(storeDashboardData.popularBeacon.hasOwnProperty('name'))?  storeDashboardData.popularBeacon.store.name + "," : "-"}} {{storeDashboardData.popularBeacon.store.country.name}}</p>
                                    <p>Most Popular Beacon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 td">
                            <div class="panel panel-success text-align-center cursor-pointer panel-bordered" ng-click="goToPopularOffer((storeDashboardData.popularOffer.hasOwnProperty('id'))? storeDashboardData.popularOffer.id: '')">
                                <div class="panel-body">
                                    <p title="{{(storeDashboardData.popularOffer.hasOwnProperty('number'))? storeDashboardData.popularOffer.number: 'NA'}}" class="dashboard-count dashboard-best-beacon">{{(storeDashboardData.popularOffer.hasOwnProperty('number'))? storeDashboardData.popularOffer.number: "NA"}}</p>
                                    <p class="dashboard-count-subtitle">{{(storeDashboardData.popularOffer.hasOwnProperty('number'))?storeDashboardData.popularOfferHits: '-'}} Hits</p>
                                    <p>Most Popular Offer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="col-md-4 td">
                            <div class="panel panel-success text-align-center height-125 panel-bordered">
                                <div class="panel-body">
                                    <p title="{{storeDashboardData.Members}}" class="dashboard-count dashboard-best-beacon">{{storeDashboardData.Members}}</p>
                                    <p class="dashboard-count-subtitle">{{storeDashboardData.nonMembers}} Non-Members</p>
                                    <p>Members</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 td">
                            <div class="panel panel-success text-align-center height-125 panel-bordered">
                                <div class="panel-body">
                                    <p title="{{storeDashboardData.kioskCount}}" class="dashboard-count dashboard-best-beacon">{{storeDashboardData.kioskCount}}</p>
                                    <p class="dashboard-count-subtitle"> </p>
                                    <p>Kioks</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 td">
                            <div class="panel panel-success text-align-center height-125 panel-bordered">
                                <div class="panel-body">
                                    <p title="{{storeDashboardData.beaconCount}}" class="dashboard-count dashboard-best-beacon">{{storeDashboardData.beaconCount}}</p>
                                    <p class="dashboard-count-subtitle"> </p>
                                    <p>Beacons</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>


            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default panel-bordered">
                        <div id="TimeVsRegUsers"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default panel-bordered">
                        <div id="CategoriesVsRegUsers"></div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-switch-when=2>
            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
        </div>

        <div ng-switch-default>
            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
        </div>

    </div>


</div>