﻿/*.page-content > .box-content {
    margin: 0 25px;
    padding: 25px 0;
}

.page-content > .box-content > .content {
    display: block;
}*/
#map {
    height: 100%;
    background-color: rgb(229, 227, 223);
  }

#topbar {
    background-color: #533073;
}
#topbar #topbar-menu ul.navbar-nav > li > a:hover, #topbar #topbar-menu ul.navbar-nav > li > a:focus {
    color: #fff;
    background-color: #533073;
}
#topbar #topbar-menu ul.navbar-nav > li.open > a:hover, #topbar #topbar-menu ul.navbar-nav > li.open > a:focus {
    color: #533073;
}
#topbar #topbar-menu ul.navbar-nav.logo-wrapper {
    width: auto;
}
#topbar #topbar-menu ul.navbar-nav > li.open > a {
    color: #fff !important;
    background-color: transparent !important;
}
#page-wrapper {
    background: #F4F4F4;
}
.sidebar-main {
    float: left;
    background-color: #F4F4F4;
}
.page-title-breadcrumb {
    padding: 10px 20px;
    background: #ECEAEA;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 0px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05), 0 0px 0 rgba(0, 0, 0, 0.05);
    height: 70px;
}
.page-title-breadcrumb {
    background: #ECEAEA;
    height: 50px;
    margin: 0 25px;
}
.page-title-breadcrumb .breadcrumb {
    float: left;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    padding-top: 8px;
    background: transparent;
    margin-left: 10px;
}
#footer {
    padding-left: 0;
}
#footer .copyright {
    background-color: #fff;
    color: #C1C1C1;
    padding: 15px 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.sidebar-main ul#sidebar-main > li > a {
    padding: 15px 25px;
    color: #757575;
    font-size: 14px;
}
.sidebar-main ul#sidebar-main > li > a:hover, .sidebar-main ul#sidebar-main > li > a:focus {
    color: #777;
}
.powered-by{
    margin: 0 25px;
    padding: 8px 0px;
}
button.btn.purple {
    background-color: #533073;
    border-color: #533073;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: #fff;
    border-radius: 0px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content .modal-footer {
    padding: 15px;
    text-align: right;
    padding-top: 0px;
    border-top: none;
}
@media (min-width: 992px){
    .col-5 {
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
}
.sidebar-main ul#sidebar-main > li > a:hover, .sidebar-main ul#sidebar-main > li > a:focus {
    color: #fff;
    background-color: #533073;
}
.sidebar-main ul#sidebar-main > li.active > a {
    background-color: #533073;
    color: #fff;
}
.ngdialog-theme-default.modal-large .ngdialog-content{
    width: 900px;
    padding: 0px;
}
.ngdialog-theme-default.modal-large .ngdialog-content .modal-header {
    background: #f5f5f5;
}
.layout-sidebar-collapsed #wrapper #page-wrapper .sidebar-main ul#sidebar-main > li > a > .menu-title {
    background-color: #F4F4F4;
    color: #757575;
}
.required-red{
     color:red;
     font-size: 11px;
 }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #777777;
    background-color: #fff;
    border: 0px solid #533073;
    border-bottom-color: transparent;
    cursor: default;
    border-top: 3px solid #533073;
}
.mb-8{
    margin-bottom:8px;
}
.p-0{
    padding:0px;
}
.offer-panel {
    position: relative;
    cursor: pointer;
}
.panel-text {
    position: absolute;
    z-index: 9999;
    top: 30%;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 4%;
}
.panel-time {
    position: relative;
    /* z-index: 9999; */
    /* bottom: 20px; */
    right: 0;
    left: 0;
    padding: 4px;
    /* bottom: 0; */
    /* width: 20rem; */
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #fff;
    font-size: 13px;
    /* margin-top: 3px; */
    margin: 0 -8%;
}
.panel-text p.sub-text{
    font-size:14px;
}
.panel-time p{
   font-size: 14px!important;
    margin: 0px;
    padding: 4px;
}
.fontsize-26-700{
    font-size: 26px!important;
    font-weight: 700!important;
}
.textWhite{
    color:white!important;
    font-size: 20px!important;
    font-weight:400!important;
}
.marginRightNull{
    margin-right:0!important;
}
.marginLefttNull{
    margin-left:0!important;
}
.panel-text p {
    font-size: 18px;
    margin:0px;
}
.offerDetail-container {
    min-height: 100%;
    height: 100vh;
    background-size: cover;
}
.disabled {
    color:#777777;
    pointer-events: none;
    cursor: default;
}
/*.offerDetail-container:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#000,#000);
	opacity: .5; 
  }*/
.close-button{
    padding:3%;
}
.close-button a{
    color: #fff;
    font-size: 22px;
}
.offer-detail {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    background: rgba(0,0,0,0.7);
    padding: 8%;
}
.offer-detail p {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0px;
}
.offer-detail span {
    color: #ff5722;
    font-weight: 700;
    font-size: 24px;
}
.offer-detail a {
    color: #fff;
    display: block;
    text-decoration: underline;
    margin-top: 14px;
    margin-bottom: 20px;
}
.offer-detail h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.coupon-panel {
    border: 1px solid #fff;
    padding: 4%;
}
.coupon-panel p {
    margin: 0px;
}
.redeem-text{
    font-size: 16px !important;
    margin: 0px;
}
.warning{
    font-size: 10px !important;
    color: red !important;
    float: left !important;
}
.modalCloseBtn{    position: absolute;right: 15px; top: 4px; z-index: 999; font-size: 24px;}
.text-underline {
    text-decoration: underline;
}
.highlight {
    color: #533073;
}
a.highlight:hover{
    color: #533073;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.loader-fullscreen{
    height: 100vh;
}
.loader-modal-fullscreen{
    height: 40vh;
}
.loader-center{
    margin-top: 15%;
}
.loader-modal-center{
    margin-top: 10%;
}
.page-form {
    background: #fff;
    padding: 2% 0;
}
.m-0{
    margin:0px !important;
}
.page-profile .article, .timeline .article {
    border-top: 3px solid #533073;
}

.intl-tel-input {
    display: block;
}
#logo{
    height: 100%;
    display: inline-block;
}
#logo img{
    height: 100%;
    width: auto;
}
.logo-name {
    height: 100%;
    display: inline-block;
    position: relative;
    bottom: 24px;
    margin-left: 12px;
    color: #fff;
    font-size: 24px;
}
.width-200{
    width: 200px;
}
.dataTables_wrapper {
    /*overflow: auto;*/
    min-width:100%;
    width:auto;
}
.table-responsive{
    overflow-x: auto;
}
.userTable .dataTables_wrapper{
    min-width:120%;
}
.termsTable .dataTables_wrapper{
    min-width:90%;
}
.height-500{
    height:500px !important;
}
.height-auto{
    height:auto !important;
}
.ngdialog-theme-default.modal-large .ngdialog-content {
    width: 80%;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.page-form input[type='url']{
    border: 0;
    padding: 0 !important;
}
select.flag-input {
    width: 62px;
    padding: 0px;
    height: 34px;
    padding: 5px;
}
.select2-search {
      display: none;
    }
select.country-code {
    width: 62px;
    padding: 0px;
    height: 34px;
    padding: 5px;
}
.intlPhone .input-group-addon{
    padding: 0px !important;
    background: transparent !important;
    border: none !important;
}
.intlPhone span{
    font-size:13px;
    color: #555;
}
.intlPhone img{
    width: 20px;
}
.select2-container .select2-choice{
    height: 34px;
    margin: 0;
    padding: 0px;
    background: #fff;
    border-radius: 0px;
}
.select2-container .select2-choice .select2-arrow{
    background: transparent;
    border: none;
}
.select2-container .select2-choice > .select2-chosen {
    margin-right: 14px;
    padding-left:4px;
}
.mt-0{
    margin-top:0px !important;
}
.mt-5p{
    margin-top:5%;
}
.mobileOfferTitle{
    font-size:26px;
}

.button.copy {
    height: 21px;
    width: 130px;
    font-size: 10px;
    padding: 1px 12px;
    margin-left: 10px;
    margin-bottom: 2px;
    display: inline-block;
}
.button.copy:hover {
    color: #fff;
    background-color: #533073;
}
.button:hover {
    text-decoration: none;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 16px;
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    font-family: brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #533073;
    -webkit-box-shadow: 0 0 0 1px #533073;
    box-shadow: 0 0 0 1px #533073;
    text-rendering: optimizelegibility;
    border: 0 !important;
    background: #fff;
}
.beacon-url{
    color: #533073;
}
.cursorPointer{
    cursor:pointer;
}

.emailColumnWidth{
    width:8%;
}

.alignRight{
    text-align: right;
}
.alignRightBottom{
    position: absolute;
    right:    0;
    bottom:   0;
    margin-bottom: 10px;
}
.alignCenter{
    text-align: center;
}
 
.popover{
    border: 1px solid #4caf50;
}

/* Popover Body */
.popover-content {
    background-color: #4caf50;
    color: #FFFFFF;
    padding: 0!important;
}

/* Popover Arrow */
.arrow {
    display:none!important;
    border-right-color: #4caf50 !important;
}
.copyContent{
    color: #eee;
    height: 21px;
    display: inline-block;
    font-size: 10px;
    background:  #533073;
    padding: 1px 12px;
    font-weight: 500;
    border-radius: 5px;
    }

.copyContent-1{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 16px;
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    font-family: brandon-grotesque,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #533073;
    -webkit-box-shadow: 0 0 0 1px #533073;
    box-shadow: 0 0 0 1px #533073;
    text-rendering: optimizelegibility;
    border: 0 !important;
    background: #fff;
     height: 21px;
    font-size: 10px;
    padding: 1px 12px;
    margin-left: 10px;
    display: inline-block;
}

.daterangepicker {top: 17%!important;
    border: 1px solid #222;
    left: 44%!important;
    box-shadow: 10px 12px 23px -4px #333!important;}
    .daterangepicker.opensright:after {
            transform: rotate(-86deg) !important;
    top: 63% !important;
    left: -8px !important;
    }
.daterangepicker.opensright:before {
    position: absolute;
    top: 63%!important;
    left: -11px!important;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
    transform: rotate(-86deg)!important;
}

.displayInlineBlock {
    float:left;
    margin-right:20px;
}

.marginTop-15{
    margin-top: 15px;
}

.marginTop-10{
    margin-top: 10px;
}

.marginBottom-10{
    margin-bottom: 10px!important;
}

.marginBottom-30{
    margin-bottom: 30px!important;
}

.imageHeight{
    height: 120vh;
}

.displayInlineBlock {float:left;margin-right:20px;}


/*------Written by GB------*/
.field-info-label{
    font-size: 10px;
    padding: 2px 2px 0px 2px;
    margin-bottom: 1px;
}
.padding-bottom-12{
    padding-bottom: 12px;
}
.width-100-percent{
    width: 100%!important;
    min-width: 100%!important;
}
.currency-span{
    float: left;
    padding: 9.5px 19px 9.5px 15px;
    min-height: 34px;
}
.width-90-percent{
    width: 87% !important;
}
.min-height-34{
    min-height: 34px;
}
.applyBtn{
    color: #fff;
    background-color: #357ebd;
    border-color: #3071a9;
    width: 74px;
}
.cancelBtn{
    width: 74px;
    margin-left: 8px;
}
.dashboard-count{
    font-size: 30px;
    font-weight: 500;
    color: #533073;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.text-align-center{
    text-align: center;
}
.dashboard-name{
     margin-bottom: 17px;
}
.dashboard-best-beacon{
    margin:0px;
    margin-bottom: -6px;
}
.dashboard-count-subtitle{
    color: #533073;
    font-size: 10px;
}
.offer-modal{
    overflow:hidden;
}
/*------Written by GB------*/
.width-auto{
  width:auto !important;
}
.ngdialog-content{
   overflow-y: hidden;
   overflow-x: hidden;
   min-height:350px;
   min-width:80%;
   height: 550px;
}

.table-responsive-beacon-dailog{
    min-height:150px;
    height: 400px;
    min-width:100%;
    overflow-x: hidden;
    overflow-y: auto; 
}
.table-responsive-kiosk-dailog{
    min-height:150px;
    height: 340px;
    min-width:100%;
    overflow-x: hidden;
    overflow-y: auto; 
}
.width-auto-1{
    width:auto !important;
}
.store-dialog .ngdialog-content{
    height:auto !important;
    width:40% !important;
    min-height:auto !important;
    min-width:auto !important;
    overflow:hidden !important;
}
.beacon-dialog .ngdialog-content{
    height:auto !important;
    width:40% !important;
    min-height:auto !important;
    min-width:auto !important;
    overflow:hidden !important;
}

.map-dialog .ngdialog-content{
    height:auto !important;
    width:40% !important;
    min-height:auto !important;
    min-width:auto !important;
    overflow:hidden !important;
}

.notifications-dialog .ngdialog-content{
    height:auto !important;
    width:60% !important;
    min-height:auto !important;
    min-width:auto !important;
    overflow:hidden !important;
}
.coupon-code-checklist .ngdialog-content{
    height:auto !important;
    width:80% !important;
    min-height:auto !important;
    min-width:auto !important;
    overflow:auto !important;
}
.ngdialog-content-kiosk{
   overflow-y: hidden;
   overflow-x: hidden;
   min-height:350px;
   min-width:80%;
   height: 550px;
}
.ngdialog-content-beacon{
   overflow-y: hidden;
   overflow-x: hidden;
   min-height:350px;
   min-width:80%;
   height: 550px;
}



.panel-bordered{
    border:1px solid #ddd;
}
.kiosk-icon{
    width:50px;
    margin:0 auto;
}
.height-103{
    height:103px;
}
.display-flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.full-height{
    height: 100%;
}
.margin-14-0{
    margin:14px 0;
}
span.gap{
    width: 15px;
    display: inline-block;
}
.control-label {
    font-weight: 600;
}
.offerPreview{
    height: 450px;
}
.offer-detail-preview {
    position: absolute;
    width: 91%;
    text-align: center;
    top: 20%;
    background: rgba(0,0,0,0.7);
    padding: 8%;
}
.offer-detail-preview p {
    color: #fff;
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 0px;
}
.offer-detail-preview span {
    color: #ff5722;
    font-weight: 700;
    font-size: 12px;
    float: left;
}
.offer-detail-preview a {
    color: #fff;
    display: block;
    text-decoration: underline;
    margin-top: 14px;
    margin-bottom: 20px;
}
.offer-detail-preview h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.workabble-button-margin {
    margin: 20px;
}
.termsAndConditionsPreview{
    font-size: 10px;
}
.termsAndConditionsPreview:hover{
    cursor: pointer;
}
.row-highlight-color {
    background-color: rgba(145,13,9,0.20)!important;
}
.not-workable-header{
    margin-top: 15px;
    color: #ea2e49;
}
.multiselect-parent{
  width: 100%;
}
.multiselect-parent ul{
  width: 100%;
}
.multiselect-parent button{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}
.multiselect-parent .dropdown-toggle{
    text-align: left;
}
.multiselect-parent .dropdown-toggle span{
    top: 14px;
    position: absolute;
    right: 8px
}
.multiselect-parent .dropdown-menu {
    overflow: hidden!important;
}
/*.multiselect-parent .dropdown-menu {
    display:block;
  width: 570px;
}*/
.padding-15{padding:15px 0!important;}
.padding-28{padding:28px 0!important;}
.margin-20{margin-top: -20px;}
.no-effect-btn:hover{background-color:#ff5722;cursor:default;border:1px solid #ff5722;}
.no-effect:hover{cursor:default;}

.alert-bootstrap-notification{
    border-radius:9px;
}

.view-category-label{
    text-align: left;
    padding: 0px;
    margin-left: 15px;
}

.view-category-value{
    text-align: left;
    padding: 0px;
}

.sample{
    font-size: 12px;
    color: blue;
    font-weight: 700;
}

.sample:hover{
    cursor: pointer;
}
.display-table{
    display:table;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
}
.full-width{
    width:100%;
}
.width-60p{
    width:60%;
}
.offerChecklist-header{
    margin-bottom:35px;
}
.offerChecklistOfferDetails{ 
    width: 89%;
}
.offerChecklistOfferDetailsDailog{ 
    width: 90%;
}
.border-td{
    border:1px solid #ddd;
    padding: 10px 3%;
}
.offerCheckList-couponCodeCenter {
    width:50%;
    padding:100px;
    margin: auto;
    text-align: center;
}
.height-125{
    height:125px;
}
.highcharts-container {
    width:100% !important;
}
.offerTitleElipses{
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.width-120-percent{
    width:120% !important;
}
.width-140-percent{
    width:140% !important;
}

.terms-sample{
    width: 50%;
}

.caption-heading{
    font-size: 17px;
}
.cursor-pointer{
    cursor:pointer;
}
.margin-25px{   
    margin: 25px;
}
.border-box{
    border: 1px solid #dddddd;
    padding: 5px;
    margin: 1px;
}

.border-box-social{
    border: 1px solid #dddddd;
    padding: 5px;
    margin: 3px;
}
.social-box-checked{
    position: absolute;
    width: 88%;
    left: 15px;
    background: rgba(0, 128, 0, 0.62);
    z-index: 999;
    right: 0;
    top: 0;
    bottom: 0;
}
.padding-social{
    padding-left:3px;
    padding-right:3px;
}

.offerPreviewTitle{
    margin-left: 36%;
}
.dataTables_wrapper .dt-buttons {
    position: absolute;
    float: left;
    left: 166px;
}
.dataTables_wrapper .dataTables_length{
    float: left;
    position: absolute;
}
.dataTables_wrapper .dataTables_length label{
    margin: 0px;
}
.colorGrey{
    color: #777777;
}
.padding-top-18{
    padding-top:18px!important;
}
.padding-top-10{
    padding-top:10px!important;
}
.qr-block{
    padding-top:15px;
}
.qr-block h5{
    margin-top: 3px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.passPreview{
    border-radius: 25px;
    border: 1px solid #73AD21;
    width: 272px;
    height: 500px;
}
.passPreviewLogoSection{
    height: 55px;
}
.passPreviewLogoSection{
    height:80px;
}
.passPreviewLogoImageSection{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 17px;
    float: left;
    max-height: 43px!important;
    max-width: 250px!important;
    height: auto;
    width: auto; 
}
.passPreviewThumbnailImageSection{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 17px;
    float: right;
    max-height: 76px!important;
    max-width: 70px!important;
    max-height: 65px;
    min-width: 61px;
    padding-right:10px; 
}
.passPreviewStripSection{
    width: 270px;
    height: 106px;
}
.passPreviewFooterImage{
    display: inline-block;
    text-align: center;
    max-width: 270px;
    width:auto;
    height: 14px!important;
    overflow: hidden;
}
.passPreviewAboveBarcode{
    height: 100px;
}
.passPreviewBarcodeSection{
    height: 175px;
}
.passPreviewBarcodeImage{
    width:120px;
}
.passPervieBarcodeSectionBackground{
    background-color:white;
    padding:5px;
}
.select-icon-image-zone {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid teal;
    cursor: pointer;
}
.select-strip-image-zone {
    display: inline-block;
    width: 362px;
    height: 144px;
    overflow: hidden;
    border: 1px solid teal;
    cursor: pointer;
}
.select-footer-image-zone {
    display: inline-block;
    width: 381px;
    height: 20px;
    overflow: hidden;
    border: 1px solid teal;
    cursor: pointer;
}
.select-footer-image-image-zone {
    display: inline-block;
    text-align: center;
    max-width: 381px;
    width:auto;
    height: 20px!important;
    overflow: hidden;
    cursor: pointer;
}
.select-logo-image-zone{
    display: inline-block;
    max-width: 240px;
    min-width:80px;
    height: 80px;
    border: 1px solid teal;
    cursor: pointer;
}
.select-thumbnail-image-zone{
    display: inline-block;
    width: 80px; 
    height: 80px;
    border: 1px solid teal;
    cursor: pointer;
    overflow: hidden;
}
.select-background-image-zone{
    filter:blur(5px);
    display: inline-block;
    width: 362px;
    height: 144px;
    overflow: hidden;
    border: 1px solid teal;
    cursor: pointer;
}
.colorPickerWidth{
    width:inherit;
}
.thumb {
    cursor: default;
}