<div class="content">
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">Kiosk List</div>
      </div>
      <div class="panel-body">
        <div class="row mbm">
          <div class="col-md-12">
          <!--<div class="text-right form-group">
            <button ng-click="addStore()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Kiosk</button>
          </div>-->          
            <div class="table-responsive">
              <table id="table_id" class="table table-hover table-striped table-advanced">
                <thead>
                  <tr>
                    <!-- <th style="width: 3%; padding: 5px 10px;">
                      <input type="checkbox" class="checkall"/>
                    </th> -->
                    <th width="9%">#</th>
                    <th>Kiosk Name</th>
                    <th>Store</th>
                    <th>Registered Users Today</th>
                    <th>Registered Users This Week</th>
                    <th>Registered Users This Month</th>
                    <th>Total Registered Users</th>
                    <th>Set Offers</th>
                    <th width="12%">Actions</th>
                  </tr>
                  <tbody>
                    <tr ng-repeat="kiosk in kiosks">
                      <!-- <td>
                        <input type="checkbox"/>
                      </td> -->
                      <td>{{kiosk.id}}</td>
                      <td>{{kiosk.name}}</td>
                      <td>{{kiosk.store.name}}</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td><a ng-click="goLuckyCharacters(kiosk.id)" href="javascript:;">Set Offers</a></td>
                        <!--ui-sref="master.luckyCharacters"-->
                      <td>
                      <button type="button" class="btn btn-default btn-xs"><i class="fa fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/ng-template" id="addStoreDialog">
        <div class="modal-header">
            <h4 class="modal-title text-center">Add New Kiosk</h4>
        </div>
        <form>
            <div class="modal-body">              
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Store Name" name="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Store Number" name="">
                </div>
                <div class="form-group">
                    <select class="form-control">
                      <option value="">Country</option>
                    </select>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary purple">Save</button>
            </div>
        </form>
</script> 