﻿<div class="content padding-15">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body padding-15 margin-20" ng-switch="dataLoading">
                    <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                        <div id="loader">
                            <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i></p>
                        </div>
                    </div>
                    <div ng-switch-when=1>
                        <div class="row mbm">
                            <div class="col-md-2">
                                <img class="img-responsive" ng-src="{{getLuckyItemPic(luckyItemInfo.luckyItems[0].icon)}}">
                            </div>
                            <div class="col-md-10">
                                <h3>{{luckyItemInfo.luckyItems[0].name}} Offer List</h3>
                                <p>{{luckyItemInfo.name}}, {{luckyItemInfo.store.name}}, {{luckyItemInfo.store.country.name}}</p>

                            </div>
                        </div>
                        <div class="row mbm">
                            <div class="col-md-12">
                                <ul id="myTab" class="nav nav-tabs">
                                    <li class="active" ng-click="adjustDataTablesColumns()"><a data-target="#defaultOfferMember" data-toggle="tab">Default Offer Member</a></li>
                                    <li class="" ng-click="adjustDataTablesColumns()"><a data-target="#defaultOfferNonMember" data-toggle="tab">Default Offer Non-Member</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content">

                                    <div id="defaultOfferMember" class="tab-pane fade active in" ng-switch="defaultOfferLoader">
                                        <div ng-switch-when=0 id="overlay">
                                            <div id="loader">
                                                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                            </div>
                                        </div>
                                        <!-- Here modify code for non meber offer -->
                                        <div ng-switch-when=1>
                                            <div class="pull-right">
                                                <button ng-disabled="!kioskWorkable" ng-click="setDefaultOfferMember()" type="button" class="btn btn-primary purple">Change</button>
                                            </div>
                                            <div class="row mbm">
                                                <div class="col-md-12">
                                                    <div>
                                                        <table datatable="" dt-options="dtOptionsDefaultOffers" class="table table-advanced table-hover table-striped table-bordered width-100-percent">
                                                            <thead>
                                                                <tr>
                                                                    <th>Offer Number</th>
                                                                    <th>Offer Title</th>
                                                                    <th>Category</th>
                                                                    <th>Offer Type</th>
                                                                    <th>Status</th>
                                                                    <th>Availed Count</th>
                                                                    <th>Registered Users Today</th>
                                                                    <th>Registered Users This Week</th>
                                                                    <th>Registered Users This Month</th>
                                                                    <th>Total Registered Users</th>
                                                                    <th>Created On</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody> 
                                                                <tr>
                                                                    <td><a ui-sref="master.offerDetails({offerId:defaultOfferNonMember.id})">{{defaultOfferMember.number}}</a></td>
                                                                    <td><p class="offerTitleElipses">{{defaultOfferMember.title}}</p></td>
                                                                    <td><span ng-repeat="category in defaultOfferMember.categories"><p>{{category.name}}</p></span></td>
                                                                    <td>{{defaultOfferMember.OfferType}}</td>
                                                                    <td>{{isOfferActive(defaultOfferMember.isCurrentlyActive)}}</td>
                                                                    <td>{{defaultOfferMember.offerAvailedCount}}</td>
                                                                    <td>{{defaultOfferMember.registredUsersToday}}</td>
                                                                    <td>{{defaultOfferMember.registredUsersThisWeek}}</td>
                                                                    <td>{{defaultOfferMember.registredUsersThisMonth}}</td>
                                                                    <td>{{defaultOfferMember.totalRegistredUsers}}</td>
                                                                    <td>{{defaultOfferMember.createdOn | date:'MM/dd/yyyy'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when=2>
                                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadDefaultOffersList()" class="highlight text-underline">Try again</a></p>
                                        </div>
                                        <div ng-switch-default>
                                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadDefaultOffersList()" class="highlight text-underline">Try again</a></p>
                                        </div>
                                    </div>
                                    <div id="defaultOfferNonMember" class="tab-pane fade" ng-switch="defaultOfferLoader">
                                        <div ng-switch-when=0 id="overlay">
                                            <div id="loader">
                                                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                            </div>
                                        </div>
                                        <div ng-switch-when=1>
                                            <div class="pull-right">
                                                <button ng-disabled="!kioskWorkable" ng-click="setDefaultOfferNonMember()" type="button" class="btn btn-primary purple">Change</button>
                                            </div>
                                            <!-- Here modify code for non meber offer -->
                                            <div class="row mbm">
                                                <div class="col-md-12">
                                                    <div>
                                                        <table datatable="" dt-options="dtOptionsDefaultOffers" class="table table-advanced table-hover table-striped table-bordered width-100-percent">
                                                            <thead>
                                                                <tr>
                                                                    <th>Offer Number</th>
                                                                    <th>Offer Title</th>
                                                                    <th>Category</th>
                                                                    <th>Offer Type</th>
                                                                    <th>Status</th>
                                                                    <th>Availed Count</th>
                                                                    <th>Registered Users Today</th>
                                                                    <th>Registered Users This Week</th>
                                                                    <th>Registered Users This Month</th>
                                                                    <th>Total Registered Users</th>
                                                                    <th>Created On</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><a ui-sref="master.offerDetails({offerId:defaultOfferNonMember.id})">{{defaultOfferNonMember.number}}</a></td>
                                                                    <td><p class="offerTitleElipses">{{defaultOfferNonMember.title}}</p></td>
                                                                    <td><span ng-repeat="category in defaultOfferNonMember.categories"><p>{{category.name}}</p></span></td>
                                                                    <td>{{defaultOfferNonMember.OfferType}}</td>
                                                                    <td>{{isOfferActive(defaultOfferNonMember.isCurrentlyActive)}}</td>
                                                                    <td>{{defaultOfferNonMember.offerAvailedCount}}</td>
                                                                    <td>{{defaultOfferNonMember.registredUsersToday}}</td>
                                                                    <td>{{defaultOfferNonMember.registredUsersThisWeek}}</td>
                                                                    <td>{{defaultOfferNonMember.registredUsersThisMonth}}</td>
                                                                    <td>{{defaultOfferNonMember.totalRegistredUsers}}</td>
                                                                    <td>{{defaultOfferNonMember.createdOn | date:'MM/dd/yyyy'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when=2>
                                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadDefaultOffersList()" class="highlight text-underline">Try again</a></p>
                                        </div>
                                        <div ng-switch-default>
                                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadDefaultOffersList()" class="highlight text-underline">Try again</a></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mbm">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <button ng-disabled="!kioskWorkable" ng-click="setOffer()" type="button" class="btn btn-primary purple pull-right">Activate an offer</button>
                                </div>
                                <ul id="myTab" class="nav nav-tabs">
                                    <li class="active" ng-click="adjustDataTablesColumns()"><a data-target="#activeOffers" data-toggle="tab">Active Offers</a></li>
                                    <li class="" ng-click="adjustDataTablesColumns()"><a data-target="#offerHistory" data-toggle="tab">Offer History</a></li>
                                </ul>

                                <div id="myTabContent" class="tab-content">
                                    <div id="activeOffers" class="tab-pane fade active in" ng-switch="activeOfferLoader">

                                        <div ng-switch-when=0 id="overlay">
                                            <div id="loader">
                                                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                            </div>
                                        </div>

                                        <div class="row mbm" ng-switch-when=1>
                                            <div class="col-md-12">
                                                <div>
                                                    <table datatable="" dt-options="dtOptionsWithoutButtons" dt-column-defs="dtColumnDefsActiveOffers" class="table table-advanced table-hover table-striped table-advanced table-bordered width-100-percent">
                                                        <thead>
                                                            <tr>
                                                                <th>Offer Number</th>
                                                                <th>Offer Title</th>
                                                                <th>Category</th>
                                                                <th>OfferType</th>
                                                                <th>Status</th>
                                                                <th>Start Time</th>
                                                                <th>End Time</th>
                                                                <th>Availed Count</th>
                                                                <th>Registered Users Today</th>
                                                                <th>Registered Users This Week</th>
                                                                <th>Registered Users This Month</th>
                                                                <th>Total Registered Users</th>
                                                                <th ng-show="kioskWorkable">Deactive Offer</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="activeOffer in activeOffers">
                                                                <td><a ui-sref="master.offerDetails({ offerId: activeOffer.id })">{{activeOffer.number}}</a></td>
                                                                <td><p class="offerTitleElipses">{{activeOffer.title}}</p></td>
                                                                <td><span ng-repeat="category in activeOffer.categories"><p>{{category.name}}</p></span></td>
                                                                <!--<td class="text-success">Active</td>-->
                                                                <td>{{activeOffer.OfferType}}</td>
                                                                <td>{{isOfferActive(activeOffer.isCurrentlyActive)}}</td>
                                                                <td>{{activeOffer.startTime}}</td>
                                                                <td>{{activeOffer.endTime}}</td>
                                                                <td>{{activeOffer.offerAvailedCount}}</td>
                                                                <td>{{activeOffer.registredUsersToday}}</td>
                                                                <td>{{activeOffer.registredUsersThisWeek}}</td>
                                                                <td>{{activeOffer.registredUsersThisMonth}}</td>
                                                                <td>{{activeOffer.totalRegistredUsers}}</td>
                                                                <td ng-show="kioskWorkable"><a ng-click="deactivateOffer(activeOffer.id)" href="javascript:;">Deactivate</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when=2>
                                            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadActiveOffersList()" class="highlight text-underline">Try again</a></p>
                                        </div>
                                        <div ng-switch-default>
                                            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadActiveOffersList()" class="highlight text-underline">Try again</a></p>
                                        </div>
                                    </div>
                                    <div id="offerHistory" class="tab-pane fade" ng-switch="offerHistoryLoader">
                                        <div ng-switch-when=0 id="overlay">
                                            <div id="loader">
                                                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                            </div>
                                        </div>
                                        <div class="row mbm" ng-switch-when=1>
                                            <div class="col-md-12">
                                                <div>
                                                    <table datatable="" dt-options="dtOptionsWithoutButtons" class="table table-advanced table-hover table-striped table-advanced table-bordered width-100-percent">
                                                        <thead>
                                                            <tr>
                                                                <th>Offer Number</th>
                                                                <th>Offer Title</th>
                                                                <th>Category</th>
                                                                <th>OfferType</th>
                                                                <th>Start Time</th>
                                                                <th>End Time</th>
                                                                <th>Availed Count</th>
                                                                <th>Registered Users Today</th>
                                                                <th>Registered Users This Week</th>
                                                                <th>Registered Users This Month</th>
                                                                <th>Total Registered Users</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="offerHistory in offersHistory">
                                                                <td><a ui-sref="master.offerDetails({ offerId: offerHistory.id })">{{offerHistory.number}}</a></td>
                                                                <td><p class="offerTitleElipses">{{offerHistory.title}}</p></td>
                                                                <td><span ng-repeat="category in offerHistory.categories"><p>{{category.name}}</p></span></td>
                                                                <td>{{offerHistory.OfferType}}</td>
                                                                <td>{{offerHistory.startTime}}</td>
                                                                <td>{{offerHistory.endTime}}</td>
                                                                <td>{{offerHistory.offerAvailedCount}}</td>
                                                                <td>{{offerHistory.registredUsersToday}}</td>
                                                                <td>{{offerHistory.registredUsersThisWeek}}</td>
                                                                <td>{{offerHistory.registredUsersThisMonth}}</td>
                                                                <td>{{offerHistory.totalRegistredUsers}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when=2>
                                            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOffersHistory()" class="highlight text-underline">Try again</a></p>
                                        </div>
                                        <div ng-switch-default>
                                            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOffersHistory()" class="highlight text-underline">Try again</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row mbm">
                          <div class="col-md-12">
                            <table id="table_id" class="table table-responsive table-advanced table-hover table-striped table-advanced">
                              <thead>
                                <tr>
                                  <th>Offer ID</th>
                                  <th>Offer Description</th>
                                  <th>Category</th>
                                  <th>Status</th>
                                  <th>Start Time</th>
                                  <th>End Time</th>
                                  <th>Registered Users Today</th>
                                  <th>Registered Users This Week</th>
                                  <th>Registered Users This Month</th>
                                  <th>Total Registered Users</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>C984</td>
                                  <td>1000 Points Offer</td>
                                  <td>Points</td>
                                  <td class="text-success">Active</td>
                                  <td>12:00 pm 04/05/2017</td>
                                  <td>3:00 pm 04/05/2017</td>
                                  <td>56</td>
                                  <td>321</td>
                                  <td>980</td>
                                  <td>1650</td>
                                </tr>
                                <tr>
                                  <td>C985</td>
                                  <td>1000 Points Offer</td>
                                  <td>Points</td>
                                  <td>Not Active</td>
                                  <td>12:00 pm 04/05/2017</td>
                                  <td>3:00 pm 04/05/2017</td>
                                  <td>56</td>
                                  <td>321</td>
                                  <td>980</td>
                                  <td>1650</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>-->
                    </div>
                    <div ng-switch-when=2>
                        <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
                    </div>
                    <div ng-switch-default>
                        <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="setOfferDialog">
    <div class="modal-header">
        <div class="alert alert-success" ng-show="successAlert">
            <strong>Success!</strong> Successfully activated the offer.
        </div>
        <div class="alert alert-danger" ng-show="faliureAlert">
            <strong>Failure!</strong> Failed to active the offer. Please try again.
        </div>
        <div class="row mbm">
            <div class="col-md-2">
                <img class="img-responsive" ng-src="{{getLuckyItemPic(luckyItemInfo.luckyItems[0].icon)}}">
            </div>
            <div class="col-md-10">
                <h3>{{luckyItemInfo.luckyItems[0].name}} Offer List</h3>
                <p>{{luckyItemInfo.name}}, {{luckyItemInfo.store.name}}, {{luckyItemInfo.store.country.name}}</p>
            </div>
        </div>
    </div>
    <div ng-switch="inactiveOffersLoader" class="modal-body">
        <div ng-switch-when=0>
            <div id="loader" class="text-center loader-modal-fullscreen">
                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-modal-center"></i></p>
            </div>
        </div>

        <div id="also-resize" class="table-responsive-kiosk-dailog" ng-switch-when=1>
            <table datatable="" dt-options="dtOptionsWithoutButtons" dt-column-defs="dtColumnDefsSetOfferModals" class="table table-hover table-advanced table-striped table-bordered width-100-percent">
                <thead>
                    <tr>
                        <th>Offer Number</th>
                        <th>Offer Title</th>
                        <th>Category</th>
                        <th>OfferType</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Availed Count</th>
                        <th>Registered Users Today</th>
                        <th>Registered Users This Week</th>
                        <th>Registered Users This Month</th>
                        <th>Total Registered Users</th>
                        <th>Activate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="inactiveOffer in inactiveOffers">
                        <!--<td><a ui-sref="master.offerDetails({ offerId: inactiveOffer.id })">{{inactiveOffer.number}}</a></td>-->
                        <td>{{inactiveOffer.number}}</td>
                        <td><p class="offerTitleElipses">{{inactiveOffer.title}}</p></td>
                        <td><span ng-repeat="category in inactiveOffer.categories"><p>{{category.name}}</p></span></td>
                        <td>{{inactiveOffer.OfferType}}</td>
                        <td>{{inactiveOffer.startTime}}</td>
                        <td>{{inactiveOffer.endTime}}</td>
                        <td>{{inactiveOffer.offerAvailedCount}}</td>
                        <td>{{inactiveOffer.registredUsersToday}}</td>
                        <td>{{inactiveOffer.registredUsersThisWeek}}</td>
                        <td>{{inactiveOffer.registredUsersThisMonth}}</td>
                        <td>{{inactiveOffer.totalRegistredUsers}}</td>
                        <td width="15%"><a ng-click="setActive(inactiveOffer.id)" href="javascript:;">Set Active</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-switch-when=2>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadInactiveOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadInactiveOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</script>
<!-- Deactivate active offer for Kiosk modal-->
<script type="text/ng-template" id="deactivateOfferDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully deactivated offer for kiosk.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Deactivate Kiosk Offer</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to deactivate offer? This action is irreversible.
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="deactivateOfferAPI(deactivateOfferModel.offerId)" ng-disabled="deactivateButtonName=='Deactivating'">
                {{deactivateButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="deactivateButtonName=='Deactivating'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeDeactivateModal()">Cancel</button>
        </div>
    </div>
</script>

<!-- set kiosk member default offer -->
<script type="text/ng-template" id="setKioskMemberDefaultOfferDialog">
    <div class="modal-header">
        <div class="alert alert-success" ng-show="successAlert">
            <strong>Success!</strong> Successfully activated the default offer.
        </div>
        <div class="alert alert-danger" ng-show="faliureAlert">
            <strong>Failure!</strong> Failed to active the default offer. Please try again.
        </div>
        <div class="row mbm">
            <div class="col-md-12">
                <h3>Offer List</h3>
                <p>Kiosk member</p>
            </div>
        </div>
    </div>
    <div ng-switch="nonDefaultKioskMemberOfferLoader" class="modal-body">
        <div class="text-center loader-modal-fullscreen" ng-switch-when=0 id="overlay">
            <div id="loader">
                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-modal-center"></i></p>
            </div>
        </div>
        <div id="also-resize" class="table-responsive-beacon-dailog" ng-switch-when="1">
            <table datatable="" dt-options="dtOptionsWithoutButtons" dt-column-defs="dtColumnDefsSetOfferModals" class="table table-striped table-bordered table-hover table-striped table-advanced width-100-percent">
                <thead>
                    <tr>
                        <th>Offer Number</th>
                        <th>Offer Title</th>
                        <th>Category</th>
                        <th>Offer Type</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Availed Count</th>
                        <th>Registered Users Today</th>
                        <th>Registered Users This Week</th>
                        <th>Registered Users This Month</th>
                        <th>Total Registered Users</th>
                        <th>Activate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nonDefaultOffer in nonDefaultKioskMemberOffer">

                        <td>{{nonDefaultOffer.number}}</td>
                        <td><p class="offerTitleElipses">{{nonDefaultOffer.title}}</p></td>
                        <td><span ng-repeat="category in nonDefaultOffer.categories"><p>{{category.name}}</p></span></td>
                        <td>{{nonDefaultOffer.OfferType}}</td>
                        <td>{{nonDefaultOffer.startTime}}</td>
                        <td>{{nonDefaultOffer.endTime}}</td>
                        <td>{{nonDefaultOffer.offerAvailedCount}}</td>
                        <td>{{nonDefaultOffer.registredUsersToday}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisWeek}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisMonth}}</td>
                        <td>{{nonDefaultOffer.totalRegistredUsers}}</td>
                        <td width="15%"><a ng-click="setNonDefaultKioskMemberOffer(nonDefaultOffer.id)" href="javascript:;">Set Active</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-switch-when=2>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</script>
<!-- set kiosk non member default offer -->
<script type="text/ng-template" id="setKioskNonMemberDefaultOfferDialog">
    <div class="modal-header">
        <div class="alert alert-success" ng-show="successAlert">
            <strong>Success!</strong> Successfully activated the default offer.
        </div>
        <div class="alert alert-danger" ng-show="faliureAlert">
            <strong>Failure!</strong> Failed to active the default offer. Please try again.
        </div>
        <div class="row mbm">
            <div class="col-md-12">
                <h3>Offer List</h3>
                <p>Kiosk non member</p>
            </div>
        </div>
    </div>
    <div ng-switch="nonDefaultKioskNonMemberOfferLoader" class="modal-body">
        <div class="text-center loader-modal-fullscreen" ng-switch-when=0 id="overlay">
            <div id="loader">
                <p class="text-center font-16"><span class="">{{loadingMessage}}</span><i class="fa fa-spinner fa-spin fa-2x fa-fw loader-modal-center"></i></p>
            </div>
        </div>
        <div id="also-resize" class="table-responsive-beacon-dailog" ng-switch-when="1">
            <table datatable="" dt-options="dtOptionsWithoutButtons" dt-column-defs="dtColumnDefsSetOfferModals" class="table table-striped table-bordered table-hover table-striped table-advanced width-100-percent">
                <thead>
                    <tr>
                        <th>Offer Number</th>
                        <th>Offer Title</th>
                        <th>Category</th>
                        <th>Offer Type</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Availed Count</th>
                        <th>Registered Users Today</th>
                        <th>Registered Users This Week</th>
                        <th>Registered Users This Month</th>
                        <th>Total Registered Users</th>
                        <th>Activate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nonDefaultOffer in nonDefaultKioskNonMemberOffer">

                        <td>{{nonDefaultOffer.number}}</td>
                        <td><p class="offerTitleElipses">{{nonDefaultOffer.title}}</p></td>
                        <td><span ng-repeat="category in nonDefaultOffer.categories"><p>{{category.name}}</p></span></td>
                        <td>{{nonDefaultOffer.OfferType}}</td>
                        <td>{{nonDefaultOffer.startTime}}</td>
                        <td>{{nonDefaultOffer.endTime}}</td>
                        <td>{{nonDefaultOffer.offerAvailedCount}}</td>
                        <td>{{nonDefaultOffer.registredUsersToday}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisWeek}}</td>
                        <td>{{nonDefaultOffer.registredUsersThisMonth}}</td>
                        <td>{{nonDefaultOffer.totalRegistredUsers}}</td>
                        <td width="15%"><a ng-click="setNonDefaultKioskNonMemberOffer(nonDefaultOffer.id)" href="javascript:;">Set Active</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-switch-when=2>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default>
            <p class="font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNonDefaultOffersList()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</script>  