<div class="page-signin">
  <div class="page-form">
    
     <form name="forgotPasswordForm" class="form" ng-submit="submitForm(forgotPasswordForm.$valid,forgotPasswordForm)" novalidate>
            <div class="header-content text-center">
                <div class="alert alert-success" ng-show="successAlert">
                    <strong>Success!</strong> Successfully processed your request. Please check mail.
                </div>
                <div class="alert alert-danger" ng-show="faliureAlert">
                    <strong>Failure!</strong> {{errorMessage}}.
                </div>
                <h1>Forgot Password</h1>
            </div>
            <div class="body-content">
                <div role="alert" class="alert alert-danger alert-dismissible alert-custom hide">
                    <button type="button" data-dismiss="alert" class="close"><span>&times;</span></button>Enter any username and password.
                </div>
                <p>Enter your email to reset your password</p>
                <div class="list-group">
                    <div class="list-group-item">
                        <input type="email" ng-pattern="/^([\w-\.]+)@((?:[\w]+\.)+)([a-zA-Z]{2,4})/" placeholder="Email" name="email" class="form-control" ng-model="forgotPassword.email" required ng-required="true" />
                    </div>
                    <p class="required required-red"
                       ng-show="forgotPasswordForm.email.$invalid && submitted">
                        Please enter valid email ID.
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success btn-circle btn-block btn-shadow mbs purple" ng-disabled="SendButtonName=='Loading...'">{{SendButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="SendButtonName=='Loading...'"></i></button>
                    </div>
                    <div class="col-md-12">
                        <button ui-sref="login" class="text-center btn btn-default btn-circle btn-block btn-shadow">Login</button>
                    </div>
                </div>
            </div>
        </form>
  </div>
</div>