<div class="content">
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="caption">My Stores</div>
      </div>
      <div class="panel-body">
        <div class="row mbm">
          <div class="col-md12">
          <div class="text-right form-group">
            <button ng-click="addStore()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Store</button>
          </div>          
            <div class="table-responsive">
              <table id="table_id" class="table table-hover table-striped table-advanced">
                <thead>
                  <tr>
                    <!-- <th style="width: 3%; padding: 5px 10px;">
                      <input type="checkbox" class="checkall"/>
                    </th> -->
                    <th width="9%">#</th>
                    <th>Store Title</th>
                    <th width="12%">Actions</th>
                  </tr>
                  <tbody>
                    <tr ng-repeat="store in stores">
                      <!-- <td>
                        <input type="checkbox"/>
                      </td> -->
                      <td>{{store.id}}</td>
                      <td>{{store.name}}</td>
                      <td>
                      <button type="button" class="btn btn-default btn-xs"><i class="fa fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/ng-template" id="addStoreDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully added store to the list.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
        <div class="modal-header">
            <h4 class="modal-title text-center">Add New Store</h4>
        </div>
        <form name="addStore" novalidate>
            <div class="modal-body">              
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Store Name" name="StoreName" ng-model="newStore.name" required>
                    <p class="required required-red"
                       ng-show="addStore.StoreName.$invalid && submitted">
                        * Store Name required
                    </p>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Store Number" name="StoreNumber" ng-model="newStore.number" required>
                    <p class="required required-red"
                       ng-show="addStore.StoreNumber.$invalid && submitted">
                        * Store Number required
                    </p>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-options="country.id as country.name for country in countries" name="StoreCountry" ng-model="newStore.country.id" required>
                        <option value="">Country</option>
                    </select>
                    <p class="required required-red"
                       ng-show="addStore.StoreCountry.$invalid && submitted">
                        * Country required
                    </p>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
                <button type="submit" class="btn btn-primary purple" ng-click="saveNewStore()">Save</button>
            </div>
        </form>
</script> 