<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Kiosk List</div>
                </div>
                <div class="panel-body" ng-switch="dataLoader">
                    <div class="row mbm" >
                        <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12">{{loadingMessage}}</span>
                            </div>
                        </div>
                        <div class="col-md-12" ng-switch-when=1>
                            <!--<div class="text-right form-group">
                              <button ng-click="addStore()" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Kiosk</button>
                            </div>-->
                            <div class="table-responsive">
                                <table id="table_id" class="table table-hover table-striped table-advanced">
                                    <thead>
                                        <tr>
                                            <!-- <th style="width: 3%; padding: 5px 10px;">
                                              <input type="checkbox" class="checkall"/>
                                            </th> -->
                                            <th width="9%">Kiosk Number</th>
                                            <th>Kiosk Name</th>
                                            <th>Store</th>
                                            <th>Registered Users Today</th>
                                            <th>Registered Users This Week</th>
                                            <th>Registered Users This Month</th>
                                            <th>Total Registered Users</th>
                                            <th>Set Offer</th>
                                            <!--<th width="12%">Actions</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="kiosk in kiosks">
                                            <!-- <td>
                                              <input type="checkbox"/>
                                            </td> -->
                                            <td>{{kiosk.number}}</td>
                                            <td>{{kiosk.name}}</td>
                                            <td>{{kiosk.store.name}}</td>
                                            <td>{{kiosk.registredUsersToday}}</td>
                                            <td>{{kiosk.registredUsersThisWeek}}</td>
                                            <td>{{kiosk.registredUsersThisMonth}}</td>
                                            <td>{{kiosk.totalRegistredUsers}}</td>
                                            <td><a ng-click="goLuckyCharacters(kiosk.id)" href="javascript:;">Set Offers</a></td>
                                            <!--ui-sref="master.luckyCharacters"-->
                                            <!--<td>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadKiosksList()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadKiosksList()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>