<div class="content">
    <div ng-switch="dashboarDataLoader">
        <div class="col-md-12 panel text-center loader-fullscreen" ng-switch-when=0 id="overlay">
            <div id="loader">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><span class="large-text fa-2x fa-fw col-md-12">{{loadingMessage}}</span>
            </div>
        </div>
        <div ng-switch-when=1>

        </div>
        <div class="col-md-12 panel" ng-show="dashboarDataLoader === 1">
            <div>
                <p ng-show="!kioskWorkable" class="not-workable-header alert alert-danger">Kiosk is not workable</p>
            </div>
            <div class="col-md-8">              
                <h3>{{luckyItemsList.name}}</h3>
                <div class="store-info"><label class="control-label">Store: </label> <a ui-sref="master.storeDetails({storeId : luckyItemsList.store.id})">{{luckyItemsList.store.name}}</a> <label class="control-label">Country: </label> {{luckyItemsList.store.country.name}}</div>
            </div>
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-primary purple ng-binding workabble-button-margin" ng-click="setWorkable()" ng-disabled="workableButtonName=='Wait...'">{{workableButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="workableButtonName=='Wait...'"></i></button>
            </div>

            <div class="col-md-12 panel panel-defaut">
                <div class="panel-body kioskDetails">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="javascript:;" data-target="#stats" data-toggle="tab">Stats</a></li>
                        <li><a href="javascript:;" data-target="#luckyBoard" data-toggle="tab" ng-click="showLuckyboard()">LuckyBoard</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="stats" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel panel-success text-align-center panel-bordered">
                                        <div class="panel-body">
                                            <p title="{{kioskDashboardData.registeredUsers}}" class="dashboard-count dashboard-best-beacon">{{kioskDashboardData.registeredUsers}}</p>
                                            <p>Registered Users</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-success text-align-center panel-bordered">
                                        <div class="panel-body height-103" ng-show="mostPopularLuckyItemIcon!=null">
                                            <img ng-src="{{mostPopularLuckyItemIcon}}" class="img-responsive kiosk-icon" />
                                            <p>Most Popular Lucky Item</p>
                                        </div>
                                        <div class="panel-body" ng-show="mostPopularLuckyItemIcon==null">
                                            <p class="dashboard-count dashboard-best-beacon">-</p>
                                            <p>Most Popular Lucky Item</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-success text-align-center panel-bordered cursor-pointer" ng-click="goToPopularOffer(kioskDashboardData.popularOffer.hasOwnProperty('id')?kioskDashboardData.popularOffer.id:'')">
                                        <div class="panel-body">
                                            <p title="{{kioskDashboardData.popularOffer.hasOwnProperty('number')?kioskDashboardData.popularOffer.number:'-'}}" class="dashboard-count dashboard-best-beacon">{{kioskDashboardData.popularOffer.hasOwnProperty('number')?kioskDashboardData.popularOffer.number:'-'}}</p>
                                            <p>Most Popular Offer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div id="TimeVsRegUsers"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div id="CategoriesVsRegUsers"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="luckyBoard" class="tab-pane fade" >
                                <div ui-view="luckyItems"></div>
                                <div ui-view="setKioskOffer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when=2 class="col-md-12 panel text-center loader-fullscreen">
            <p class="col-md-12 font-16 loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadKiosksData()" class="highlight text-underline">Try again</a></p>
        </div>
        <div ng-switch-default class="col-md-12 panel text-center loader-fullscreen">
            <p class="col-md-12 font-16 loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadKiosksData()" class="highlight text-underline">Try again</a></p>
        </div>
    </div>
</div>
<!-- Kiosk set workable permission modal-->
<script type="text/ng-template" id="setKioskNotWorkableDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully kiosk is set as non workable.
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Set Kiosk as non workable</h4>
    </div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <div>
                    Are you sure you want to set the kiosk "{{luckyItemsList.name}}" as non workable?
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary orange" ng-click="setWorkableAPI()" ng-disabled="setNonWorkableButtonName=='Processing'">
                {{setNonWorkableButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="setNonWorkableButtonName=='Processing'"></i>
            </button>
            <button type="button" class="btn btn-primary purple" ng-click="closeNotWorkableModal()">Cancel</button>
        </div>
    </div>
</script>