<div ng-class="header.boxed" class="fluid">
<!--BEGIN TEMPLATE SETTING-->
      <div ng-include="'/App/templates/states/_includes/template-setting.html'" class="hidden-xs hidden-sm"></div>
      <!--END TEMPLATE SETTING-->
  <!--BEGIN TOPBAR-->
  <div ng-include="'/App/templates/states/_includes/topbar.html'" class="page-header-topbar"></div>
  <!--END TOPBAR-->
  <!--BEGIN HORIZONTAL MENU-->
  <div ng-include="'/App/templates/states/_includes/horizontal-menu.html'" class="page-horizontal-menu"></div>
  <!--END HORIZONTAL MENU-->
  <div id="wrapper">
    <!--BEGIN PAGE WRAPPER-->
    <div id="page-wrapper">
      <!--BEGIN SIDEBAR MAIN-->
      <div ng-include="'/App/templates/states/_includes/sidebar-main.html'" class="sidebar-main sidebar"></div>
      <!--END SIDEBAR MAIN-->
      <!--BEGIN PAGE CONTENT-->
      <div ng-class="[header.animation]" ng-generaltab="" class="page-content animated">
        <!--BEGIN TITLE & BREADCRUMB PAGE-->
        <!-- <div ng-include="'/App/templates/states/_includes/title-breadcrumb.html'" class="page-title-breadcrumb"></div> -->
        <div class="powered-by">
          <label>Powered By: BEST NETWORK SYSTEMS</label>
            <p class="pull-right">{{currentDate | date:'hh:mm a, EEEE, MM/dd/yyyy'}}</p>
        </div>
        <div class="page-title-breadcrumb">
          <ol class="breadcrumb page-breadcrumb">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
            <li ng-repeat="(k,v) in data.breadcrumb" ng-class="{active:$last}" style="display: inline;">
              &nbsp;&nbsp;
              {{v}}
              &nbsp;&nbsp;<i ng-if="!$last" class="fa fa-angle-right"></i>
            </li>
          </ol>
        </div>
        <!--END TITLE & BREADCRUMB PAGE-->
        <div class="box-content">
          <!--BEGIN CONTENT-->
          <div ui-view="dashboard" ></div>
          <div ui-view="stores"></div>
          <div ui-view="kiosks"></div>
          <div ui-view="luckyCharacters"></div>
          <div ui-view="setKioskOffer"></div>
          <div ui-view="beacons"></div>
          <div ui-view="offers"></div>
          <div ui-view="users"></div>
          <!--END CONTENT-->
        </div>
      </div>
      <!--END PAGE CONTENT-->
    </div>
    <!--END PAGE WRAPPER-->
  </div>
  <!--BEGIN FOOTER-->
  <div id="footer">
    <div class="copyright">
      <div class="text-center">Copyright © 2017 Best Network System</div>
    </div>
  </div>
  <!--END FOOTER-->
</div>