<div class="page-profile">   
  <div class="row m-0">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body" ng-switch="dataLoading">
            <div ng-switch-when=0 id="overlay">
                <div id="loader">
                    <p class="text-center font-16"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class=""> Loading</span></p>
                </div>
            </div>
          <div class="row" ng-switch-when=1>
            <div class="profile-left-side col-md-3">
              <div class="user-img text-center"><img src={{imgSrc}} class="img-circle"/></div>
              <!--<div class="social-icon-group">
                <ul class="social-icons list-unstyled list-inline text-center mbl mtl">
                  <li><a href="javascript:void(0)" data-hover="tooltip" data-original-title="facebook" class="facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="javascript:void(0)" data-hover="tooltip" data-original-title="google Plus" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="javascript:void(0)" data-hover="tooltip" data-original-title="twitter" class="twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>
              </div>
              <div class="text-center"><a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-envelope"></i>&nbsp;
                  Send an email</a></div>-->
            </div>
            <div class="profile-right-side col-md-9">
              <div class="row">
                <div ng-generaltab="" class="col-xs-12">
                  <h3 style="color: #222" class="mbs mlx plm">{{accountDetails.name}}</h3>
                  <!--<p class="mlx plm">Jake Rochleau is a freelance developer based in Austin, TX. He runs several open-source projects (such as LabJS), writes books, and speaks at meetups and conferences.</p>-->
                  <div class="row">
                            <div class="col-lg-12">
                              <div class="article article-danger">
                                <div class="article-head">
                                  <h4 class="article-title">Basic Information</h4>
                                </div>
                                <div class="article-body">
                                  <div class="st-section">
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td class="tr-head">Website</td>
                                          <td>{{accountDetails.website}}</td>
                                        </tr>
                                        <!--<tr>
                                          <td class="tr-head">Status</td>
                                          <td> <span class="label label-success">Active</span></td>
                                        </tr>
                                        <tr>
                                          <td class="tr-head">Join</td>
                                          <td>Jun 03, 2014</td>
                                        </tr>-->
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <!--<div class="article-footer"><a ng-click="editProfile()" type="button">Edit</a></div>-->
                              </div>
                            </div>                            
                          </div>
                </div>
              </div>
            </div>
          </div>

            <div ng-switch-when=2>
                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
            </div>
            <div ng-switch-default>
                <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadData()" class="highlight text-underline">Try again</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>