<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Offer List</div>
                </div>
                <div class="panel-body">
                    <div class="row mbm" ng-switch="dataLoader">
                        <div class="col-md-12 text-center loader-fullscreen" ng-switch-when=0 id="overlay">
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text font-16"> {{loadingMessage}}</p>
                            </div>
                        </div>
                        <div class="col-md-12"  ng-switch-when=1>
                            <div class="text-right form-group">
                                <button data-target="#addOfferDialog" ng-click="reloadSelectPicker()" data-toggle="modal" type="button" class="btn btn-primary purple"><i class="fa fa-plus"></i> Offer</button>
                            </div>
                            <div class="table-responsive">
                                
                                <table id="table_id" class="table table-advanced table-hover table-striped table-advanced">
                                    <thead>
                                        <tr>
                                            <th>Offer Number</th>
                                            <th>Offer Description</th>
                                            <th>Category</th>
                                            <th>Offer Type</th>
                                            <th>Registered Users Today</th>
                                            <th>Registered Users This Week</th>
                                            <th>Registered Users This Month</th>
                                            <th>Total Users</th>
                                            <th>Status</th>
                                            <th>Created On</th>
                                            <!--<th width="12%">Actions</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="offer in offers">
                                            <td>{{offer.number}}</td>
                                            <td>{{offer.description}}</td>
                                            <td ><span ng-repeat="category in offer.categories"><p>{{category.name}}</p></span></td>
                                            <td>{{offer.OfferType}}</td>
                                            <td>{{offer.registredUsersToday}}</td>
                                            <td>{{offer.registredUsersThisWeek}}</td>
                                            <td>{{offer.registredUsersThisMonth}}</td>
                                            <td>{{offer.totalRegistredUsers}}</td>
                                            <td><p>Beacon-{{offer.beaconStatus}}</p><p>Kiosk-{{offer.kioskStatus}}</p></td>
                                            <td>{{offer.createdOn}}</td>
                                            <!--<td>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferList()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadOfferList()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addOfferDialog" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade">

    <!--top line comment-->
    <!--<div class="alert alert-success" ng-show="successalert">
        <strong>success!</strong> successfully added offer to the list.
    </div>
    <div class="alert alert-danger" ng-show="faliurealert">
        <strong>failure!</strong> {{errormessage}}.
    </div>-->

    <div class="modal-dialog">
        <div class="ngdialog-close modalCloseBtn" ng-click="clearModal()" data-dismiss="modal"></div>
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-success" ng-show="successAlert">
                    <strong>Success!</strong> Successfully added offer to the list.
                </div>
                <div class="alert alert-danger" ng-show="faliureAlert">
                    <strong>Failure!</strong> {{errorMessage}}.
                </div>
                <h4 class="modal-title text-center">Add New Offer</h4>
            </div>
            <form name="newOfferForm" ng-submit="submit(newOfferForm)" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <!--<select class="form-control" ng-options="country.id as country.name for country in countries" name="country" ng-model="newOffer.country.id" multiple required>
                <option value="">Country</option>
            </select>-->

                                <select data-actions-box="true" ng-options="offerType.value as offerType.type for offerType in offerTypes" name="offerType" ng-model="newOffer.offerType" class="form-control" required>
                                    <option selected value="">Choose offer type</option>
                                </select>
                                
                                <p class="required required-red"
                                   ng-show="newOfferForm.offerType.$error.required && submitted">
                                    * Offer type required
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <!--<select class="form-control" ng-options="country.id as country.name for country in countries" name="country" ng-model="newOffer.country.id" multiple required>
                <option value="">Country</option>
            </select>-->

                                <select id="countryDropdown" data-actions-box="true" multiple="multiple" ng-options="country as country.name for country in countries" name="country" ng-model="newOffer.countries" title="Choose country..." class="selectpicker form-control" required ng-disabled="newOffer.is_country_disabled" ng-change="changeSelectedCountryCurrency()">
                                    <option value="">All</option>
                                </select>
                                <p class="field-info-label">Please select atleast 1 category before selecting country</p>
                                <p class="required required-red"
                                   ng-show="newOfferForm.country.$invalid && submitted">
                                    * Country required
                                </p>
                                <p class="required required-red"
                                       ng-show="InvalidCountryGroupSelected && submitted">
                                           Please select countries of same currency
                                       </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <!--<select class="form-control" ng-options="category.id as category.name for category in categories" name="category" ng-model="newOffer.category.id" required>
                                    <option value="">Category</option>
                                </select>-->
                                <!--{{newOffer.categories}}-->
                                <select data-actions-box="true" multiple="multiple" ng-options="category.id as category.name for category in newOffer.categories"  name="category" ng-checked="onSelectListChange()" ng-model="selectedCategories" title="Choose category..." class="selectpicker form-control" required>
                                    <option value="">All</option>
                                </select>
                                <!--<select ng-model="newOffer.categories" class="selectpicker form-control" required data-actions-box="true" multiple="multiple">
                                    <option data-content="<span class='optionName'>{{category.name}}</span> <input class='optionInputBox' type='text'>" ng-repeat="category in categories"></option>
                                </select>-->

                                <p class="required required-red"
                                   ng-show="newOfferForm.category.$invalid && submitted">
                                    * Category required
                                </p>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Offer Number" name="offerNumber" ng-model="newOffer.number" required>
                                <p class="required required-red"
                                   ng-show="newOfferForm.offerNumber.$invalid && submitted">
                                    * Offer number required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 pull-right">
                            <div ng-repeat="category in newOffer.categories" ng-if="category.is_selected">
                                <!--{{category}}-->
                                <ng-form name="categoryForm">
                                <div class="width-100-percent" ng-class="{'input-group':category.name == 'Cash'}">
                                    
                                    <div class="form-group min-height-34">
                                        <span ng-if="category.name == 'Cash'" class="input-group-addon currency-span">{{selectedCountryCurrency}}</span>
                                        <input ng-if="category.name == 'Cash'" type="text" currency class="width-90-percent form-control " placeholder="{{category.name}}" name="value"  ng-model="category.value" required ng-show="category.is_selected"/>

                                        <input ng-if="category.name != 'Cash'" type="text" class="form-control " placeholder="{{category.name}}" name="value"  ng-model="category.value" required ng-show="category.is_selected"/>


                                        <p class="required required-red"
                                       ng-show="categoryForm.value.$invalid && submitted">
                                        * {{category.name}} required
                                        </p>

                                        </p>
                                    </div>
                                </div>
                                <div>
                                    
                                </div>
                                </ng-form>
                            </div>
                        </div>

                        <!--<div class="col-md-6 pull-right">

                            <input type="number" class="form-control" placeholder="Value" ng-model="newOffer.value" name="value" required />
                            <p class="required required-red"
                               ng-show="newOfferForm.value.$invalid && submitted">
                                * Value required
                            </p>
                        </div>-->

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Title" name="title" ng-model="newOffer.title" required>
                                <p class="required required-red"
                                   ng-show="newOfferForm.title.$invalid && submitted">
                                    * Title required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description" name="description" ng-model="newOffer.description" required>
                                <p class="required required-red"
                                   ng-show="newOfferForm.description.$invalid && submitted">
                                    * Description required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input id="offerDatetime" type="text" name="daterangepicker-date-time date" class="form-control" ng-model="date" placeholder="Time & Date" ng-blur="checkDate()" autocomplete="off">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                </div>
                                <p class="required required-red"
                                   ng-show="dateError && submitted">
                                    * Date required
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                    <input id="offerDuration" type="number" name="duration" placeholder="Offer Duration (Minutes)" class="form-control" ng-model="newOffer.duration" required>
                                    <p class="field-info-label">Offer Duration is the time duration for which user can accept the offer</p>
                                    <p class="required required-red"
                                   ng-show="newOfferForm.duration.$invalid && submitted">
                                    * Offer duration required
                                    </p>
                                </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="file" class="form-control" ngf-select file-input="image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary purple" ng-click="saveNewOffer(newOfferForm)" ng-disabled="saveButtonName=='Saving'">
                        {{saveButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="saveButtonName=='Saving'"></i>
                    </button>
                   
                </div>
            </form>
        </div>
    </div>
</div>
