
<div id="horizontal-menu" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li><a ui-sref="index"><i class="icon-home"></i><span class="menu-title">Dashboard</span></a></li>
    <li><a ui-sref="page_profile"><i class="icon-user"></i><span class="menu-title">User Profile</span></a></li>
    <li><a ui-sref="page_mail"><i class="icon-envelope"></i><span class="menu-title">Mail Box</span></a></li>
    <li class="dropdown"><a ui-sref="#" data-hover="dropdown" class="dropdown-toggle"><i class="icon-screen-desktop"></i><span class="menu-title">Layouts</span></a>
      <ul class="dropdown-menu">
        <li><a ui-sref="layout_full_width"><span class="submenu-title">Full width</span></a></li>
        <li><a ui-sref="layout_boxed"><span class="submenu-title">Boxed</span></a></li>
        <li class="hidden-sm"><a ui-sref="layout_sidebar_collapsed"><span class="submenu-title">Sidebar Collapsed</span></a></li>
        <li class="hidden-sm"><a ui-sref="layout_sidebar_fixed"><span class="submenu-title">Sidebar fixed</span></a></li>
        <li class="hidden-sm"><a ui-sref="layout_sidebar_collapsed_fixed"><span class="submenu-title">Sidebar collapsed & fixed</span></a></li>
        <li><a ui-sref="layout_horizontal_menu"><span class="submenu-title">Horizontal Menu</span></a></li>
        <li><a ui-sref="layout_header_fixed"><span class="submenu-title">Header Fixed</span></a></li>
      </ul>
    </li>
    <li class="dropdown"><a ui-sref="#" data-hover="dropdown" class="dropdown-toggle"><i class="icon-magic-wand"></i><span class="menu-title">UI Elements</span><span class="badge badge-danger">3</span></a>
      <ul class="dropdown-menu">
        <li><a ui-sref="ui_general"><span class="submenu-title">General</span><span class="badge badge-success">10</span></a></li>
        <li><a ui-sref="ui_buttons"><span class="submenu-title">Buttons</span></a></li>
        <li><a ui-sref="ui_typography"><span class="submenu-title">Typography</span></a></li>
        <li><a ui-sref="ui_tabs_accordions"><span class="submenu-title">Tabs & Accordions</span></a></li>
        <li><a ui-sref="ui_icons"><span class="submenu-title">Icons</span></a></li>
        <li><a ui-sref="ui_panels"><span class="submenu-title">Panels</span></a></li>
        <li><a ui-sref="ui_nestable_list"><span class="submenu-title">Nestable List</span></a></li>
        <li><a ui-sref="ui_datepaginator"><span class="submenu-title">Date Paginator</span></a></li>
      </ul>
    </li>
    <li class="dropdown"><a ui-sref="#" data-hover="dropdown" class="dropdown-toggle"><i class="icon-note"></i><span class="menu-title">Forms</span></a>
      <ul class="dropdown-menu">
        <li><a ui-sref="form_components"><span class="submenu-title">Form Component</span><span class="label label-info">8</span></a></li>
        <li><a ui-sref="form_wizard"><span class="submenu-title">Form Wizard</span></a></li>
        <li><a ui-sref="form_select"><span class="submenu-title">Dropdown & Select</span></a></li>
        <li><a ui-sref="form_picker"><span class="submenu-title">Picker</span></a></li>
        <li><a ui-sref="form_dropzone"><span class="submenu-title">Dropzone File Upload</span></a></li>
        <li><a ui-sref="form_multiple_file_upload"><span class="submenu-title">Multiple File Upload</span></a></li>
      </ul>
    </li>
    <li class="dropdown"><a ui-sref="#" data-hover="dropdown" class="dropdown-toggle"><i class="icon-grid"></i><span class="menu-title">Tables</span></a>
      <ul class="dropdown-menu">
        <li><a ui-sref="table_basic"><span class="submenu-title">Basic table</span></a></li>
        <li><a ui-sref="table_responsive"><span class="submenu-title">Responsive table</span></a></li>
        <li><a ui-sref="table_advanced"><span class="submenu-title">Advanced table</span></a></li>
        <li><a ui-sref="table_treegrid"><span class="submenu-title">Treegrid table</span></a></li>
      </ul>
    </li>
    <li class="dropdown"><a ui-sref="#" data-hover="dropdown" class="dropdown-toggle"><i class="icon-book-open"></i><span class="menu-title">Pages</span></a>
      <ul class="dropdown-menu">
        <li><a ui-sref="page_gallery"><span class="submenu-title">Gallery</span></a></li>
        <li><a ui-sref="page_calendar"><span class="submenu-title">Calendar</span></a></li>
        <li><a ui-sref="page_invoice"><span class="submenu-title">Invoice</span></a></li>
        <li><a ui-sref="page_pricing_table"><span class="submenu-title">Pricing Table</span></a></li>
        <li><a ui-sref="page_search"><span class="submenu-title">Search</span></a></li>
        <li><a ui-sref="page_signin"><span class="submenu-title">Sign in</span></a></li>
        <li><a ui-sref="page_signup"><span class="submenu-title">Sign up</span></a></li>
        <li><a ui-sref="page_lock_screen"><span class="submenu-title">Lock screen</span></a></li>
        <li><a ui-sref="page_404"><span class="submenu-title">Page 404</span></a></li>
        <li><a ui-sref="page_500"><span class="submenu-title">Page 500</span></a></li>
      </ul>
    </li>
    <li class="dropdown"><a ui-sref="#" data-hover="dropdown" class="dropdown-toggle"><i class="icon-bar-chart"></i><span class="menu-title">Chart</span><span class="badge badge-warning">8</span></a>
      <ul class="dropdown-menu">
        <li><a ui-sref="charts_chartjs"><span class="submenu-title">ChartJs</span></a></li>
        <li><a ui-sref="charts_flot"><span class="submenu-title">Flot Charts</span></a></li>
        <li><a ui-sref="charts_sparklines"><span class="submenu-title">Sparklines Charts</span></a></li>
      </ul>
    </li>
  </ul>
</div>