
<!-- <div class="page-header pull-left">
  <div class="page-title">{{data.title}}</div>
</div> -->
<ol class="breadcrumb page-breadcrumb">
  <li><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
  <li ng-repeat="(k,v) in data.breadcrumb" ng-class="{active:$last}" style="display: inline;">
    &nbsp;&nbsp;
    {{v}}
    &nbsp;&nbsp;<i ng-if="!$last" class="fa fa-angle-right"></i>
  </li>
</ol>