 <div class="col-md-12 p-0">
    <div class="offerDetail-container" style="background: url({{imgsrc}}) no-repeat;background-size:cover; background-repeat:no-repeat; background-position: 50% 50%;">
        <div class="pull-right close-button">
            <a data-toggle="modal" data-target="#confirm"><i class="fa fa-times"></i></a>
        </div>
        <div class="offer-detail">
            <p>Enter Member ID & </p>
            <span ng-repeat="offerValue in offer.categories track by offerValue.id">
                <p>
                    <span ng-show="offerValue.CategoryUnit=='CURRENCY'" class="marginRightNull">{{offer.countries[0].currency}}</span>
                    <span class="marginLefttNull">{{offerValue.value}}</span> 
                    {{offerValue.name}}
                </p>
            </span>
            <p><span class="textWhite marginRightNull" ng-show="offer.categories.length<2">is</span><span class="textWhite marginRightNull" ng-show="offer.categories.length > 1">are</span> on your way</p>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Member ID" ng-model="userDetails.memberId"/>
                <div class="marginTop-10 forgot-password">
                    <p ng-show="wrongMemberId">Please enter correct member ID!</p>
                </div>   
            </div>
            <div class="marginTop-10 forgot-password">
                <a data-toggle="modal" data-target="#forgotPassword"><p>Forgot member ID?</p></a>
            </div>
            <div>
                <button class="btn btn-primary orange" ng-disabled="submitButtonName=='Please wait ...'" ng-click="submitForm()">{{submitButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="submitButtonName=='Please wait ...'"></i></button>
            </div>
            
            <div ng-show="socialDataLoaderFlag">
                <div class="marginTop-15 font-18" style="color:white">
                    ..... Or Sign In with .....
                </div>
                <div class="marginTop-15" id="socialLogin">
                </div>
            </div>
            <div class="panel-time marginTop-15">
                <p class="CountDownTimer"></p>
            </div>
            <div class="bottom-logo">
                <img src="{{accountImg}}" />
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Offer will be discarded. Are you sure you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="gotoLanding()">Leave</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Stay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="forgotPassword" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="clearEmail()">&times;</button>
                    <h4 class="modal-title">Forgot member ID?</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="showResponse">
                        <div class="alert alert-success" ng-show="successAlert">
                            <strong>Success!</strong> We have sent email to your registered email address. Please check your inbox.
                        </div>
                        <div class="alert alert-danger" ng-show="failureAlert">
                            <strong>Failed!</strong> {{errorMsg}}
                        </div>
                    </div>
                    <div ng-hide="showResponse">
                        <p>Enter your registered email address</p>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email Address" ng-model="emailAddress" />
                            <p class="require" ng-show="submitted && emptyEmail">* Please enter email address</p>
                            <p class="require" ng-show="submitted && invalidEmail">* Please enter valid email address</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-hide="showResponse" type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearEmail()">Cancel</button>
                    <button ng-hide="showResponse" type="button" class="btn btn-primary orange" ng-disabled="submitEmailButtonName=='Please wait...'" ng-click="submitEmail()">{{submitEmailButtonName}}<i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="submitEmailButtonName=='Please wait...'"></i></button>
                    <button ng-show="showResponse" type="button" class="btn btn-primary orange" data-dismiss="modal" ng-click="clearEmail()">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="alreadyAvialed">
        <div class="modal-header">
            <h4 class="modal-title text-center">Already availed!</h4>
        </div>
        <form name="addTerms" novalidate>

            <div class="modal-body">
                <p>You have already availed this offer. Please try again with another offer. Thank you.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="gotoLanding()">Try new offer</button>
            </div>
        </form>
    </script>

</div>