﻿<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="caption">Notifications</div>
                </div>
                <div class="panel-body" ng-switch="notificationUserListLoader">
                    <div class="row mbm col-md-12" ng-switch-when=0>
                        <div class="text-center loader-fullscreen" id="overlay">
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when=1>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div ng-dropdown-required ng-dropdown-multiselect="" name="allowedContactTypes" options="allowedContactTypes" selected-model="notifications.allowedContactTypes" extra-settings="allowedContactTypesDropDownSetting" disable="true" translation-texts="allowedContactTypesButtonText"></div>
                                <!--<select data-actions-box="true" ng-options="contactType.id as contactType.label for contactType in allowedContactTypes" name="contactType" ng-model="notifications.allowedContactTypes" class="form-control" required>
                                    <option selected value="">Users who have:</option>
                                </select>-->
                            </div>
                            <div class="col-md-3">
                                <div ng-dropdown-required ng-dropdown-multiselect="" name="usertTypes" options="userTypes" selected-model="notifications.userTypes" extra-settings="userTypesDropDownSetting" disable="true" translation-texts="userTypesButtonText"></div>
                                <!--<select data-actions-box="true" ng-options="userType.id as userType.label for userType in userTypes" name="contactType" ng-model="notifications.userTypes" class="form-control" required>
                                    <option selected value="">User Type:</option>
                                </select>-->
                            </div>
                            <!--<div class="col-md-3">
                                <select data-actions-box="true" ng-options="contactType.id as contactType.label for contactType in contactTypes" options-class="colorGrey" name="contactType" ng-model="notifications.contactType" class="form-control width-100-percent" required>
                                    <option selected value="">Choose Notification Mode</option>
                                </select>
                            </div>-->
                            <div class="col-md-3" >
                                <select data-actions-box="true" ng-model="notifications.contactType" class="form-control width-100-percent">
                                    <option selected value="" disabled>Choose Notification Mode</option>
                                    <option ng-repeat="contactType in contactTypes" value="{{contactType.id}}" class="colorGrey">{{contactType.label}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <div class="text-right form-group">
                                    <button ng-click="sendNotification(notifications.contactType)" type="button" class="btn btn-primary purple">Send Notification</button>
                                </div>
                            </div>
                           
                                
                            <div ng-switch="notificationUserListLoader">
                                <div class="col-md-12">
                                    <div class="row mbm col-md-12" ng-switch-when=0>
                                        <div class="text-center loader-fullscreen" id="overlay">
                                            <div id="loader">
                                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when=1>
                                        <table datatable="" dt-options="dtOptionsNotifications" dt-column-defs="dtColumnDefsNotificationUserList" class="table table-advanced table-striped table-responsive table-bordered width-100-percent">
                                            <thead>
                                                <tr>
                                                    <th>Select<button ng-click="selectAll()" style="width:100px; margin:5px">Select All</button><button ng-click="deselectAll()" style="width:100px; margin:5px">Deselect All</button></th>
                                                    <th>Last Activity Date</th>
                                                    <th>Last Offer Seen</th>
                                                    <th>Registration Date</th>
                                                    <th>Email ID</th>
                                                    <th>Contact No.</th>
                                                    <th>Has Opted-in for Push Notifications</th>
                                                    <th>Is Member</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="user in notifiactionUsers">
                                                    <td class="alignCenter"><input type="checkbox" ng-model="user.isChecked" ng-change="addOrRemoveContact(user)"/></td>
                                                    <td>{{user.lastAactivityDate}}</td>
                                                    <td><a class="offerTitleElipses" ui-sref="master.offerDetails({ offerId: user.latestOffer.id })">{{user.latestOffer.title}}</a></td>
                                                    <td>
                                                        <p ng-show="user.hasOwnProperty('createdOn')">{{user.createdOn}}</p>
                                                        <p ng-hide="user.hasOwnProperty('createdOn')" class="alignCenter">-</p>
                                                    </td>
                                                    <td>
                                                        <span ng-show="user.hasOwnProperty('contacts')" ng-repeat="contact in user.contacts |filter:{ContactType:'EMAIL'}">{{contact.value}}<br /></span>
                                                        <p ng-hide="user.hasOwnProperty('contacts')" class="alignCenter">-</p>
                                                    </td>
                                                    <td>
                                                        <span ng-show="user.hasOwnProperty('contacts')" ng-repeat="contact in user.contacts |filter:{ContactType:'PHONE'}">
                                                            {{contact.value}}<br />
                                                        </span>
                                                        <p ng-hide="user.hasOwnProperty('contacts')" class="alignCenter">-</p>
                                                    </td>
                                                    <td>
                                                        <span ng-repeat="userDevices in user.userDevices">
                                                            <p class="alignCenter" ng-show="userDevices.hasOwnProperty('push_id') && (userDevices.push_id!='' || userDevices.push_id!= undefined)"><i class="glyphicon glyphicon-ok" style="color:darkseagreen"></i></p>
                                                            <p class="alignCenter" ng-hide="userDevices.hasOwnProperty('push_id') &&(userDevices.push_id!='' || userDevices.push_id!= undefined)"><i class="glyphicon glyphicon-remove" style="color:red"></i></p>
                                                            <span class="alignCenter hidden">
                                                                {{userDevices.hasOwnProperty('push_id')? 'Yes':'No'}}
                                                            </span>
                                                        </span>
                                                        <p class="alignCenter" ng-show="user.userDevices.length==0"><i class="glyphicon glyphicon-remove" style="color:red"></i></p>
                                                        <span class="alignCenter hidden">
                                                            {{user.userDevices.length==0? 'No':''}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <div ng-show="user.UserType=='MEMBER'" class="alignCenter">
                                                            <i class="glyphicon glyphicon-ok" style="color:darkseagreen"></i>
                                                        </div>
                                                        <div ng-show="user.UserType=='NON_MEMBER'" class="alignCenter">
                                                            <i class="glyphicon glyphicon-remove" style="color:red"></i>
                                                        </div>
                                                        <span class="alignCenter hidden">{{user.UserType}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ng-switch-when=2>
                                    <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNotificationUserList()" class="highlight text-underline">Try again</a></p>
                                </div>
                                <div ng-switch-default>
                                    <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadNotificationUserList()" class="highlight text-underline">Try again</a></p>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div ng-switch-when=2>
                        <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadSocialLoginProviderData()" class="highlight text-underline">Try again</a></p>
                    </div>
                    <div ng-switch-default>
                        <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadSocialLoginProviderData()" class="highlight text-underline">Try again</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Send Email notification -->
<script type="text/ng-template" id="sendEmailNotificationDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully sent E-mail to users.
    </div>
    <div class="alert alert-danger" ng-show="isUserWithNoContact">
        <p class="text-align-center">Please note that the E-mail will be sent only to the users who have their Email Id's registered.</p>
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Email</h4>
    </div>
    <form name="sendEmailForm" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-1">
                    <p>TO:</p>
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <span ng-repeat="user in contactList">
                            <span ng-show="user.hasOwnProperty('contacts')" ng-repeat="contact in user.contacts |filter:{ContactType:'EMAIL'}">{{contact.value}}</span><span ng-show="$index<(contactList.length-1) && user.hasOwnProperty('contacts')">, </span>
                        </span>
                    </div>
                    <!--<div class="form-group">
                        <input type="text" class="form-control" placeholder="Email Contacts" name="emailList" ng-model="emailNotificationModel.emailIDList"/>
                        <p class="required required-red"
                           ng-show="sendEmailForm.emailList.$invalid && submitted">
                            * Contacts required
                        </p>
                    </div>-->
                </div>
                <div class="col-md-1">
                    <p>Subject:</p>
                </div>
                <div class="col-md-11 form-group">
                    <input type="text" class="form-control" placeholder="Please enter Subject" name="emailSubject" ng-model="notificationMessage.subject" required/>
                    <p class="required required-red"
                       ng-show="sendEmailForm.emailSubject.$invalid && submitted">
                        * Contacts required
                    </p>
                </div>

                <div class="col-md-1">
                    <p>Message:</p>
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <textarea placeholder="Please enter notification message here." name="emailMessage" ng-model="notificationMessage.message" style="min-width: 100%" rows="5" required></textarea>
                        <p class="required required-red"
                           ng-show="sendEmailForm.emailMessage.$invalid && submitted">
                            * Message required
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeSendEmailNotificationModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="sendNotificationMessage(1)" ng-disabled="sendButtonName=='Processing'">
                {{sendButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="sendButtonName=='Processing'"></i>
            </button>
        </div>
    </form>
</script>

<!-- Send TextMessage notification -->
<script type="text/ng-template" id="sendTextMessageNotificationDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully sent text-message to users.
    </div>
    <div class="alert alert-danger" ng-show="isUserWithNoContact">
        <p class="text-align-center">Please note that the Text Message will be sent only to the users who have their phone numbers registered.</p>
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Text Message</h4>
    </div>
    <form name="sendTextForm" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-1">
                    TO:
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <div>
                            <span ng-repeat="user in contactList"><span ng-show="user.hasOwnProperty('contacts')" ng-repeat="contact in user.contacts |filter:{ContactType:'PHONE'}">{{contact.value}}</span><span ng-show="$index<(contactList.length-1) && user.hasOwnProperty('contacts')">, </span>
                            </span>
                        </div>
                        <!--<input type="text" class="form-control" placeholder="Phone Contacts" name="contactList" ng-model="textNotificationModel.contactList" required>
                        <p class="required required-red"
                           ng-show="sendTextForm.contactList.$invalid && submitted">
                            * Contacts required
                        </p>-->
                    </div>
                </div>
                <div class="col-md-1">
                    <p>Message:</p>
                </div>
                <div class="col-md-11">
                    <textarea placeholder="Please enter notification message here." name="message" ng-model="notificationMessage.message" style="min-width: 100%" rows="5" required></textarea>
                    <p class="required required-red"
                       ng-show="sendTextForm.message.$invalid && submitted">
                        * Message required
                    </p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeSendTextNotificationModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="sendNotificationMessage(2)" ng-disabled="sendButtonName=='Processing'">
                {{sendButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="sendButtonName=='Processing'"></i>
            </button>
        </div>
    </form>
</script>

<!-- Send TextMessage notification -->
<script type="text/ng-template" id="sendPushNotificationDialog">
    <div class="alert alert-success" ng-show="successAlert">
        <strong>Success!</strong> Successfully sent push notifiaction to users.
    </div>
    <div class="alert alert-danger" ng-show="isUserWithNoContact">
        <p class="text-align-center">Please note that the Push Notification will be sent only to the users who have opted in.</p>
    </div>
    <div class="alert alert-danger" ng-show="faliureAlert">
        <strong>Failure!</strong> {{errorMessage}}.
    </div>
    <div class="modal-header">
        <h4 class="modal-title text-center">Push Notifiaction</h4>
    </div>
    <form name="sendPushNotificationForm" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-1">
                    <p>TO:</p>
                </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <div>
                            <span ng-repeat="user in contactList"><span ng-show="user.hasOwnProperty('contacts')" ng-repeat="contact in user.contacts |filter:{ContactType:'PHONE'}">{{contact.value}}</span><span ng-show="$index<(contactList.length-1) && user.hasOwnProperty('contacts')">, </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <p>Message:</p>
                </div>
                <div class="col-md-11">
                    <textarea placeholder="Please enter notification message here." name="message" ng-model="notificationMessage.message" style="min-width: 100%" rows="5" required></textarea>
                    <p class="required required-red"
                       ng-show="sendPushNotificationForm.message.$invalid && submitted">
                        * Message required
                    </p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeSendPushNotificationModal()">Cancel</button>
            <button type="submit" class="btn btn-primary purple" ng-click="sendNotificationMessage(3)" ng-disabled="sendButtonName=='Processing'">
                {{sendButtonName}} <i class="fa fa-circle-o-notch fa-spin fa-x fa-fw" ng-show="sendButtonName=='Processing'"></i>
            </button>
        </div>
    </form>
</script>





