<div class="content">
    <div class="row">
        <div class="col-md-12" ng-switch="dataLoader">
            <div class="col-md-12 panel text-center loader-fullscreen" id="overlay" ng-switch-when=0>
                <div id="loader">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                </div>
            </div>
            <div class="panel" ng-switch-when=1>
                <div class="panel-heading">
                    <div class="caption">User {{userDetail.memberId}}</div>
                </div>
                <div class="panel-body">
                    <div class="row mbm">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Member ID:</label> {{userDetail.memberId}}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email ID:</label> <span ng-repeat="contact in userDetail.contacts |filter:{ContactType:'EMAIL'}">{{contact.value}}</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Contact #:</label> <span ng-repeat="contact in userDetail.contacts |filter:{ContactType:'PHONE'}"><p>{{contact.country.countryCode}} {{contact.value}}</p></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Registration Date:</label> {{userDetail.createdOn}}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Registration Store:</label> <a ui-sref="master.storeDetails({storeId: userDetail.device.store.id})">{{userDetail.device.store.name}}</a>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Registration Kiosk/Beacon:</label>
                                <a ng-show="userDetail.device.DeviceType=='KIOSK'" ui-sref="master.kioskDetails({kioskId: userDetail.device.id})">{{userDetail.device.name}}</a>
                                <a ng-show="userDetail.device.DeviceType=='BEACON'" ui-sref="master.viewBeacon({beaconId:userDetail.device.id})">{{userDetail.device.name}}</a>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label">Registration Offer:</label><a ui-sref="master.offerDetails({ offerId: userDetail.offer.id })"> {{userDetail.offer.title}}</a>
</div>
                        </div>                     
                    </div>
                    <div class="row" ng-switch="tableDataLoader">
                        <div class="text-center loader-fullscreen" id="overlay" ng-switch-when=0>
                            <div id="loader">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw loader-center"></i><p class="large-text fa-2x fa-fw col-md-12"> {{loadingMessage}}</p>
                            </div>
                        </div>
                        <div class="col-md-12" ng-switch-when=1>
                            <h4>Activities</h4>
                            <div>
                                <table datatable="" dt-options="dtOptionsMemberDetails" dt-column-defs="dtColumnDefsMemberDetails" class="table table-advanced table-striped table-responsive table-bordered width-100-percent">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Kiosk</th>
                                            <th>Beacon</th>
                                            <th>Offer Seen</th>
                                            <th>Availed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="userActivity in userActivities">
                                            <td>{{$index + 1}}</td>
                                            <td>{{userActivity.userDate}}</td>
                                            <td>
                                                <div ng-hide="userActivity.device.DeviceType=='KIOSK'">-</div>
                                                <div ng-show="userActivity.device.DeviceType=='KIOSK'"><a ui-sref="master.kioskDetails({kioskId: userActivity.device.id})">{{userActivity.device.name}}</a></div>
                                            </td>
                                            <td>
                                                <div ng-show="userActivity.device.DeviceType=='BEACON'"><a ui-sref="master.viewBeacon({beaconId:userActivity.device.id})">{{userActivity.device.name}}</a></div>
                                                <div ng-hide="userActivity.device.DeviceType=='BEACON'">-</div>
                                            </td>
                                            <td width="25%"><a class="offerTitleElipses" ui-sref="master.offerDetails({ offerId: userActivity.offer.id })">{{userActivity.offer.title}}</a></td>
                                            <td>
                                                <div ng-show="userActivity.is_availed" class="alignCenter"><i class="glyphicon glyphicon-ok" style="color:darkseagreen"></i></div>
                                                <div ng-hide="userActivity.is_availed" class="alignCenter"><i class="glyphicon glyphicon-remove" style="color:red"></i></div>
                                                <span hidden>{{userActivity.is_availed?'Yes':'No'}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>

                            </div>
                            
                        </div>
                        <div ng-switch-when=2>
                            <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUserActivities()" class="highlight text-underline">Try again</a></p>
                        </div>
                        <div ng-switch-default>
                            <p class="col-md-12 font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUserActivities()" class="highlight text-underline">Try again</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-when=2 class="col-md-12 panel">
                <p class="font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUserDetails()" class="highlight text-underline">Try again</a></p>
            </div>
            <div ng-switch-default class="panel col-md-12">
                <p class="font-16 text-center loader-fullscreen loader-center">Something went wrong!!! Please <a href="javascript:;" ng-click="reloadUserDetails()" class="highlight text-underline">Try again</a></p>
            </div>
        </div>
    </div>
</div>