﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-controller="appCtrl" lang="en" ng-app="bns">
<head>
    <title>You Just Won...</title>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Click here to avail this offer" />
    <meta name="keywords" content="games,test" />
    <meta name="author" content="Novomatic" />

    <!-- Gigya Social login script -->
    <!--<script type="text/javascript" lang="javascript" src="https://cdns.gigya.com/js/gigya.js?apikey=3_mK2cmEzLkzhqe4MUrtPncxbv4wKsYAhsew0iVwhVUls3c_Jx_HLX434jAVpq5M_W">
    </script>-->
    <!-- Loading css-->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="libs/global/vendors/simple-line-icons/simple-line-icons.css" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="libs/assets/vendors/bootstrap-switch/css/bootstrap-switch.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.0/css/bootstrap-select.css" />
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css" />
    <!-- DataTable styles -->
    <!-- Dialog css -->
    <link href="libs/global/css/ngDialog.css" rel="stylesheet" type="text/css">
    <link href="libs/global/css/ngDialog-theme-default.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="libs/assets/vendors/google-code-prettify/prettify.css" />
    <link type="text/css" rel="stylesheet" href="libs/global/css/core.css" />
    <link type="text/css" rel="stylesheet" href="libs/assets/css/system.css" />
    <link type="text/css" rel="stylesheet" href="libs/assets/css/system-responsive.css" />
    <link type="text/css" rel="stylesheet" href="App/app.css" />

    <!--social Login API key-->
    <script type="text/javascript" lang="javascript"
            src="https://cdns.gigya.com/js/gigya.js?apikey=3_mK2cmEzLkzhqe4MUrtPncxbv4wKsYAhsew0iVwhVUls3c_Jx_HLX434jAVpq5M_W">
    </script>
    <!-- Loading script for each page using LazyLoad-->
</head>
<body ng-class="[header.layout_menu]">
    <div ui-view="mobile" class="content"></div>

    <!-- Loading Angular libs-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="libs/js/libs/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="libs/js/libs/angular-route.js"></script>
    <script src="libs/js/libs/angular-ui-router.js"></script>
    <script src="libs/js/libs/ocLazyLoad.js"></script>
    <script src="libs/js/libs/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
    <!-- Loading jQuery libs-->
    <script src="libs/global/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="libs/global/js/jquery-ui.js"></script>
    <script src="libs/global/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/global/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="libs/global/js/html5shiv.js"></script>
    <script src="libs/global/js/respond.min.js"></script>
    <script src="libs/global/vendors/iCheck/icheck.min.js"></script>
    <script src="libs/global/vendors/iCheck/custom.min.js"></script>
    <script src="libs/assets/vendors/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="libs/assets/vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="libs/assets/vendors/jquery-cookie/js.cookie.js"></script>
    <script src="libs/assets/vendors/bootstrap-datepaginator/moment.js"></script>
    <!-- Datatable scripts -->
    <script src="/libs/assets/vendors/bootstrap-daterangepicker/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.0/js/bootstrap-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.js"></script>
    <!-- Dialog scripts -->
    <script src="libs/global/js/ngDialog.js"></script>
    <!-- Loading core javascript-->
    <script src="App/app.js"></script>
    <script src="App/constants.js"></script>
    <!-- Loading Angular modules -->
    <script src="App/Mobile/mobile.js"></script>
    <script src="App/Mobile/congoNewUser/congoNewUser.js"></script>
    <script src="App/Mobile/congoUser/congoUser.js"></script>
    <script src="App/Mobile/getMemberID/getMemberID.js"></script>
    <script src="App/Mobile/getUserDetail/getUserDetail.js"></script>
    <script src="App/Mobile/landing/landing.js"></script>
    <script src="App/Mobile/viewOffer/viewOffer.js"></script>
    <script src="App/Mobile/viewBeaconOffer/viewBeaconOffer.js"></script>
    <script src="App/Services/ApiService.js"></script>
    <script src="App/Services/TokenService.js"></script>
    <script src="Scripts/ng-file-upload.js"></script>
    <script src="Scripts/ngStorage.min.js"></script>
    <script src="Scripts/fingerprint2.min.js"></script>
    <!--<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>-->
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <!--<script src="Scripts/firebase-messaging-sw.js"></script>-->

</body>
</html>